openapi: 3.0.3
info:
  title: PortOne B2b Payments API
  version: 1.16.0
servers:
- url: https://api.portone.io
  description: 운영환경 서버
tags:
- name: Payments
paths:
  /payments/{paymentId}/billing-key:
    post:
      summary: 빌링키 결제
      description: '빌링키 결제


        빌링키로 결제를 진행합니다.'
      operationId: payWithBillingKey
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingKeyPaymentInput'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `PromotionPayMethodDoesNotMatchError`: 결제수단이 프로모션에 지정된 것과 일치하지 않는 경우

            * `DiscountAmountExceedsTotalAmountError`: 프로모션 할인 금액이 결제 시도 금액 이상인 경우

            * `MaxTransactionCountReachedError`: 결제 혹은 본인인증 시도 횟수가 최대에 도달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '404':
          description: '* `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우

            * `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '409':
          description: '* `AlreadyPaidError`: 결제가 이미 완료된 경우

            * `SumOfPartsExceedsTotalAmountError`: 면세 금액 등 하위 항목들의 합이 전체 결제 금액을 초과한 경우

            * `BillingKeyAlreadyDeletedError`: 빌링키가 이미 삭제된 경우

            * `PaymentScheduleAlreadyExistsError`: 결제 예약건이 이미 존재하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 빌링키 결제
      x-portone-description: 빌링키로 결제를 진행합니다.
      x-portone-error:
        $ref: '#/components/schemas/PayWithBillingKeyError'
      tags:
      - Payments
  /payments/{paymentId}/cancel:
    post:
      summary: 결제 취소
      description: '결제 취소


        결제 취소를 요청합니다.'
      operationId: cancelPayment
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPaymentBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `NegativePromotionAdjustedCancelAmountError`: 프로모션에 의해 조정된 취소 금액이 음수인 경우

            * `PromotionDiscountRetainOptionShouldNotBeChangedError`: 프로모션 혜택 유지 옵션을 이전 부분 취소와 다른 것으로 입력한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우

            * `PaymentAlreadyCancelledError`: 결제가 이미 취소된 경우

            * `CancellableAmountConsistencyBrokenError`: 취소 가능 잔액 검증에 실패한 경우

            * `CancelAmountExceedsCancellableAmountError`: 결제 취소 금액이 취소 가능 금액을 초과한 경우

            * `SumOfPartsExceedsCancelAmountError`: 면세 금액 등 하위 항목들의 합이 전체 취소 금액을 초과한 경우

            * `CancelTaxFreeAmountExceedsCancellableTaxFreeAmountError`: 취소 면세 금액이 취소 가능한 면세 금액을 초과한 경우

            * `CancelTaxAmountExceedsCancellableTaxAmountError`: 취소 과세 금액이 취소 가능한 과세 금액을 초과한 경우

            * `MaxCancelCountReachedError`: 취소 시도 횟수가 초과된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 취소
      x-portone-description: 결제 취소를 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelPaymentError'
      tags:
      - Payments
  /payments/{paymentId}/cancellations/{cancellationId}/stop:
    post:
      summary: 결제 취소 요청 취소
      description: '결제 취소 요청 취소


        비동기적으로 수행되는 결제 취소 요청을 취소합니다.

        Triple-A에서만 사용됩니다.'
      operationId: stopPaymentCancellation
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      - name: cancellationId
        in: path
        description: 취소 요청 아이디
        required: true
        schema:
          type: string
        x-portone-title: 취소 요청 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopPaymentCancellationBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentCancellationResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentCancellationError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentCancellationError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentCancellationError'
        '404':
          description: '* `PaymentCancellationNotFoundError`: 결제 취소 내역이 존재하지 않는 경우

            * `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentCancellationError'
        '409':
          description: '* `PaymentCancellationNotPendingError`: 결제 취소 내역이 취소 요청 상태가 아닌 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentCancellationError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentCancellationError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 취소 요청 취소
      x-portone-description: '비동기적으로 수행되는 결제 취소 요청을 취소합니다.

        Triple-A에서만 사용됩니다.'
      x-portone-error:
        $ref: '#/components/schemas/StopPaymentCancellationError'
      tags:
      - Payments
  /payments/{paymentId}/capture:
    post:
      summary: 수동 매입
      description: '수동 매입


        수동 매입을 요청합니다. PG 및 포트원과의 사전 협의가 필요합니다.'
      operationId: capturePayment
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapturePaymentBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapturePaymentResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapturePaymentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapturePaymentError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapturePaymentError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapturePaymentError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapturePaymentError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapturePaymentError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 수동 매입
      x-portone-description: 수동 매입을 요청합니다. PG 및 포트원과의 사전 협의가 필요합니다.
      x-portone-error:
        $ref: '#/components/schemas/CapturePaymentError'
      tags:
      - Payments
  /payments/{paymentId}/cash-receipt/cancel:
    post:
      summary: 현금 영수증 취소
      description: '현금 영수증 취소


        현금 영수증 취소를 요청합니다.'
      operationId: cancelCashReceiptByPaymentId
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      - name: storeId
        in: query
        description: '상점 아이디


          접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 상점 아이디
        x-portone-description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
        '404':
          description: '* `CashReceiptNotIssuedError`: 현금영수증이 발급되지 않은 경우

            * `CashReceiptNotFoundError`: 현금영수증이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.cashReceipt
      x-portone-title: 현금 영수증 취소
      x-portone-description: 현금 영수증 취소를 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelCashReceiptError'
      tags:
      - Payments
  /payments/{paymentId}/cash-receipt:
    get:
      summary: 현금 영수증 단건 조회
      description: '현금 영수증 단건 조회


        주어진 결제 아이디에 대응되는 현금 영수증 내역을 조회합니다.'
      operationId: getCashReceiptByPaymentId
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      - name: storeId
        in: query
        description: '상점 아이디


          접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 상점 아이디
        x-portone-description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
      responses:
        '200':
          description: 성공 응답으로 현금 영수증 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashReceipt'
          x-portone-description: 성공 응답으로 현금 영수증 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptError'
        '404':
          description: '* `CashReceiptNotFoundError`: 현금영수증이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.cashReceipt
      x-portone-title: 현금 영수증 단건 조회
      x-portone-description: 주어진 결제 아이디에 대응되는 현금 영수증 내역을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetCashReceiptError'
      tags:
      - Payments
  /payments/{paymentId}/confirm:
    post:
      summary: 인증 결제 수동 승인
      description: '인증 결제 수동 승인


        수동 승인으로 설정된 인증 결제에 대해, 결제를 완료 처리합니다.'
      operationId: confirmPayment
      parameters:
      - name: paymentId
        in: path
        description: 결제 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 아이디
      requestBody:
        description: 결제 승인 요청 정보
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentBody'
        required: true
        x-portone-title: 결제 승인 요청 정보
      responses:
        '200':
          description: 성공 응답으로 결제 승인 결과를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmedPaymentSummary'
          x-portone-title: 성공 응답으로 결제 승인 결과를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `InvalidPaymentTokenError`: 유효하지 않은 결제 토큰인 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentError'
        '409':
          description: '* `AlreadyPaidError`: 결제가 이미 완료된 경우

            * `InformationMismatchError`: 정보가 일치하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPaymentError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 인증 결제 수동 승인
      x-portone-description: 수동 승인으로 설정된 인증 결제에 대해, 결제를 완료 처리합니다.
      x-portone-error:
        $ref: '#/components/schemas/ConfirmPaymentError'
      tags:
      - Payments
  /payments/{paymentId}/escrow/complete:
    post:
      summary: 에스크로 구매 확정
      description: '에스크로 구매 확정


        에스크로 결제를 구매 확정 처리합니다'
      operationId: confirmEscrow
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmEscrowBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 에스크로 구매 확정
      x-portone-description: 에스크로 결제를 구매 확정 처리합니다
      x-portone-error:
        $ref: '#/components/schemas/ConfirmEscrowError'
      tags:
      - Payments
  /payments/{paymentId}/escrow/logistics:
    post:
      summary: 에스크로 배송 정보 등록
      description: '에스크로 배송 정보 등록


        에스크로 배송 정보를 등록합니다.'
      operationId: applyEscrowLogistics
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterEscrowLogisticsBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 에스크로 배송 정보 등록
      x-portone-description: 에스크로 배송 정보를 등록합니다.
      x-portone-error:
        $ref: '#/components/schemas/ApplyEscrowLogisticsError'
      tags:
      - Payments
    patch:
      summary: 에스크로 배송 정보 수정
      description: '에스크로 배송 정보 수정


        에스크로 배송 정보를 수정합니다.'
      operationId: modifyEscrowLogistics
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyEscrowLogisticsBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 에스크로 배송 정보 수정
      x-portone-description: 에스크로 배송 정보를 수정합니다.
      x-portone-error:
        $ref: '#/components/schemas/ModifyEscrowLogisticsError'
      tags:
      - Payments
  /payments/{paymentId}/instant:
    post:
      summary: 수기 결제
      description: '수기 결제


        카드 비인증 결제 또는 가상 계좌 발급을 API로 요청합니다.'
      operationId: payInstantly
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantPaymentInput'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `PromotionPayMethodDoesNotMatchError`: 결제수단이 프로모션에 지정된 것과 일치하지 않는 경우

            * `DiscountAmountExceedsTotalAmountError`: 프로모션 할인 금액이 결제 시도 금액 이상인 경우

            * `MaxTransactionCountReachedError`: 결제 혹은 본인인증 시도 횟수가 최대에 도달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '404':
          description: '* `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '409':
          description: '* `AlreadyPaidError`: 결제가 이미 완료된 경우

            * `SumOfPartsExceedsTotalAmountError`: 면세 금액 등 하위 항목들의 합이 전체 결제 금액을 초과한 경우

            * `PaymentScheduleAlreadyExistsError`: 결제 예약건이 이미 존재하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 수기 결제
      x-portone-description: 카드 비인증 결제 또는 가상 계좌 발급을 API로 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/PayInstantlyError'
      tags:
      - Payments
  /payments/{paymentId}/pre-register:
    post:
      summary: 결제 정보 사전 등록
      description: '결제 정보 사전 등록


        결제 정보를 사전 등록합니다.'
      operationId: preRegisterPayment
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreRegisterPaymentBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentError'
        '409':
          description: '* `AlreadyPaidError`: 결제가 이미 완료된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 정보 사전 등록
      x-portone-description: 결제 정보를 사전 등록합니다.
      x-portone-error:
        $ref: '#/components/schemas/PreRegisterPaymentError'
      tags:
      - Payments
  /payments/{paymentId}/register-store-receipt:
    post:
      summary: 영수증 내 하위 상점 거래 등록
      description: '영수증 내 하위 상점 거래 등록


        결제 내역 매출전표에 하위 상점의 거래를 등록합니다.

        지원되는 PG사:

        KG이니시스(이용 전 콘솔 -> 결제연동 탭에서 INIApi Key 등록 필요)'
      operationId: registerStoreReceipt
      parameters:
      - name: paymentId
        in: path
        description: 등록할 하위 상점 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 등록할 하위 상점 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterStoreReceiptBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 영수증 내 하위 상점 거래 등록
      x-portone-description: '결제 내역 매출전표에 하위 상점의 거래를 등록합니다.

        지원되는 PG사:

        KG이니시스(이용 전 콘솔 -> 결제연동 탭에서 INIApi Key 등록 필요)'
      x-portone-error:
        $ref: '#/components/schemas/RegisterStoreReceiptError'
      tags:
      - Payments
  /payments/{paymentId}/resend-webhook:
    post:
      summary: 웹훅 재발송
      description: '웹훅 재발송


        웹훅을 재발송합니다.'
      operationId: resendWebhook
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendWebhookBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `MaxWebhookRetryCountReachedError`: 동일한 webhook id에 대한 수동 재시도 횟수가 최대에 도달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우

            * `WebhookNotFoundError`: 웹훅 내역이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 웹훅 재발송
      x-portone-description: 웹훅을 재발송합니다.
      x-portone-error:
        $ref: '#/components/schemas/ResendWebhookError'
      tags:
      - Payments
  /payments/{paymentId}/schedule:
    post:
      summary: 결제 예약
      description: '결제 예약


        결제를 예약합니다.'
      operationId: createPaymentSchedule
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentScheduleBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
        '404':
          description: '* `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
        '409':
          description: '* `AlreadyPaidOrWaitingError`: 결제가 이미 완료되었거나 대기중인 경우

            * `SumOfPartsExceedsTotalAmountError`: 면세 금액 등 하위 항목들의 합이 전체 결제 금액을 초과한 경우

            * `BillingKeyAlreadyDeletedError`: 빌링키가 이미 삭제된 경우

            * `PaymentScheduleAlreadyExistsError`: 결제 예약건이 이미 존재하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.paymentSchedule
      x-portone-title: 결제 예약
      x-portone-description: 결제를 예약합니다.
      x-portone-error:
        $ref: '#/components/schemas/CreatePaymentScheduleError'
      tags:
      - Payments
  /payments/{paymentId}/transactions:
    get:
      summary: 결제 시도 내역 조회
      description: '결제 시도 내역 조회


        주어진 아이디에 대응되는 결제 건의 결제 시도 내역을 조회합니다.'
      operationId: getPaymentTransactions
      parameters:
      - name: paymentId
        in: path
        description: 조회할 결제 아이디
        required: true
        schema:
          type: string
        x-portone-title: 조회할 결제 아이디
      - name: storeId
        in: query
        description: 상점 아이디
        required: false
        schema:
          type: string
        x-portone-title: 상점 아이디
      responses:
        '200':
          description: 성공 응답으로 결제 시도 이력을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsResponse'
          x-portone-title: 성공 응답으로 결제 시도 이력을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 시도 내역 조회
      x-portone-description: 주어진 아이디에 대응되는 결제 건의 결제 시도 내역을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPaymentTransactionsError'
      x-portone-unstable: true
      tags:
      - Payments
  /payments/{paymentId}/virtual-account/close:
    post:
      summary: 가상계좌 말소
      description: '가상계좌 말소


        발급된 가상계좌를 말소합니다.'
      operationId: closeVirtualAccount
      parameters:
      - name: paymentId
        in: path
        description: 결제 건 아이디
        required: true
        schema:
          type: string
        x-portone-title: 결제 건 아이디
      - name: storeId
        in: query
        description: '상점 아이디


          접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 상점 아이디
        x-portone-description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '409':
          description: '* `PaymentNotWaitingForDepositError`: 결제 건이 입금 대기 상태가 아닌 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 가상계좌 말소
      x-portone-description: 발급된 가상계좌를 말소합니다.
      x-portone-error:
        $ref: '#/components/schemas/CloseVirtualAccountError'
      tags:
      - Payments
  /payments/{paymentId}:
    get:
      summary: 결제 단건 조회
      description: '결제 단건 조회


        주어진 아이디에 대응되는 결제 건을 조회합니다.'
      operationId: getPayment
      parameters:
      - name: paymentId
        in: path
        description: 조회할 결제 아이디
        required: true
        schema:
          type: string
        x-portone-title: 조회할 결제 아이디
      - name: storeId
        in: query
        description: '상점 아이디


          접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 상점 아이디
        x-portone-description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
      responses:
        '200':
          description: 성공 응답으로 결제 건 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          x-portone-title: 성공 응답으로 결제 건 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 단건 조회
      x-portone-description: 주어진 아이디에 대응되는 결제 건을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPaymentError'
      tags:
      - Payments
  /payments:
    get:
      summary: 결제 다건 조회(페이지 기반)
      description: '결제 다건 조회(페이지 기반)


        주어진 조건에 맞는 결제 건들을 페이지 기반으로 조회합니다.'
      operationId: getPayments
      parameters:
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaymentsBody'
      responses:
        '200':
          description: 성공 응답으로 조회된 결제 건 리스트와 페이지 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsResponse'
          x-portone-title: 성공 응답으로 조회된 결제 건 리스트와 페이지 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 다건 조회(페이지 기반)
      x-portone-description: 주어진 조건에 맞는 결제 건들을 페이지 기반으로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPaymentsError'
      tags:
      - Payments
components:
  schemas:
    RegisterStoreReceiptError:
      title: RegisterStoreReceiptError
      oneOf:
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PaymentNotFoundError'
      - $ref: '#/components/schemas/PaymentNotPaidError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PAYMENT_NOT_FOUND: '#/components/schemas/PaymentNotFoundError'
          PAYMENT_NOT_PAID: '#/components/schemas/PaymentNotPaidError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    ModifyEscrowLogisticsBody:
      title: 에스크로 배송 정보 수정 입력 정보
      description: 에스크로 배송 정보 수정 입력 정보
      type: object
      required:
      - logistics
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        sender:
          $ref: '#/components/schemas/PaymentEscrowSenderInput'
          title: 에스크로 발송자 정보
        receiver:
          $ref: '#/components/schemas/PaymentEscrowReceiverInput'
          title: 에스크로 수취인 정보
        logistics:
          $ref: '#/components/schemas/PaymentLogistics'
          title: 에스크로 물류 정보
        sendEmail:
          type: boolean
          title: 이메일 알림 전송 여부
          description: 에스크로 구매 확정 시 이메일로 알림을 보낼지 여부입니다.
        products:
          title: 상품 정보
          type: array
          items:
            $ref: '#/components/schemas/PaymentProduct'
      x-portone-title: 에스크로 배송 정보 수정 입력 정보
    ApplyEscrowLogisticsResponse:
      title: 에스크로 배송 정보 등록 성공 응답
      description: 에스크로 배송 정보 등록 성공 응답
      type: object
      required:
      - invoiceNumber
      - sentAt
      - appliedAt
      properties:
        invoiceNumber:
          type: string
          title: 송장 번호
        sentAt:
          type: string
          format: date-time
          title: 발송 시점
        appliedAt:
          type: string
          format: date-time
          title: 에스크로 정보 등록 시점
      x-portone-title: 에스크로 배송 정보 등록 성공 응답
    PaymentMethodTransfer:
      title: 계좌 이체 상세 정보
      description: 계좌 이체 상세 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
        bank:
          $ref: '#/components/schemas/Bank'
          title: 표준 은행 코드
        accountNumber:
          type: string
          title: 계좌번호
      x-portone-title: 계좌 이체 상세 정보
    CancelledPayment:
      title: 결제 취소 상태 건
      description: 결제 취소 상태 건
      type: object
      required:
      - status
      - id
      - transactionId
      - merchantId
      - storeId
      - channel
      - version
      - requestedAt
      - updatedAt
      - statusChangedAt
      - orderName
      - amount
      - currency
      - customer
      - origin
      - cancellations
      - cancelledAt
      properties:
        status:
          type: string
          title: 결제 건 상태
        id:
          type: string
          title: 결제 건 아이디
        transactionId:
          type: string
          title: 결제 건 포트원 채번 아이디
          description: V1 결제 건의 경우 imp_uid에 해당합니다.
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        method:
          $ref: '#/components/schemas/PaymentMethod'
          title: 결제수단 정보
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 결제 채널
        channelGroup:
          $ref: '#/components/schemas/ChannelGroupSummary'
          title: 결제 채널 그룹 정보
        version:
          $ref: '#/components/schemas/PortOneVersion'
          title: 포트원 버전
        scheduleId:
          type: string
          title: 결제 예약 건 아이디
          description: 결제 예약을 이용한 경우에만 존재
        billingKey:
          type: string
          title: 결제 시 사용된 빌링키
          description: 빌링키 결제인 경우에만 존재
        webhooks:
          title: 웹훅 발송 내역
          type: array
          items:
            $ref: '#/components/schemas/PaymentWebhook'
        requestedAt:
          type: string
          format: date-time
          title: 결제 요청 시점
        updatedAt:
          type: string
          format: date-time
          title: 업데이트 시점
        statusChangedAt:
          type: string
          format: date-time
          title: 상태 업데이트 시점
        orderName:
          type: string
          title: 주문명
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          title: 결제 금액 관련 세부 정보
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
        customer:
          $ref: '#/components/schemas/Customer'
          title: 구매자 정보
        origin:
          $ref: '#/components/schemas/PaymentOrigin'
          title: 결제 출처 정보
        promotionId:
          type: string
          title: 프로모션 아이디
        isCulturalExpense:
          type: boolean
          title: 문화비 지출 여부
        escrow:
          $ref: '#/components/schemas/PaymentEscrow'
          title: 에스크로 결제 정보
          description: 에스크로 결제인 경우 존재합니다.
        products:
          title: 상품 정보
          type: array
          items:
            $ref: '#/components/schemas/PaymentProduct'
        productCount:
          type: integer
          format: int32
          title: 상품 갯수
        customData:
          type: string
          title: 사용자 지정 데이터
        country:
          $ref: '#/components/schemas/Country'
          title: 국가 코드
        paidAt:
          type: string
          format: date-time
          title: 결제 완료 시점
        pgTxId:
          type: string
          title: PG사 거래 아이디
        cashReceipt:
          $ref: '#/components/schemas/PaymentCashReceipt'
          title: 현금영수증
        cashReceiptIssuanceStatus:
          $ref: '#/components/schemas/CashReceiptIssuanceStatus'
          title: 현금영수증 발행여부
          description: '승인 시점에 확인된 발행여부입니다.

            발행번호 없이 발행여부만 제공 가능한 경우, ISSUED이면서 cashReceipt가 존재하지 않을 수 있습니다.'
        receiptUrl:
          type: string
          title: 거래 영수증 URL
        cancellations:
          title: 결제 취소 내역
          type: array
          items:
            $ref: '#/components/schemas/PaymentCancellation'
        cancelledAt:
          type: string
          format: date-time
          title: 결제 취소 시점
      x-portone-title: 결제 취소 상태 건
    DiscountAmountExceedsTotalAmountError:
      title: 프로모션 할인 금액이 결제 시도 금액 이상인 경우
      description: 프로모션 할인 금액이 결제 시도 금액 이상인 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 프로모션 할인 금액이 결제 시도 금액 이상인 경우
      x-portone-status-code: 400
    AlreadyPaidOrWaitingError:
      title: 결제가 이미 완료되었거나 대기중인 경우
      description: 결제가 이미 완료되었거나 대기중인 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 결제가 이미 완료되었거나 대기중인 경우
      x-portone-status-code: 409
    PaymentAlreadyCancelledError:
      title: 결제가 이미 취소된 경우
      description: 결제가 이미 취소된 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 결제가 이미 취소된 경우
      x-portone-status-code: 409
    PaymentNotFoundError:
      title: 결제 건이 존재하지 않는 경우
      description: 결제 건이 존재하지 않는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 결제 건이 존재하지 않는 경우
      x-portone-status-code: 404
    Customer:
      title: 고객 정보
      description: 고객 정보
      type: object
      properties:
        id:
          type: string
          title: 고객 아이디
          description: 고객사가 지정한 고객의 고유 식별자입니다.
        name:
          type: string
          title: 이름
        birthYear:
          type: string
          title: 출생 연도
        birthMonth:
          type: string
          title: 출생 월
        birthDay:
          type: string
          title: 출생 일자
        gender:
          $ref: '#/components/schemas/Gender'
          title: 성별
        email:
          type: string
          title: 이메일
        phoneNumber:
          type: string
          title: 전화번호
        address:
          $ref: '#/components/schemas/Address'
          title: 주소
        zipcode:
          type: string
          title: 우편번호
      x-portone-title: 고객 정보
    BillingKeyPaymentScheduleInput:
      title: 빌링키 결제 예약 요청 입력 정보
      description: 빌링키 결제 예약 요청 입력 정보
      type: object
      required:
      - billingKey
      - orderName
      - amount
      - currency
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        billingKey:
          type: string
          title: 빌링키 결제에 사용할 빌링키
        channelKey:
          type: string
          title: 채널 키
          description: 다수 채널에 대해 발급된 빌링키에 대해, 결제 채널을 특정하고 싶을 때 명시
        orderName:
          type: string
          title: 주문명
        customer:
          $ref: '#/components/schemas/CustomerInput'
          title: 고객 정보
        customData:
          type: string
          title: 사용자 지정 데이터
        amount:
          $ref: '#/components/schemas/PaymentAmountInput'
          title: 결제 금액 세부 입력 정보
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
        installmentMonth:
          type: integer
          format: int32
          title: 할부 개월 수
        useFreeInterestFromMerchant:
          type: boolean
          title: 무이자 할부 이자를 고객사가 부담할지 여부
        useCardPoint:
          type: boolean
          title: 카드 포인트 사용 여부
        cashReceipt:
          $ref: '#/components/schemas/CashReceiptInput'
          title: 현금영수증 정보
          description: 나이스페이먼츠를 통해 네이버페이 포인트 빌링결제 시, 현금영수증 발급을 위해 입력 가능 (신청 필요)
        country:
          $ref: '#/components/schemas/Country'
          title: 결제 국가
        noticeUrls:
          type: array
          items:
            type: string
          title: 웹훅 주소
          description: '결제 승인/실패 시 요청을 받을 웹훅 주소입니다.

            상점에 설정되어 있는 값보다 우선적으로 적용됩니다.

            빈 배열은 무시됩니다.'
        products:
          title: 상품 정보
          type: array
          items:
            $ref: '#/components/schemas/PaymentProduct'
          description: 입력된 값이 없을 경우에는 빈 배열로 해석됩니다.
        productCount:
          type: integer
          format: int32
          title: 상품 개수
        productType:
          $ref: '#/components/schemas/PaymentProductType'
          title: 상품 유형
        shippingAddress:
          $ref: '#/components/schemas/SeparatedAddressInput'
          title: 배송지 주소
        promotionId:
          type: string
          title: 해당 결제에 적용할 프로모션 아이디
        locale:
          $ref: '#/components/schemas/Locale'
          title: 결제 시 사용할 언어
          description: 엑심베이의 경우 필수 입력입니다.
        bypass:
          type: object
          title: PG사별 추가 파라미터 ("PG사별 연동 가이드" 참고)
      x-portone-title: 빌링키 결제 예약 요청 입력 정보
    PaymentWebhookTrigger:
      title: 웹훅 실행 트리거
      description: '웹훅 실행 트리거


        수동 웹훅 재발송, 가상계좌 입금, 비동기 취소 승인 시 발생한 웹훅일 때 필드의 값이 존재합니다.'
      type: string
      enum:
      - MANUAL
      - VIRTUAL_ACCOUNT_DEPOSIT
      - ASYNC_CANCEL_APPROVED
      - ASYNC_CANCEL_FAILED
      - ASYNC_PAY_APPROVED
      - ASYNC_PAY_FAILED
      - ASYNC_PAY_PENDING
      - DISPUTE_CREATED
      - DISPUTE_RESOLVED
      x-portone-title: 웹훅 실행 트리거
      x-portone-description: 수동 웹훅 재발송, 가상계좌 입금, 비동기 취소 승인 시 발생한 웹훅일 때 필드의 값이 존재합니다.
      x-portone-enum:
        ASYNC_PAY_PENDING: {}
        ASYNC_CANCEL_APPROVED: {}
        DISPUTE_CREATED: {}
        ASYNC_CANCEL_FAILED: {}
        MANUAL: {}
        DISPUTE_RESOLVED: {}
        VIRTUAL_ACCOUNT_DEPOSIT: {}
        ASYNC_PAY_FAILED: {}
        ASYNC_PAY_APPROVED: {}
    PaymentCashReceiptStatus:
      title: 결제건 내 현금영수증 상태
      description: 결제건 내 현금영수증 상태
      type: string
      enum:
      - ISSUED
      - CANCELLED
      x-portone-title: 결제건 내 현금영수증 상태
      x-portone-enum:
        ISSUED: {}
        CANCELLED: {}
    PayWithBillingKeyResponse:
      title: 빌링키 결제 성공 응답
      description: 빌링키 결제 성공 응답
      type: object
      required:
      - payment
      properties:
        payment:
          $ref: '#/components/schemas/BillingKeyPaymentSummary'
          title: 결제 건 요약 정보
      x-portone-title: 빌링키 결제 성공 응답
    GetPaymentError:
      title: GetPaymentError
      oneOf:
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PaymentNotFoundError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PAYMENT_NOT_FOUND: '#/components/schemas/PaymentNotFoundError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    PaymentAmount:
      title: 결제 금액 세부 정보
      description: 결제 금액 세부 정보
      type: object
      required:
      - total
      - taxFree
      - discount
      - paid
      - cancelled
      - cancelledTaxFree
      properties:
        total:
          type: integer
          format: int64
          title: 총 결제금액
        taxFree:
          type: integer
          format: int64
          title: 면세액
        vat:
          type: integer
          format: int64
          title: 부가세액
        supply:
          type: integer
          format: int64
          title: 공급가액
        discount:
          type: integer
          format: int64
          title: 총 할인금액
          description: 카드사 할인금액, 포트원 프로모션 할인금액, 간편결제 할인금액(적립형 포인트 결제, 쿠폰 할인) 등을 포함합니다.
        paid:
          type: integer
          format: int64
          title: 실제 결제금액
        cancelled:
          type: integer
          format: int64
          title: 총 취소금액
        cancelledTaxFree:
          type: integer
          format: int64
          title: 총 취소금액 중 면세액
      x-portone-title: 결제 금액 세부 정보
    FailedPaymentCancellation:
      title: 취소 실패 상태
      description: 취소 실패 상태
      type: object
      required:
      - status
      - id
      - totalAmount
      - taxFreeAmount
      - vatAmount
      - reason
      - requestedAt
      properties:
        status:
          type: string
          title: 결제 취소 내역 상태
        id:
          type: string
          title: 취소 내역 아이디
        pgCancellationId:
          type: string
          title: PG사 결제 취소 내역 아이디
        totalAmount:
          type: integer
          format: int64
          title: 취소 금액
        taxFreeAmount:
          type: integer
          format: int64
          title: 취소 금액 중 면세 금액
        vatAmount:
          type: integer
          format: int64
          title: 취소 금액 중 부가세액
        easyPayDiscountAmount:
          type: integer
          format: int64
          title: 적립형 포인트의 환불 금액
        reason:
          type: string
          title: 취소 사유
        cancelledAt:
          type: string
          format: date-time
          title: 취소 시점
        requestedAt:
          type: string
          format: date-time
          title: 취소 요청 시점
        trigger:
          $ref: '#/components/schemas/Trigger'
          title: 취소 요청 경로
      x-portone-title: 취소 실패 상태
    PaymentOriginPlatformType:
      title: 플랫폼 타입
      description: 플랫폼 타입
      type: string
      enum:
      - PC
      - MOBILE
      - API
      x-portone-title: 플랫폼 타입
      x-portone-enum:
        PC: {}
        MOBILE: {}
        API: {}
    IssueFailedCashReceipt:
      title: 발급 실패
      description: 발급 실패
      type: object
      required:
      - status
      - merchantId
      - storeId
      - paymentId
      - orderName
      - isManual
      properties:
        status:
          type: string
          title: 현금영수증 상태
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        paymentId:
          type: string
          title: 결제 건 아이디
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 현금영수증 발급에 사용된 채널
        orderName:
          type: string
          title: 주문명
        isManual:
          type: boolean
          title: 수동 발급 여부
        statusUpdatedAt:
          type: string
          format: date-time
          title: 상태 업데이트 시점
      x-portone-title: 발급 실패
    CancelledCashReceipt:
      title: 발급 취소
      description: 발급 취소
      type: object
      required:
      - status
      - merchantId
      - storeId
      - paymentId
      - channel
      - amount
      - currency
      - orderName
      - isManual
      - issueNumber
      - issuedAt
      - cancelledAt
      properties:
        status:
          type: string
          title: 현금영수증 상태
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        paymentId:
          type: string
          title: 결제 건 아이디
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 현금영수증 발급에 사용된 채널
        amount:
          type: integer
          format: int64
          title: 결제 금액
        taxFreeAmount:
          type: integer
          format: int64
          title: 면세액
        vatAmount:
          type: integer
          format: int64
          title: 부가세액
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
        orderName:
          type: string
          title: 주문명
        isManual:
          type: boolean
          title: 수동 발급 여부
        type:
          $ref: '#/components/schemas/CashReceiptType'
          title: 현금영수증 유형
        pgReceiptId:
          type: string
          title: PG사 현금영수증 아이디
        issueNumber:
          type: string
          title: 승인번호
        url:
          type: string
          title: 현금영수증 URL
        issuedAt:
          type: string
          format: date-time
          title: 발급 시점
        cancelledAt:
          type: string
          format: date-time
          title: 취소 시점
        statusUpdatedAt:
          type: string
          format: date-time
          title: 상태 업데이트 시점
      x-portone-title: 발급 취소
    InstantPaymentMethodInputVirtualAccount:
      title: 가상계좌 수단 정보 입력 정보
      description: 가상계좌 수단 정보 입력 정보
      type: object
      required:
      - bank
      - expiry
      - option
      properties:
        bank:
          $ref: '#/components/schemas/Bank'
          title: 은행
        expiry:
          $ref: '#/components/schemas/InstantPaymentMethodInputVirtualAccountExpiry'
          title: 입금 만료 기한
        option:
          $ref: '#/components/schemas/InstantPaymentMethodInputVirtualAccountOption'
          title: 가상계좌 유형
        cashReceipt:
          $ref: '#/components/schemas/InstantPaymentMethodInputVirtualAccountCashReceiptInfo'
          title: 현금영수증 정보
        remitteeName:
          type: string
          title: 예금주명
      x-portone-title: 가상계좌 수단 정보 입력 정보
    PageInput:
      title: 다건 조회 API 에 사용되는 페이지 입력 정보
      description: 다건 조회 API 에 사용되는 페이지 입력 정보
      type: object
      properties:
        number:
          type: integer
          format: int32
          title: 0부터 시작하는 페이지 번호
        size:
          type: integer
          format: int32
          title: 각 페이지 당 포함할 객체 수
      x-portone-title: 다건 조회 API 에 사용되는 페이지 입력 정보
    CancelPaymentBody:
      title: 결제 취소 요청 입력 정보
      description: 결제 취소 요청 입력 정보
      type: object
      required:
      - reason
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        amount:
          type: integer
          format: int64
          title: 취소 총 금액
          description: 값을 입력하지 않으면 전액 취소됩니다.
        taxFreeAmount:
          type: integer
          format: int64
          title: 취소 금액 중 면세 금액
          description: 값을 입력하지 않으면 전액 과세 취소됩니다.
        vatAmount:
          type: integer
          format: int64
          title: 취소 금액 중 부가세액
          description: 값을 입력하지 않으면 자동 계산됩니다.
        reason:
          type: string
          title: 취소 사유
        requester:
          $ref: '#/components/schemas/CancelRequester'
          title: 취소 요청자
          description: 고객에 의한 취소일 경우 Customer, 관리자에 의한 취소일 경우 Admin으로 입력합니다.
        promotionDiscountRetainOption:
          $ref: '#/components/schemas/PromotionDiscountRetainOption'
          title: 프로모션 할인율 유지 옵션
          description: '프로모션이 적용된 결제를 부분 취소하는 경우, 최초 할인율을 유지할지 여부를 선택할 수 있습니다.

            RETAIN 으로 설정 시, 최초 할인율을 유지할 수 있도록 취소 금액이 조정됩니다.

            RELEASE 으로 설정 시, 취소 후 남은 금액이 속한 구간에 맞게 프로모션 할인이 새롭게 적용됩니다.

            값을 입력하지 않으면 RELEASE 로 취급합니다.'
        currentCancellableAmount:
          type: integer
          format: int64
          title: 결제 건의 취소 가능 잔액
          description: 본 취소 요청 이전의 취소 가능 잔액으로써, 값을 입력하면 잔액이 일치하는 경우에만 취소가 진행됩니다. 값을 입력하지 않으면 별도의 검증 처리를 수행하지 않습니다.
        refundAccount:
          $ref: '#/components/schemas/CancelPaymentBodyRefundAccount'
          title: 환불 계좌
          description: 계좌 환불일 경우 입력합니다. 계좌 환불이 필요한 경우는 가상계좌 환불, 휴대폰 익월 환불 등이 있습니다.
        refundEmail:
          type: string
          title: 환불 이메일
          description: Triple-A 결제 환불에 필요합니다. 해당 이메일로 환불 안내가 발송됩니다.
        skipWebhook:
          type: boolean
          title: 웹훅 생략 여부
          description: 취소가 성공했을 때 웹훅을 전송하지 않으려면 true로 설정합니다.
      x-portone-title: 결제 취소 요청 입력 정보
    PaymentSortBy:
      title: 결제 건 정렬 기준
      description: 결제 건 정렬 기준
      type: string
      enum:
      - REQUESTED_AT
      - STATUS_CHANGED_AT
      x-portone-title: 결제 건 정렬 기준
      x-portone-enum:
        REQUESTED_AT:
          title: 결제 요청 시점
        STATUS_CHANGED_AT:
          title: 상태 변경 시점
    CreatePaymentScheduleError:
      title: CreatePaymentScheduleError
      oneOf:
      - $ref: '#/components/schemas/AlreadyPaidOrWaitingError'
      - $ref: '#/components/schemas/BillingKeyAlreadyDeletedError'
      - $ref: '#/components/schemas/BillingKeyNotFoundError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PaymentScheduleAlreadyExistsError'
      - $ref: '#/components/schemas/SumOfPartsExceedsTotalAmountError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          ALREADY_PAID_OR_WAITING: '#/components/schemas/AlreadyPaidOrWaitingError'
          BILLING_KEY_ALREADY_DELETED: '#/components/schemas/BillingKeyAlreadyDeletedError'
          BILLING_KEY_NOT_FOUND: '#/components/schemas/BillingKeyNotFoundError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PAYMENT_SCHEDULE_ALREADY_EXISTS: '#/components/schemas/PaymentScheduleAlreadyExistsError'
          SUM_OF_PARTS_EXCEEDS_TOTAL_AMOUNT: '#/components/schemas/SumOfPartsExceedsTotalAmountError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    PayWithBillingKeyError:
      title: PayWithBillingKeyError
      oneOf:
      - $ref: '#/components/schemas/AlreadyPaidError'
      - $ref: '#/components/schemas/BillingKeyAlreadyDeletedError'
      - $ref: '#/components/schemas/BillingKeyNotFoundError'
      - $ref: '#/components/schemas/ChannelNotFoundError'
      - $ref: '#/components/schemas/DiscountAmountExceedsTotalAmountError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/MaxTransactionCountReachedError'
      - $ref: '#/components/schemas/PaymentScheduleAlreadyExistsError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/PromotionPayMethodDoesNotMatchError'
      - $ref: '#/components/schemas/SumOfPartsExceedsTotalAmountError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          ALREADY_PAID: '#/components/schemas/AlreadyPaidError'
          BILLING_KEY_ALREADY_DELETED: '#/components/schemas/BillingKeyAlreadyDeletedError'
          BILLING_KEY_NOT_FOUND: '#/components/schemas/BillingKeyNotFoundError'
          CHANNEL_NOT_FOUND: '#/components/schemas/ChannelNotFoundError'
          DISCOUNT_AMOUNT_EXCEEDS_TOTAL_AMOUNT: '#/components/schemas/DiscountAmountExceedsTotalAmountError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          MAX_TRANSACTION_COUNT_REACHED: '#/components/schemas/MaxTransactionCountReachedError'
          PAYMENT_SCHEDULE_ALREADY_EXISTS: '#/components/schemas/PaymentScheduleAlreadyExistsError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          PROMOTION_PAY_METHOD_DOES_NOT_MATCH: '#/components/schemas/PromotionPayMethodDoesNotMatchError'
          SUM_OF_PARTS_EXCEEDS_TOTAL_AMOUNT: '#/components/schemas/SumOfPartsExceedsTotalAmountError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    PaymentMethodCrypto:
      title: 암호화폐 결제 상세 정보
      description: 암호화폐 결제 상세 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
      x-portone-title: 암호화폐 결제 상세 정보
    PaymentProductType:
      title: 상품 유형
      description: 상품 유형
      type: string
      enum:
      - PHYSICAL
      - DIGITAL
      x-portone-title: 상품 유형
      x-portone-enum:
        PHYSICAL:
          title: 실물 상품
        DIGITAL:
          title: 디지털 상품
          description: 서비스, 온라인 상품 등 실물이 존재하지 않는 무형의 상품을 의미합니다.
    ConfirmPaymentBody:
      title: 결제 승인 입력 정보
      description: 결제 승인 입력 정보
      type: object
      required:
      - paymentToken
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        paymentToken:
          type: string
          title: 결제 토큰
          description: 인증 완료 시 발급된 토큰입니다.
        txId:
          type: string
          title: 결제 시도 아이디
          description: 검증용 파라미터로, 결제 시도 아이디와 일치하지 않을 경우 오류가 반환됩니다.
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
          description: 검증용 파라미터로, 결제 건 화폐와 일치하지 않을 경우 오류가 반환됩니다. 값 전달을 권장합니다.
        totalAmount:
          type: integer
          format: int64
          title: 결제 금액
          description: 검증용 파라미터로, 결제 건 총 금액과 일치하지 않을 경우 오류가 반환됩니다. 값 전달을 권장합니다.
        taxFreeAmount:
          type: integer
          format: int64
          title: 면세 금액
          description: 검증용 파라미터로, 결제 건 면세 금액과 일치하지 않을 경우 오류가 반환됩니다.
        isTest:
          type: boolean
          title: 테스트 결제 여부
          description: 검증용 파라미터로, 결제 건 테스트 여부와 일치하지 않을 경우 오류가 반환됩니다. 값 전달을 권장합니다.
        skipWebhook:
          type: boolean
          title: 웹훅 생략 여부
          description: 결제가 성공했을 때 웹훅을 전송하지 않으려면 true로 설정합니다. 가상계좌 입금 완료 등 외부 이벤트로 결제가 완료되는 경우 발생하는 웹훅은 스킵되지 않습니다.
      x-portone-title: 결제 승인 입력 정보
    PromotionDiscountRetainOption:
      title: PromotionDiscountRetainOption
      type: string
      enum:
      - RETAIN
      - RELEASE
      x-portone-enum:
        RETAIN: {}
        RELEASE: {}
    PaymentWebhook:
      title: 성공 웹훅 내역
      description: 성공 웹훅 내역
      type: object
      required:
      - id
      - url
      properties:
        paymentStatus:
          $ref: '#/components/schemas/PaymentWebhookPaymentStatus'
          title: 웹훅 발송 시 결제 건 상태
          description: V1 결제 건인 경우, 값이 존재하지 않습니다.
        id:
          type: string
          title: 웹훅 아이디
        status:
          $ref: '#/components/schemas/PaymentWebhookStatus'
          title: 웹훅 상태
        url:
          type: string
          title: 웹훅이 발송된 url
          description: V1 결제 건인 경우, 값이 존재하지 않습니다.
        isAsync:
          type: boolean
          title: 비동기 웹훅 여부
          description: V1 결제 건인 경우, 값이 존재하지 않습니다.
        currentExecutionCount:
          type: integer
          format: int32
          title: 현재 발송 횟수
        maxExecutionCount:
          type: integer
          format: int32
          title: 최대 발송 횟수
        trigger:
          $ref: '#/components/schemas/PaymentWebhookTrigger'
          title: 웹훅 실행 맥락
        request:
          $ref: '#/components/schemas/PaymentWebhookRequest'
          title: 웹훅 요청 정보
        response:
          $ref: '#/components/schemas/PaymentWebhookResponse'
          title: 웹훅 응답 정보
        triggeredAt:
          type: string
          format: date-time
          title: 웹훅 처리 시작 시점
      x-portone-title: 성공 웹훅 내역
    ConfirmEscrowError:
      title: ConfirmEscrowError
      oneOf:
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PaymentNotFoundError'
      - $ref: '#/components/schemas/PaymentNotPaidError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PAYMENT_NOT_FOUND: '#/components/schemas/PaymentNotFoundError'
          PAYMENT_NOT_PAID: '#/components/schemas/PaymentNotPaidError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    PaymentScheduleSummary:
      title: 결제 예약 건
      description: 결제 예약 건
      type: object
      required:
      - id
      properties:
        id:
          type: string
          title: 결제 예약 건 아이디
      x-portone-title: 결제 예약 건
    CapturePaymentResponse:
      title: 수동 매입 성공 응답
      description: 수동 매입 성공 응답
      type: object
      x-portone-title: 수동 매입 성공 응답
    StopPaymentCancellationBody:
      title: 결제 취소 요청 취소 입력 정보
      description: 결제 취소 요청 취소 입력 정보
      type: object
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
      x-portone-title: 결제 취소 요청 취소 입력 정보
    PgProviderError:
      title: PG사에서 오류를 전달한 경우
      description: PG사에서 오류를 전달한 경우
      type: object
      required:
      - type
      - pgCode
      - pgMessage
      properties:
        type:
          type: string
        message:
          type: string
        pgCode:
          type: string
        pgMessage:
          type: string
      x-portone-title: PG사에서 오류를 전달한 경우
      x-portone-status-code: 502
    SelectedChannelType:
      title: 채널 타입
      description: 채널 타입
      type: string
      enum:
      - LIVE
      - TEST
      x-portone-title: 채널 타입
      x-portone-enum:
        LIVE:
          title: 실 연동 채널
        TEST:
          title: 테스트 연동 채널
    PaymentScheduleAlreadyExistsError:
      title: 결제 예약건이 이미 존재하는 경우
      description: 결제 예약건이 이미 존재하는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 결제 예약건이 이미 존재하는 경우
      x-portone-status-code: 409
    PaymentMethodType:
      title: PaymentMethodType
      type: string
      enum:
      - CARD
      - TRANSFER
      - VIRTUAL_ACCOUNT
      - GIFT_CERTIFICATE
      - MOBILE
      - EASY_PAY
      - CONVENIENCE_STORE
      - CRYPTO
      x-portone-enum:
        CONVENIENCE_STORE: {}
        GIFT_CERTIFICATE: {}
        VIRTUAL_ACCOUNT: {}
        CRYPTO: {}
        MOBILE: {}
        CARD: {}
        TRANSFER: {}
        EASY_PAY: {}
    EasyPayProvider:
      title: 간편 결제사
      description: 간편 결제사
      type: string
      enum:
      - SAMSUNGPAY
      - KAKAOPAY
      - NAVERPAY
      - PAYCO
      - SSGPAY
      - CHAI
      - LPAY
      - KPAY
      - TOSSPAY
      - LGPAY
      - PINPAY
      - APPLEPAY
      - SKPAY
      - TOSS_BRANDPAY
      - KB_APP
      - ALIPAY
      - HYPHEN
      - TMONEY
      - PAYPAL
      - SMILEPAY
      - MIR
      - WECHAT
      - LINEPAY
      - KLARNA
      - GRABPAY
      - SHOPEEPAY
      - JKOPAY
      - PAYPAY
      - AMAZONPAY
      - RAKUTENPAY
      - DBARAI
      - AUPAY
      - MERPAY
      - MONEYTREE
      - KPLUS
      - TINABA
      - BILL_EASE
      - KREDIVO
      - RABBIT_LINE_PAY
      - ALIPAY_HK
      - AKULAKU_PAY_LATER
      - BOOST
      - BPI
      - DANA
      - G_CASH
      - HIPAY
      - MPAY
      - TOUCH_N_GO
      - TRUE_MONEY
      - DOKU_WALLET
      - JENIUS_PAY
      - OVO
      - MAYA
      - QRIS
      - THAI_QR
      - GOOGLE_PAY
      x-portone-title: 간편 결제사
      x-portone-enum:
        ALIPAY_HK: {}
        MIR: {}
        QRIS: {}
        MONEYTREE: {}
        GRABPAY: {}
        TOSS_BRANDPAY: {}
        JKOPAY: {}
        SHOPEEPAY: {}
        BOOST: {}
        ALIPAY: {}
        LPAY: {}
        DBARAI: {}
        KB_APP: {}
        LINEPAY: {}
        PAYCO: {}
        HIPAY: {}
        BILL_EASE: {}
        DOKU_WALLET: {}
        SMILEPAY: {}
        TINABA: {}
        KLARNA: {}
        JENIUS_PAY: {}
        RABBIT_LINE_PAY: {}
        THAI_QR: {}
        NAVERPAY: {}
        GOOGLE_PAY: {}
        KREDIVO: {}
        CHAI: {}
        PINPAY: {}
        WECHAT: {}
        KPLUS: {}
        MAYA: {}
        TMONEY: {}
        TOSSPAY: {}
        SSGPAY: {}
        MERPAY: {}
        PAYPAL: {}
        OVO: {}
        G_CASH: {}
        LGPAY: {}
        APPLEPAY: {}
        HYPHEN: {}
        AUPAY: {}
        SAMSUNGPAY: {}
        DANA: {}
        TOUCH_N_GO: {}
        KPAY: {}
        AMAZONPAY: {}
        BPI: {}
        TRUE_MONEY: {}
        SKPAY: {}
        AKULAKU_PAY_LATER: {}
        RAKUTENPAY: {}
        PAYPAY: {}
        KAKAOPAY: {}
        MPAY: {}
    CancelledPaymentCashReceipt:
      title: 취소된 현금영수증
      description: 취소된 현금영수증
      type: object
      required:
      - status
      - issueNumber
      - totalAmount
      - currency
      - issuedAt
      - cancelledAt
      properties:
        status:
          type: string
          title: 결제 건 내 현금영수증 상태
        type:
          $ref: '#/components/schemas/CashReceiptType'
          title: 현금영수증 유형
        pgReceiptId:
          type: string
          title: PG사 영수증 발급 아이디
        issueNumber:
          type: string
          title: 승인 번호
        totalAmount:
          type: integer
          format: int64
          title: 총 금액
        taxFreeAmount:
          type: integer
          format: int64
          title: 면세액
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
        url:
          type: string
          title: 현금영수증 URL
        issuedAt:
          type: string
          format: date-time
          title: 발급 시점
        cancelledAt:
          type: string
          format: date-time
          title: 취소 시점
      x-portone-title: 취소된 현금영수증
    Trigger:
      title: Trigger
      type: string
      enum:
      - CONSOLE
      - API
      - PORTONE_ADMIN
      - CHARGEBACK
      x-portone-enum:
        CONSOLE: {}
        API: {}
        PORTONE_ADMIN: {}
        CHARGEBACK: {}
    RequestedPaymentCancellation:
      title: 취소 요청 상태
      description: 취소 요청 상태
      type: object
      required:
      - status
      - id
      - totalAmount
      - taxFreeAmount
      - vatAmount
      - reason
      - requestedAt
      properties:
        status:
          type: string
          title: 결제 취소 내역 상태
        id:
          type: string
          title: 취소 내역 아이디
        pgCancellationId:
          type: string
          title: PG사 결제 취소 내역 아이디
        totalAmount:
          type: integer
          format: int64
          title: 취소 금액
        taxFreeAmount:
          type: integer
          format: int64
          title: 취소 금액 중 면세 금액
        vatAmount:
          type: integer
          format: int64
          title: 취소 금액 중 부가세액
        easyPayDiscountAmount:
          type: integer
          format: int64
          title: 적립형 포인트의 환불 금액
        reason:
          type: string
          title: 취소 사유
        cancelledAt:
          type: string
          format: date-time
          title: 취소 시점
        requestedAt:
          type: string
          format: date-time
          title: 취소 요청 시점
        trigger:
          $ref: '#/components/schemas/Trigger'
          title: 취소 요청 경로
      x-portone-title: 취소 요청 상태
    PaymentMethodMobile:
      title: 모바일 상세 정보
      description: 모바일 상세 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
        phoneNumber:
          type: string
          title: 전화번호
      x-portone-title: 모바일 상세 정보
    RegisterStoreReceiptResponse:
      title: 영수증 내 하위 상점 거래 등록 응답
      description: 영수증 내 하위 상점 거래 등록 응답
      type: object
      properties:
        receiptUrl:
          type: string
          title: 결제 영수증 URL
      x-portone-title: 영수증 내 하위 상점 거래 등록 응답
    RegisterStoreReceiptBody:
      title: 영수증 내 하위 상점 거래 등록 정보
      description: 영수증 내 하위 상점 거래 등록 정보
      type: object
      required:
      - items
      properties:
        items:
          title: 하위 상점 거래 목록
          type: array
          items:
            $ref: '#/components/schemas/RegisterStoreReceiptBodyItem'
        storeId:
          type: string
          title: 상점 아이디
      x-portone-title: 영수증 내 하위 상점 거래 등록 정보
    BillingKeyAlreadyDeletedError:
      title: 빌링키가 이미 삭제된 경우
      description: 빌링키가 이미 삭제된 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 빌링키가 이미 삭제된 경우
      x-portone-status-code: 409
    PaidPaymentTransaction:
      title: 결제 완료 상태 건
      description: 결제 완료 상태 건
      type: object
      required:
      - status
      - id
      - paymentId
      - merchantId
      - storeId
      - channel
      - version
      - requestedAt
      - updatedAt
      - statusChangedAt
      - orderName
      - amount
      - currency
      - customer
      - paidAt
      properties:
        status:
          type: string
          title: 결제 시도 상태
        id:
          type: string
          title: 결제 시도 아이디 (transactionId)
          description: V1 결제 건의 경우 imp_uid에 해당합니다.
        paymentId:
          type: string
          title: 결제 건 아이디
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        method:
          $ref: '#/components/schemas/PaymentMethod'
          title: 결제수단 정보
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 결제 채널
        channelGroup:
          $ref: '#/components/schemas/ChannelGroupSummary'
          title: 결제 채널 그룹 정보
        version:
          $ref: '#/components/schemas/PortOneVersion'
          title: 포트원 버전
        scheduleId:
          type: string
          title: 결제 예약 건 아이디
          description: 결제 예약을 이용한 경우에만 존재
        billingKey:
          type: string
          title: 결제 시 사용된 빌링키
          description: 빌링키 결제인 경우에만 존재
        webhooks:
          title: 웹훅 발송 내역
          type: array
          items:
            $ref: '#/components/schemas/PaymentWebhook'
        requestedAt:
          type: string
          format: date-time
          title: 결제 요청 시점
        updatedAt:
          type: string
          format: date-time
          title: 업데이트 시점
        statusChangedAt:
          type: string
          format: date-time
          title: 상태 업데이트 시점
        orderName:
          type: string
          title: 주문명
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          title: 결제 금액 관련 세부 정보
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
        customer:
          $ref: '#/components/schemas/Customer'
          title: 구매자 정보
        promotionId:
          type: string
          title: 프로모션 아이디
        isCulturalExpense:
          type: boolean
          title: 문화비 지출 여부
        escrow:
          $ref: '#/components/schemas/PaymentEscrow'
          title: 에스크로 결제 정보
          description: 에스크로 결제인 경우 존재합니다.
        products:
          title: 상품 정보
          type: array
          items:
            $ref: '#/components/schemas/PaymentProduct'
        productCount:
          type: integer
          format: int32
          title: 상품 갯수
        customData:
          type: string
          title: 사용자 지정 데이터
        country:
          $ref: '#/components/schemas/Country'
          title: 국가 코드
        paidAt:
          type: string
          format: date-time
          title: 결제 완료 시점
        pgTxId:
          type: string
          title: PG사 거래 아이디
        pgResponse:
          type: string
          title: PG사 거래 응답 본문
        cashReceipt:
          $ref: '#/components/schemas/PaymentCashReceipt'
          title: 현금영수증
        cashReceiptIssuanceStatus:
          $ref: '#/components/schemas/CashReceiptIssuanceStatus'
          title: 현금영수증 발행여부
          description: '승인 시점에 확인된 발행여부입니다.

            발행번호 없이 발행여부만 제공 가능한 경우, ISSUED이면서 cashReceipt가 존재하지 않을 수 있습니다.'
        receiptUrl:
          type: string
          title: 거래 영수증 URL
      x-portone-title: 결제 완료 상태 건
    ModifyEscrowLogisticsResponse:
      title: 에스크로 배송 정보 수정 성공 응답
      description: 에스크로 배송 정보 수정 성공 응답
      type: object
      required:
      - invoiceNumber
      - sentAt
      - modifiedAt
      properties:
        invoiceNumber:
          type: string
          title: 송장 번호
        sentAt:
          type: string
          format: date-time
          title: 발송 시점
        modifiedAt:
          type: string
          format: date-time
          title: 에스크로 정보 수정 시점
      x-portone-title: 에스크로 배송 정보 수정 성공 응답
    PaymentEscrow:
      title: 에스크로 정보
      description: '에스크로 정보


        V1 결제 건의 경우 타입이 REGISTERED 로 고정됩니다.'
      oneOf:
      - $ref: '#/components/schemas/BeforeRegisteredPaymentEscrow'
      - $ref: '#/components/schemas/CancelledPaymentEscrow'
      - $ref: '#/components/schemas/ConfirmedPaymentEscrow'
      - $ref: '#/components/schemas/DeliveredPaymentEscrow'
      - $ref: '#/components/schemas/RegisteredPaymentEscrow'
      - $ref: '#/components/schemas/RejectConfirmedPaymentEscrow'
      - $ref: '#/components/schemas/RejectedPaymentEscrow'
      discriminator:
        propertyName: status
        mapping:
          BEFORE_REGISTERED: '#/components/schemas/BeforeRegisteredPaymentEscrow'
          CANCELLED: '#/components/schemas/CancelledPaymentEscrow'
          CONFIRMED: '#/components/schemas/ConfirmedPaymentEscrow'
          DELIVERED: '#/components/schemas/DeliveredPaymentEscrow'
          REGISTERED: '#/components/schemas/RegisteredPaymentEscrow'
          REJECTED: '#/components/schemas/RejectedPaymentEscrow'
          REJECT_CONFIRMED: '#/components/schemas/RejectConfirmedPaymentEscrow'
      x-portone-title: 에스크로 정보
      x-portone-description: V1 결제 건의 경우 타입이 REGISTERED 로 고정됩니다.
      x-portone-discriminator:
        CONFIRMED:
          title: 구매 확정
        REJECTED:
          title: 구매 거절
        CANCELLED:
          title: 거래 취소
        REJECT_CONFIRMED:
          title: 구매 거절 확정
        DELIVERED:
          title: 배송 완료
        BEFORE_REGISTERED:
          title: 배송 정보 등록 전
        REGISTERED:
          title: 배송 정보 등록 완료
    Gender:
      title: 성별
      description: 성별
      type: string
      enum:
      - MALE
      - FEMALE
      - OTHER
      x-portone-title: 성별
      x-portone-enum:
        MALE:
          title: 남성
        FEMALE:
          title: 여성
        OTHER:
          title: 그 외 성별
    CancellableAmountConsistencyBrokenError:
      title: 취소 가능 잔액 검증에 실패한 경우
      description: 취소 가능 잔액 검증에 실패한 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 취소 가능 잔액 검증에 실패한 경우
      x-portone-status-code: 409
    RegisterEscrowLogisticsBody:
      title: 에스크로 배송 정보 등록 입력 정보
      description: 에스크로 배송 정보 등록 입력 정보
      type: object
      required:
      - logistics
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        sender:
          $ref: '#/components/schemas/PaymentEscrowSenderInput'
          title: 에스크로 발송자 정보
        receiver:
          $ref: '#/components/schemas/PaymentEscrowReceiverInput'
          title: 에스크로 수취인 정보
        logistics:
          $ref: '#/components/schemas/PaymentLogistics'
          title: 에스크로 물류 정보
        sendEmail:
          type: boolean
          title: 이메일 알림 전송 여부
          description: 에스크로 구매 확정 시 이메일로 알림을 보낼지 여부입니다.
        products:
          title: 상품 정보
          type: array
          items:
            $ref: '#/components/schemas/PaymentProduct'
      x-portone-title: 에스크로 배송 정보 등록 입력 정보
    CancelledPaymentEscrow:
      title: 거래 취소
      description: 거래 취소
      type: object
      required:
      - status
      - company
      - invoiceNumber
      properties:
        status:
          type: string
          title: 에스크로 상태
        company:
          type: string
          title: 택배사
        invoiceNumber:
          type: string
          title: 송장번호
        sentAt:
          type: string
          format: date-time
          title: 발송 일시
        appliedAt:
          type: string
          format: date-time
          title: 배송등록 처리 일자
      x-portone-title: 거래 취소
    ApplyEscrowLogisticsError:
      title: ApplyEscrowLogisticsError
      oneOf:
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PaymentNotFoundError'
      - $ref: '#/components/schemas/PaymentNotPaidError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PAYMENT_NOT_FOUND: '#/components/schemas/PaymentNotFoundError'
          PAYMENT_NOT_PAID: '#/components/schemas/PaymentNotPaidError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    PaymentLogistics:
      title: 배송정보
      description: 배송정보
      type: object
      required:
      - company
      - invoiceNumber
      - sentAt
      properties:
        company:
          $ref: '#/components/schemas/PaymentLogisticsCompany'
          title: 물류회사
        invoiceNumber:
          type: string
          title: 송장번호
        sentAt:
          type: string
          format: date-time
          title: 발송시점
        receivedAt:
          type: string
          format: date-time
          title: 수령시점
        address:
          $ref: '#/components/schemas/SeparatedAddressInput'
          title: 주소
      x-portone-title: 배송정보
    BeforeRegisteredPaymentEscrow:
      title: 배송 정보 등록 전
      description: 배송 정보 등록 전
      type: object
      required:
      - status
      properties:
        status:
          type: string
          title: 에스크로 상태
      x-portone-title: 배송 정보 등록 전
    PaymentEscrowSenderInput:
      title: 에스크로 발송자 정보
      description: 에스크로 발송자 정보
      type: object
      properties:
        name:
          type: string
          title: 이름
        phoneNumber:
          type: string
          title: 전화번호
        zipcode:
          type: string
          title: 우편번호
        relationship:
          type: string
          title: 수취인과의 관계
        address:
          $ref: '#/components/schemas/SeparatedAddressInput'
          title: 주소
      x-portone-title: 에스크로 발송자 정보
    NegativePromotionAdjustedCancelAmountError:
      title: 프로모션에 의해 조정된 취소 금액이 음수인 경우
      description: 프로모션에 의해 조정된 취소 금액이 음수인 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 프로모션에 의해 조정된 취소 금액이 음수인 경우
      x-portone-status-code: 400
    Bank:
      title: 은행
      description: 은행
      type: string
      enum:
      - BANK_OF_KOREA
      - KDB
      - IBK
      - KOOKMIN
      - SUHYUP
      - KEXIM
      - NONGHYUP
      - LOCAL_NONGHYUP
      - WOORI
      - STANDARD_CHARTERED
      - CITI
      - SUHYUP_FEDERATION
      - DAEGU
      - BUSAN
      - KWANGJU
      - JEJU
      - JEONBUK
      - KYONGNAM
      - KFCC
      - SHINHYUP
      - SAVINGS_BANK
      - MORGAN_STANLEY
      - HSBC
      - DEUTSCHE
      - JPMC
      - MIZUHO
      - MUFG
      - BANK_OF_AMERICA
      - BNP_PARIBAS
      - ICBC
      - BANK_OF_CHINA
      - NFCF
      - UOB
      - BOCOM
      - CCB
      - POST
      - KODIT
      - KIBO
      - HANA
      - SHINHAN
      - K_BANK
      - KAKAO
      - TOSS
      - MISC_FOREIGN
      - SGI
      - KCIS
      - YUANTA_SECURITIES
      - KB_SECURITIES
      - SANGSANGIN_SECURITIES
      - HANYANG_SECURITIES
      - LEADING_SECURITIES
      - BNK_SECURITIES
      - IBK_SECURITIES
      - DAOL_SECURITIES
      - MIRAE_ASSET_SECURITIES
      - SAMSUNG_SECURITIES
      - KOREA_SECURITIES
      - NH_SECURITIES
      - KYOBO_SECURITIES
      - HI_SECURITIES
      - HYUNDAI_MOTOR_SECURITIES
      - KIWOOM_SECURITIES
      - EBEST_SECURITIES
      - SK_SECURITIES
      - DAISHIN_SECURITIES
      - HANHWA_SECURITIES
      - HANA_SECURITIES
      - TOSS_SECURITIES
      - SHINHAN_SECURITIES
      - DB_SECURITIES
      - EUGENE_SECURITIES
      - MERITZ_SECURITIES
      - KAKAO_PAY_SECURITIES
      - BOOKOOK_SECURITIES
      - SHINYOUNG_SECURITIES
      - CAPE_SECURITIES
      - KOREA_SECURITIES_FINANCE
      - KOREA_FOSS_SECURITIES
      - WOORI_INVESTMENT_BANK
      x-portone-title: 은행
      x-portone-enum:
        BANK_OF_CHINA:
          title: 중국은행
        KDB:
          title: 산업은행
        HANYANG_SECURITIES:
          title: 한양증권
        SK_SECURITIES:
          title: SK증권
        HANA_SECURITIES:
          title: 하나증권
        KB_SECURITIES:
          title: KB증권
        KYONGNAM:
          title: 경남은행
        WOORI_INVESTMENT_BANK:
          title: 우리종합금융
        CITI:
          title: 한국씨티은행
        SHINYOUNG_SECURITIES:
          title: 신영증권
        KOREA_SECURITIES:
          title: 한국투자증권
        SHINHAN:
          title: 신한은행
        LEADING_SECURITIES:
          title: 리딩투자증권
        UOB:
          title: 대화은행
        KOREA_FOSS_SECURITIES:
          title: 한국포스증권
        MERITZ_SECURITIES:
          title: 메리츠증권
        MIZUHO:
          title: 미즈호은행
        EBEST_SECURITIES:
          title: LS증권
        SANGSANGIN_SECURITIES:
          title: 상상인증권
        IBK:
          title: 기업은행
        DEUTSCHE:
          title: 도이치은행
        KCIS:
          title: 한국신용정보원
        KEXIM:
          title: 수출입은행
        SHINHYUP:
          title: 신협
        CCB:
          title: 중국건설은행
        HANA:
          title: 하나은행
        TOSS_SECURITIES:
          title: 토스증권
        IBK_SECURITIES:
          title: IBK투자증권
        SHINHAN_SECURITIES:
          title: 신한투자증권
        HANHWA_SECURITIES:
          title: 한화투자증권
        SUHYUP_FEDERATION:
          title: 수협중앙회
        LOCAL_NONGHYUP:
          title: 지역농축협
        WOORI:
          title: 우리은행
        SAMSUNG_SECURITIES:
          title: 삼성증권
        K_BANK:
          title: 케이뱅크
        DB_SECURITIES:
          title: DB금융투자
        SGI:
          title: 서울보증보험
        JEJU:
          title: 제주은행
        MIRAE_ASSET_SECURITIES:
          title: 미래에셋증권
        SAVINGS_BANK:
          title: 저축은행
        EUGENE_SECURITIES:
          title: 유진투자증권
        DAEGU:
          title: 아이엠뱅크
        BNK_SECURITIES:
          title: BNK투자증권
        KAKAO_PAY_SECURITIES:
          title: 카카오페이증권
        SUHYUP:
          title: 수협은행
        CAPE_SECURITIES:
          title: 케이프투자증권
        JEONBUK:
          title: 전북은행
        BNP_PARIBAS:
          title: 비엔피파리바은행
        KOREA_SECURITIES_FINANCE:
          title: 한국증권금융
        KODIT:
          title: 신용보증기금
        BOCOM:
          title: 교통은행
        DAOL_SECURITIES:
          title: 다올투자증권
        NFCF:
          title: 산림조합중앙회
        HSBC:
          title: HSBC은행
        STANDARD_CHARTERED:
          title: SC제일은행
        KWANGJU:
          title: 광주은행
        ICBC:
          title: 중국공상은행
        TOSS:
          title: 토스뱅크
        HYUNDAI_MOTOR_SECURITIES:
          title: 현대차증권
        BANK_OF_AMERICA:
          title: BOA은행
        BANK_OF_KOREA:
          title: 한국은행
        NONGHYUP:
          title: NH농협은행
        HI_SECURITIES:
          title: 하이투자증권
        KIBO:
          title: 기술보증기금
        KAKAO:
          title: 카카오뱅크
        KIWOOM_SECURITIES:
          title: 키움증권
        BUSAN:
          title: 부산은행
        NH_SECURITIES:
          title: NH투자증권
        MORGAN_STANLEY:
          title: 모간스탠리은행
        KFCC:
          title: 새마을금고
        BOOKOOK_SECURITIES:
          title: 부국증권
        MISC_FOREIGN:
          title: 기타 외국계은행(중국 농업은행 등)
        YUANTA_SECURITIES:
          title: 유안타증권
        POST:
          title: 우체국
        DAISHIN_SECURITIES:
          title: 대신증권
        KOOKMIN:
          title: 국민은행
        MUFG:
          title: 엠유에프지은행
        JPMC:
          title: 제이피모간체이스은행
        KYOBO_SECURITIES:
          title: 교보증권
    PaymentNotPaidError:
      title: 결제가 완료되지 않은 경우
      description: 결제가 완료되지 않은 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 결제가 완료되지 않은 경우
      x-portone-status-code: 409
    PaymentStatus:
      title: 결제 건 상태
      description: 결제 건 상태
      type: string
      enum:
      - READY
      - PENDING
      - VIRTUAL_ACCOUNT_ISSUED
      - PAID
      - FAILED
      - PARTIAL_CANCELLED
      - CANCELLED
      x-portone-title: 결제 건 상태
      x-portone-enum:
        PENDING: {}
        VIRTUAL_ACCOUNT_ISSUED: {}
        PAID: {}
        READY: {}
        FAILED: {}
        CANCELLED: {}
        PARTIAL_CANCELLED: {}
    PartialCancelledPayment:
      title: 결제 부분 취소 상태 건
[...]
