openapi: 3.0.3
info:
  title: PortOne B2b Platform API
  version: 1.16.0
servers:
- url: https://api.portone.io
  description: 운영환경 서버
tags:
- name: Platform
paths:
  /platform/account-transfers:
    get:
      summary: 이체 내역 다건 조회
      description: '이체 내역 다건 조회


        여러 이체 내역을 조회합니다.'
      operationId: getPlatformAccountTransfers
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountTransfersBody1'
      responses:
        '200':
          description: 성공 응답으로 조회된 이체 내역과 페이지 정보를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountTransfersResponse'
          x-portone-description: 성공 응답으로 조회된 이체 내역과 페이지 정보를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountTransfersError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountTransfersError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountTransfersError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.accountTransfer
      x-portone-title: 이체 내역 다건 조회
      x-portone-description: 여러 이체 내역을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAccountTransfersError'
      x-portone-unstable: true
      tags:
      - Platform
  /platform/additional-fee-policies/{id}/archive:
    post:
      summary: 추가 수수료 정책 보관
      description: '추가 수수료 정책 보관


        주어진 아이디에 대응되는 추가 수수료 정책을 보관합니다.'
      operationId: archivePlatformAdditionalFeePolicy
      parameters:
      - name: id
        in: path
        description: 추가 수수료 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 추가 수수료 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 보관된 추가 수수료 정책 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyResponse'
          x-portone-description: 성공 응답으로 보관된 추가 수수료 정책 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
        '409':
          description: '* `PlatformCannotArchiveScheduledAdditionalFeePolicyError`: 예약된 업데이트가 있는 추가 수수료 정책을 보관하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 보관
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책을 보관합니다.
      x-portone-error:
        $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
      tags:
      - Platform
  /platform/additional-fee-policies/{id}/recover:
    post:
      summary: 추가 수수료 정책 복원
      description: '추가 수수료 정책 복원


        주어진 아이디에 대응되는 추가 수수료 정책을 복원합니다.'
      operationId: recoverPlatformAdditionalFeePolicy
      parameters:
      - name: id
        in: path
        description: 추가 수수료 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 추가 수수료 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 복원된 추가 수수료 정책 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyResponse'
          x-portone-description: 성공 응답으로 복원된 추가 수수료 정책 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 복원
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책을 복원합니다.
      x-portone-error:
        $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
      tags:
      - Platform
  /platform/additional-fee-policies/{id}/schedule:
    get:
      description: 주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 조회합니다.
      operationId: getPlatformAdditionalFeePolicySchedule
      parameters:
      - name: id
        in: path
        description: 추가 수수료 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 추가 수수료 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 예약된 추가 수수료 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAdditionalFeePolicy'
          x-portone-description: 성공 응답으로 예약된 추가 수수료 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError'
      x-portone-unstable: true
      tags:
      - Platform
    put:
      operationId: rescheduleAdditionalFeePolicy
      parameters:
      - name: id
        in: path
        description: 추가 수수료 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 추가 수수료 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReschedulePlatformAdditionalFeePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 예약된 추가 수수료 정책이 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReschedulePlatformAdditionalFeePolicyResponse'
          x-portone-description: 성공 응답으로 예약된 추가 수수료 정책이 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleAdditionalFeePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleAdditionalFeePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-error:
        $ref: '#/components/schemas/RescheduleAdditionalFeePolicyError'
      x-portone-unstable: true
      tags:
      - Platform
    post:
      description: 주어진 아이디에 대응되는 추가 수수료 정책에 업데이트를 예약합니다.
      operationId: scheduleAdditionalFeePolicy
      parameters:
      - name: id
        in: path
        description: 추가 수수료 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 추가 수수료 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePlatformAdditionalFeePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 예약된 추가 수수료 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulePlatformAdditionalFeePolicyResponse'
          x-portone-description: 성공 응답으로 예약된 추가 수수료 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleAdditionalFeePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleAdditionalFeePolicyError'
        '409':
          description: '* `PlatformAdditionalFeePolicyScheduleAlreadyExistsError`

            * `PlatformArchivedAdditionalFeePolicyError`: 보관된 추가 수수료 정책을 업데이트하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleAdditionalFeePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책에 업데이트를 예약합니다.
      x-portone-error:
        $ref: '#/components/schemas/ScheduleAdditionalFeePolicyError'
      x-portone-unstable: true
      tags:
      - Platform
    delete:
      description: 주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 취소합니다.
      operationId: cancelPlatformAdditionalFeePolicySchedule
      parameters:
      - name: id
        in: path
        description: 추가 수수료 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 추가 수수료 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 취소합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError'
      x-portone-unstable: true
      tags:
      - Platform
  /platform/additional-fee-policies/{id}:
    get:
      summary: 추가 수수료 정책 조회
      description: '추가 수수료 정책 조회


        주어진 아이디에 대응되는 추가 수수료 정책을 조회합니다.'
      operationId: getPlatformAdditionalFeePolicy
      parameters:
      - name: id
        in: path
        description: 조회할 추가 수수료 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 조회할 추가 수수료 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 추가 수수료 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAdditionalFeePolicy'
          x-portone-description: 성공 응답으로 추가 수수료 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 조회
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
      tags:
      - Platform
    patch:
      summary: 추가 수수료 정책 수정
      description: '추가 수수료 정책 수정


        주어진 아이디에 대응되는 추가 수수료 정책을 업데이트합니다.'
      operationId: updatePlatformAdditionalFeePolicy
      parameters:
      - name: id
        in: path
        description: 업데이트할 추가 수수료 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 업데이트할 추가 수수료 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 업데이트된 추가 수수료 정책이 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyResponse'
          x-portone-description: 성공 응답으로 업데이트된 추가 수수료 정책이 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
        '409':
          description: '* `PlatformArchivedAdditionalFeePolicyError`: 보관된 추가 수수료 정책을 업데이트하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 수정
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책을 업데이트합니다.
      x-portone-error:
        $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
      tags:
      - Platform
  /platform/additional-fee-policies:
    get:
      summary: 추가 수수료 정책 다건 조회
      description: '추가 수수료 정책 다건 조회


        여러 추가 수수료 정책을 조회합니다.'
      operationId: getPlatformAdditionalFeePolicies
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesBody'
      responses:
        '200':
          description: 성공 응답으로 조회된 추가 수수료 정책 리스트와 페이지 정보를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesResponse'
          x-portone-description: 성공 응답으로 조회된 추가 수수료 정책 리스트와 페이지 정보를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 다건 조회
      x-portone-description: 여러 추가 수수료 정책을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesError'
      tags:
      - Platform
    post:
      summary: 추가 수수료 정책 생성
      description: '추가 수수료 정책 생성


        새로운 추가 수수료 정책을 생성합니다.'
      operationId: createPlatformAdditionalFeePolicy
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
        '409':
          description: '* `PlatformAdditionalFeePolicyAlreadyExistsError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 생성
      x-portone-description: 새로운 추가 수수료 정책을 생성합니다.
      x-portone-error:
        $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
      tags:
      - Platform
  /platform/bank-accounts/{bank}/{accountNumber}/holder:
    get:
      summary: 예금주 조회
      description: '예금주 조회


        계좌의 예금주를 조회합니다.'
      operationId: getPlatformAccountHolder
      parameters:
      - name: bank
        in: path
        description: 은행
        required: true
        schema:
          $ref: '#/components/schemas/Bank'
        x-portone-title: 은행
      - name: accountNumber
        in: path
        description: '''-''를 제외한 계좌 번호'
        required: true
        schema:
          type: string
        x-portone-title: '''-''를 제외한 계좌 번호'
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: birthdate
        in: query
        description: '생년월일


          실명 조회를 위해 추가로 보낼 수 있습니다. birthdate과 businessRegistrationNumber 중 하나만 사용해야 합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 생년월일
        x-portone-description: 실명 조회를 위해 추가로 보낼 수 있습니다. birthdate과 businessRegistrationNumber 중 하나만 사용해야 합니다.
      - name: businessRegistrationNumber
        in: query
        description: '사업자등록번호


          실명 조회를 위해 추가로 보낼 수 있습니다. birthdate과 businessRegistrationNumber 중 하나만 사용해야 합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
        x-portone-description: 실명 조회를 위해 추가로 보낼 수 있습니다. birthdate과 businessRegistrationNumber 중 하나만 사용해야 합니다.
      responses:
        '200':
          description: 성공 응답으로 조회된 예금주 명이 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAccountHolder'
          x-portone-description: 성공 응답으로 조회된 예금주 명이 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `PlatformNotSupportedBankError`: 지원하지 않는 은행인 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountHolderError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountHolderError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountHolderError'
        '503':
          description: '* `PlatformExternalApiTemporarilyFailedError`: 외부 api의 일시적인 오류

            * `PlatformExternalApiFailedError`: 외부 api 오류'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountHolderError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.account
      x-portone-title: 예금주 조회
      x-portone-description: 계좌의 예금주를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAccountHolderError'
      tags:
      - Platform
  /platform/bulk-account-transfers:
    get:
      summary: 일괄 이체 내역 다건 조회
      description: '일괄 이체 내역 다건 조회


        성공 응답으로 조회된 일괄 이체 내역 리스트와 페이지 정보 및 상태 별 개수 정보를 반환합니다.'
      operationId: getPlatformBulkAccountTransfers
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPlatformBulkAccountTransfersBody'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformBulkAccountTransfersResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformBulkAccountTransfersError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformBulkAccountTransfersError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformBulkAccountTransfersError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.bulkAccountTransfer
      x-portone-title: 일괄 이체 내역 다건 조회
      x-portone-description: 성공 응답으로 조회된 일괄 이체 내역 리스트와 페이지 정보 및 상태 별 개수 정보를 반환합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformBulkAccountTransfersError'
      tags:
      - Platform
  /platform/bulk-payouts:
    get:
      summary: 일괄 지급 내역 다건 조회
      description: '일괄 지급 내역 다건 조회


        성공 응답으로 조회된 일괄 지급 내역 리스트와 페이지 정보 및 상태 별 개수 정보를 반환합니다.'
      operationId: getPlatformBulkPayouts
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPlatformBulkPayoutsBody'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformBulkPayoutsResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformBulkPayoutsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformBulkPayoutsError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformBulkPayoutsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.bulkPayout
      x-portone-title: 일괄 지급 내역 다건 조회
      x-portone-description: 성공 응답으로 조회된 일괄 지급 내역 리스트와 페이지 정보 및 상태 별 개수 정보를 반환합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformBulkPayoutsError'
      tags:
      - Platform
  /platform/companies/{businessRegistrationNumber}/state:
    get:
      summary: 사업자 조회
      description: '사업자 조회


        사업자 정보를 조회합니다. 포트원 서비스에 연동 및 등록되지 않은 사업자도 조회 가능합니다.'
      operationId: getPlatformCompanyState
      parameters:
      - name: businessRegistrationNumber
        in: path
        description: 사업자등록번호
        required: true
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 조회된 사업자 상태가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformCompanyStatePayload'
          x-portone-description: 성공 응답으로 조회된 사업자 상태가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformCompanyStateError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformCompanyStateError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformCompanyStateError'
        '404':
          description: '* `PlatformCompanyNotFoundError`: 사업자 정보를 찾을 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformCompanyStateError'
        '503':
          description: '* `PlatformExternalApiFailedError`: 외부 api 오류'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformCompanyStateError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.company
      x-portone-title: 사업자 조회
      x-portone-description: 사업자 정보를 조회합니다. 포트원 서비스에 연동 및 등록되지 않은 사업자도 조회 가능합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformCompanyStateError'
      tags:
      - Platform
  /platform/contracts/{id}/archive:
    post:
      summary: 계약 보관
      description: '계약 보관


        주어진 아이디에 대응되는 계약을 보관합니다.'
      operationId: archivePlatformContract
      parameters:
      - name: id
        in: path
        description: 계약 아이디
        required: true
        schema:
          type: string
        x-portone-title: 계약 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 보관된 계약 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformContractResponse'
          x-portone-description: 성공 응답으로 보관된 계약 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformContractError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformContractError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformContractError'
        '404':
          description: '* `PlatformContractNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformContractError'
        '409':
          description: '* `PlatformCannotArchiveScheduledContractError`: 예약된 업데이트가 있는 계약을 보관하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformContractError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 계약 보관
      x-portone-description: 주어진 아이디에 대응되는 계약을 보관합니다.
      x-portone-error:
        $ref: '#/components/schemas/ArchivePlatformContractError'
      tags:
      - Platform
  /platform/contracts/{id}/recover:
    post:
      summary: 계약 복원
      description: '계약 복원


        주어진 아이디에 대응되는 계약을 복원합니다.'
      operationId: recoverPlatformContract
      parameters:
      - name: id
        in: path
        description: 계약 아이디
        required: true
        schema:
          type: string
        x-portone-title: 계약 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 복원된 계약 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformContractResponse'
          x-portone-description: 성공 응답으로 복원된 계약 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformContractError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformContractError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformContractError'
        '404':
          description: '* `PlatformContractNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformContractError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 계약 복원
      x-portone-description: 주어진 아이디에 대응되는 계약을 복원합니다.
      x-portone-error:
        $ref: '#/components/schemas/RecoverPlatformContractError'
      tags:
      - Platform
  /platform/contracts/{id}/schedule:
    get:
      description: 주어진 아이디에 대응되는 계약의 예약 업데이트를 조회합니다.
      operationId: getPlatformContractSchedule
      parameters:
      - name: id
        in: path
        description: 계약 아이디
        required: true
        schema:
          type: string
        x-portone-title: 계약 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 예약된 계약 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformContract'
          x-portone-description: 성공 응답으로 예약된 계약 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractScheduleError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractScheduleError'
        '404':
          description: '* `PlatformContractNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractScheduleError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 계약의 예약 업데이트를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformContractScheduleError'
      x-portone-unstable: true
      tags:
      - Platform
    put:
      description: 주어진 아이디에 대응되는 계약에 예약 업데이트를 재설정합니다.
      operationId: rescheduleContract
      parameters:
      - name: id
        in: path
        description: 계약 아이디
        required: true
        schema:
          type: string
        x-portone-title: 계약 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReschedulePlatformContractBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 예약된 계약 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReschedulePlatformContractResponse'
          x-portone-description: 성공 응답으로 예약된 계약 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleContractError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleContractError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleContractError'
        '404':
          description: '* `PlatformContractNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleContractError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 계약에 예약 업데이트를 재설정합니다.
      x-portone-error:
        $ref: '#/components/schemas/RescheduleContractError'
      x-portone-unstable: true
      tags:
      - Platform
    post:
      description: 주어진 아이디에 대응되는 계약에 업데이트를 예약합니다.
      operationId: scheduleContract
      parameters:
      - name: id
        in: path
        description: 계약 아이디
        required: true
        schema:
          type: string
        x-portone-title: 계약 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePlatformContractBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 예약된 계약 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulePlatformContractResponse'
          x-portone-description: 성공 응답으로 예약된 계약 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleContractError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleContractError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleContractError'
        '404':
          description: '* `PlatformContractNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleContractError'
        '409':
          description: '* `PlatformContractScheduleAlreadyExistsError`

            * `PlatformArchivedContractError`: 보관된 계약을 업데이트하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleContractError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 계약에 업데이트를 예약합니다.
      x-portone-error:
        $ref: '#/components/schemas/ScheduleContractError'
      x-portone-unstable: true
      tags:
      - Platform
    delete:
      description: 주어진 아이디에 대응되는 계약의 예약 업데이트를 취소합니다.
      operationId: cancelPlatformContractSchedule
      parameters:
      - name: id
        in: path
        description: 계약 아이디
        required: true
        schema:
          type: string
        x-portone-title: 계약 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformContractScheduleResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformContractScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformContractScheduleError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformContractScheduleError'
        '404':
          description: '* `PlatformContractNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformContractScheduleError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 계약의 예약 업데이트를 취소합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelPlatformContractScheduleError'
      x-portone-unstable: true
      tags:
      - Platform
  /platform/contracts/{id}:
    get:
      summary: 계약 조회
      description: '계약 조회


        주어진 아이디에 대응되는 계약을 조회합니다.'
      operationId: getPlatformContract
      parameters:
      - name: id
        in: path
        description: 조회할 계약 아이디
        required: true
        schema:
          type: string
        x-portone-title: 조회할 계약 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 계약 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformContract'
          x-portone-description: 성공 응답으로 계약 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractError'
        '404':
          description: '* `PlatformContractNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 계약 조회
      x-portone-description: 주어진 아이디에 대응되는 계약을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformContractError'
      tags:
      - Platform
    patch:
      summary: 계약 수정
      description: '계약 수정


        주어진 아이디에 대응되는 계약을 업데이트합니다.'
      operationId: updatePlatformContract
      parameters:
      - name: id
        in: path
        description: 업데이트할 계약 아이디
        required: true
        schema:
          type: string
        x-portone-title: 업데이트할 계약 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlatformContractBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 업데이트된 계약 객체가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformContractResponse'
          x-portone-description: 성공 응답으로 업데이트된 계약 객체가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformContractError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformContractError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformContractError'
        '404':
          description: '* `PlatformContractNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformContractError'
        '409':
          description: '* `PlatformArchivedContractError`: 보관된 계약을 업데이트하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformContractError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 계약 수정
      x-portone-description: 주어진 아이디에 대응되는 계약을 업데이트합니다.
      x-portone-error:
        $ref: '#/components/schemas/UpdatePlatformContractError'
      tags:
      - Platform
  /platform/contracts:
    get:
      summary: 계약 다건 조회
      description: '계약 다건 조회


        여러 계약을 조회합니다.'
      operationId: getPlatformContracts
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPlatformContractsBody'
      responses:
        '200':
          description: 성공 응답으로 조회된 계약 리스트와 페이지 정보를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractsResponse'
          x-portone-description: 성공 응답으로 조회된 계약 리스트와 페이지 정보를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractsError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformContractsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 계약 다건 조회
      x-portone-description: 여러 계약을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformContractsError'
      tags:
      - Platform
    post:
      summary: 계약 생성
      description: '계약 생성


        새로운 계약을 생성합니다.'
      operationId: createPlatformContract
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlatformContractBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 생성된 계약 객체가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformContractResponse'
          x-portone-description: 성공 응답으로 생성된 계약 객체가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformContractError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformContractError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformContractError'
        '409':
          description: '* `PlatformContractAlreadyExistsError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformContractError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 계약 생성
      x-portone-description: 새로운 계약을 생성합니다.
      x-portone-error:
        $ref: '#/components/schemas/CreatePlatformContractError'
      tags:
      - Platform
  /platform/discount-share-policies/{id}/archive:
    post:
      summary: 할인 분담 정책 보관
      description: '할인 분담 정책 보관


        주어진 아이디에 대응되는 할인 분담을 보관합니다.'
      operationId: archivePlatformDiscountSharePolicy
      parameters:
      - name: id
        in: path
        description: 할인 분담 아이디
        required: true
        schema:
          type: string
        x-portone-title: 할인 분담 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 보관된 할인 분담 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformDiscountSharePolicyResponse'
          x-portone-description: 성공 응답으로 보관된 할인 분담 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformDiscountSharePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformDiscountSharePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformDiscountSharePolicyError'
        '404':
          description: '* `PlatformDiscountSharePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformDiscountSharePolicyError'
        '409':
          description: '* `PlatformCannotArchiveScheduledDiscountSharePolicyError`: 예약된 업데이트가 있는 할인 분담 정책을 보관하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformDiscountSharePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 할인 분담 정책 보관
      x-portone-description: 주어진 아이디에 대응되는 할인 분담을 보관합니다.
      x-portone-error:
        $ref: '#/components/schemas/ArchivePlatformDiscountSharePolicyError'
      tags:
      - Platform
  /platform/discount-share-policies/{id}/recover:
    post:
      summary: 할인 분담 정책 복원
      description: '할인 분담 정책 복원


        주어진 아이디에 대응되는 할인 분담을 복원합니다.'
      operationId: recoverPlatformDiscountSharePolicy
      parameters:
      - name: id
        in: path
        description: 할인 분담 아이디
        required: true
        schema:
          type: string
        x-portone-title: 할인 분담 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 복원된 할인 분담 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformDiscountSharePolicyResponse'
          x-portone-description: 성공 응답으로 복원된 할인 분담 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformDiscountSharePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformDiscountSharePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformDiscountSharePolicyError'
        '404':
          description: '* `PlatformDiscountSharePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformDiscountSharePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 할인 분담 정책 복원
      x-portone-description: 주어진 아이디에 대응되는 할인 분담을 복원합니다.
      x-portone-error:
        $ref: '#/components/schemas/RecoverPlatformDiscountSharePolicyError'
      tags:
      - Platform
  /platform/discount-share-policies/{id}/schedule:
    get:
      description: 주어진 아이디에 대응되는 할인 분담의 예약 업데이트를 조회합니다.
      operationId: getPlatformDiscountSharePolicySchedule
      parameters:
      - name: id
        in: path
        description: 할인 분담 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 할인 분담 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 예약된 할인 분담 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformDiscountSharePolicy'
          x-portone-description: 성공 응답으로 예약된 할인 분담 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyScheduleError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyScheduleError'
        '404':
          description: '* `PlatformDiscountSharePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyScheduleError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 할인 분담의 예약 업데이트를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformDiscountSharePolicyScheduleError'
      x-portone-unstable: true
      tags:
      - Platform
    put:
      description: 주어진 아이디에 대응되는 할인 분담에 예약 업데이트를 재설정합니다.
      operationId: rescheduleDiscountSharePolicy
      parameters:
      - name: id
        in: path
        description: 할인 분담 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 할인 분담 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReschedulePlatformDiscountSharePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 예약된 할인 분담 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReschedulePlatformDiscountSharePolicyResponse'
          x-portone-description: 성공 응답으로 예약된 할인 분담 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleDiscountSharePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleDiscountSharePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleDiscountSharePolicyError'
        '404':
          description: '* `PlatformDiscountSharePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RescheduleDiscountSharePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 할인 분담에 예약 업데이트를 재설정합니다.
      x-portone-error:
        $ref: '#/components/schemas/RescheduleDiscountSharePolicyError'
      x-portone-unstable: true
      tags:
      - Platform
    post:
      description: 주어진 아이디에 대응되는 할인 분담에 업데이트를 예약합니다.
      operationId: scheduleDiscountSharePolicy
      parameters:
      - name: id
        in: path
        description: 할인 분담 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 할인 분담 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePlatformDiscountSharePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 예약된 할인 분담 정책이 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulePlatformDiscountSharePolicyResponse'
          x-portone-description: 성공 응답으로 예약된 할인 분담 정책이 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleDiscountSharePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleDiscountSharePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleDiscountSharePolicyError'
        '404':
          description: '* `PlatformDiscountSharePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleDiscountSharePolicyError'
        '409':
          description: '* `PlatformDiscountSharePolicyScheduleAlreadyExistsError`

            * `PlatformArchivedDiscountSharePolicyError`: 보관된 할인 분담 정책을 업데이트하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleDiscountSharePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 할인 분담에 업데이트를 예약합니다.
      x-portone-error:
        $ref: '#/components/schemas/ScheduleDiscountSharePolicyError'
      x-portone-unstable: true
      tags:
      - Platform
    delete:
      description: 주어진 아이디에 대응되는 할인 분담의 예약 업데이트를 취소합니다.
      operationId: cancelPlatformDiscountSharePolicySchedule
      parameters:
      - name: id
        in: path
        description: 할인 분담 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 할인 분담 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformDiscountSharePolicyScheduleResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError'
        '404':
          description: '* `PlatformDiscountSharePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 할인 분담의 예약 업데이트를 취소합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError'
      x-portone-unstable: true
      tags:
      - Platform
  /platform/discount-share-policies/{id}:
    get:
      summary: 할인 분담 정책 조회
      description: '할인 분담 정책 조회


        주어진 아이디에 대응되는 할인 분담을 조회합니다.'
      operationId: getPlatformDiscountSharePolicy
      parameters:
      - name: id
        in: path
        description: 조회할 할인 분담 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 조회할 할인 분담 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      responses:
        '200':
          description: 성공 응답으로 할인 분담 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformDiscountSharePolicy'
          x-portone-description: 성공 응답으로 할인 분담 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyError'
        '404':
          description: '* `PlatformDiscountSharePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 할인 분담 정책 조회
      x-portone-description: 주어진 아이디에 대응되는 할인 분담을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformDiscountSharePolicyError'
      tags:
      - Platform
    patch:
      summary: 할인 분담 정책 수정
      description: '할인 분담 정책 수정


        주어진 아이디에 대응되는 할인 분담을 업데이트합니다.'
      operationId: updatePlatformDiscountSharePolicy
      parameters:
      - name: id
        in: path
        description: 업데이트할 할인 분담 정책 아이디
        required: true
        schema:
          type: string
        x-portone-title: 업데이트할 할인 분담 정책 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlatformDiscountSharePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 업데이트된 할인 분담 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformDiscountSharePolicyResponse'
          x-portone-description: 성공 응답으로 업데이트된 할인 분담 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformDiscountSharePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformDiscountSharePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformDiscountSharePolicyError'
        '404':
          description: '* `PlatformDiscountSharePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformDiscountSharePolicyError'
        '409':
          description: '* `PlatformArchivedDiscountSharePolicyError`: 보관된 할인 분담 정책을 업데이트하려고 하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformDiscountSharePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 할인 분담 정책 수정
      x-portone-description: 주어진 아이디에 대응되는 할인 분담을 업데이트합니다.
      x-portone-error:
        $ref: '#/components/schemas/UpdatePlatformDiscountSharePolicyError'
      tags:
      - Platform
  /platform/discount-share-policies:
    get:
      summary: 할인 분담 정책 다건 조회
      description: '할인 분담 정책 다건 조회


        여러 할인 분담을 조회합니다.'
      operationId: getPlatformDiscountSharePolicies
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPlatformDiscountSharePoliciesBody'
      responses:
        '200':
          description: 성공 응답으로 조회된 할인 분담 정책 리스트와 페이지 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePoliciesResponse'
          x-portone-description: 성공 응답으로 조회된 할인 분담 정책 리스트와 페이지 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePoliciesError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePoliciesError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePoliciesError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 할인 분담 정책 다건 조회
      x-portone-description: 여러 할인 분담을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformDiscountSharePoliciesError'
      tags:
      - Platform
    post:
      summary: 할인 분담 정책 생성
      description: '할인 분담 정책 생성


        새로운 할인 분담을 생성합니다.'
      operationId: createPlatformDiscountSharePolicy
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlatformDiscountSharePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 생성된 할인 분담 정책이 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformDiscountSharePolicyResponse'
          x-portone-description: 성공 응답으로 생성된 할인 분담 정책이 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformDiscountSharePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformDiscountSharePolicyError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformDiscountSharePolicyError'
        '409':
          description: '* `PlatformDiscountSharePolicyAlreadyExistsError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformDiscountSharePolicyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 할인 분담 정책 생성
      x-portone-description: 새로운 할인 분담을 생성합니다.
      x-portone-error:
        $ref: '#/components/schemas/CreatePlatformDiscountSharePolicyError'
      tags:
      - Platform
  /platform/discount-share-policy-filter-options:
    get:
      description: 할인 분담 정책 다건 조회 시 필요한 필터 옵션을 조회합니다.
      operationId: getPlatformDiscountSharePolicyFilterOptions
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: isArchived
        in: query
        description: '보관 조회 여부


          true 이면 보관된 할인 분담의 필터 옵션을 조회하고, false 이면 보관되지 않은 할인 분담의 필터 옵션을 조회합니다. 기본값은 false 입니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 보관 조회 여부
        x-portone-description: true 이면 보관된 할인 분담의 필터 옵션을 조회하고, false 이면 보관되지 않은 할인 분담의 필터 옵션을 조회합니다. 기본값은 false 입니다.
      responses:
        '200':
          description: 성공 응답으로 조회된 할인 분담 정책 필터 옵션을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformDiscountSharePolicyFilterOptions'
          x-portone-description: 성공 응답으로 조회된 할인 분담 정책 필터 옵션을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyFilterOptionsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyFilterOptionsError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformDiscountSharePolicyFilterOptionsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-description: 할인 분담 정책 다건 조회 시 필요한 필터 옵션을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformDiscountSharePolicyFilterOptionsError'
      x-portone-unstable: true
      tags:
      - Platform
  /platform/partner-filter-options:
    get:
      description: 파트너 다건 조회 시 필요한 필터 옵션을 조회합니다.
      operationId: getPlatformPartnerFilterOptions
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: 테스트 모드 여부를 결정합니다. true 이면 테스트 모드로 실행됩니다. Request Body에도 isForTest가 있을 수 있으나, 둘 다 제공되면 Query Parameter의 test 값을 사용하고, Request Body의 isForTest는 무시됩니다. Query Parameter의 test와 Request Body의 isForTest에 모두 값이 제공되지 않으면 기본값인 false로 적용됩니다.
      - name: isArchived
        in: query
        description: '보관 조회 여부


          true 이면 보관된 파트너의 필터 옵션을 조회하고, false 이면 보관되지 않은 파트너의 필터 옵션을 조회합니다. 기본값은 false 입니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 보관 조회 여부
        x-portone-description: true 이면 보관된 파트너의 필터 옵션을 조회하고, false 이면 보관되지 않은 파트너의 필터 옵션을 조회합니다. 기본값은 false 입니다.
      responses:
        '200':
[...]
