openapi: 3.0.3
info:
  title: PortOne B2b API
  version: 1.16.0
servers:
- url: https://api.portone.io
  description: 운영환경 서버
tags:
- name: B2b
paths:
  /b2b/bulk-tax-invoices/{bulkTaxInvoiceId}:
    get:
      summary: 일괄 세금계산서 조회
      description: '일괄 세금계산서 조회


        등록된 일괄 세금계산서를 일괄 세금계산서 아이디로 조회합니다.'
      operationId: getB2bBulkTaxInvoice
      parameters:
      - name: bulkTaxInvoiceId
        in: path
        description: 일괄 세금계산서 아이디
        required: true
        schema:
          type: string
        x-portone-title: 일괄 세금계산서 아이디
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2bBulkTaxInvoice'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBulkTaxInvoiceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBulkTaxInvoiceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBulkTaxInvoiceError'
        '404':
          description: '* `B2bBulkTaxInvoiceNotFoundError`: 일괄 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBulkTaxInvoiceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBulkTaxInvoiceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 일괄 세금계산서 조회
      x-portone-description: 등록된 일괄 세금계산서를 일괄 세금계산서 아이디로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bBulkTaxInvoiceError'
      tags:
      - B2b
  /b2b/companies/business-info:
    post:
      summary: 사업자등록 정보 조회
      description: '사업자등록 정보 조회


        요청된 사업자등록번호 리스트에 해당하는 사업자등록 정보를 조회합니다.

        해당 API 사용을 위해서는 별도 문의가 필요합니다.'
      operationId: getB2bBusinessInfos
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetB2bBusinessInfosBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 사업자등록 정보조회 결과 리스트를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosResponse'
          x-portone-description: 성공 응답으로 사업자등록 정보조회 결과 리스트를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: platform.company
      x-portone-title: 사업자등록 정보 조회
      x-portone-description: '요청된 사업자등록번호 리스트에 해당하는 사업자등록 정보를 조회합니다.

        해당 API 사용을 위해서는 별도 문의가 필요합니다.'
      x-portone-error:
        $ref: '#/components/schemas/GetB2bBusinessInfosError'
      tags:
      - B2b
  /b2b/counterparties/{brn}/certificate/registration-url:
    get:
      summary: 사업자 인증서 등록 URL 조회
      description: '사업자 인증서 등록 URL 조회


        연동 사업자의 인증서를 등록하기 위한 URL을 조회합니다.'
      operationId: getB2bCounterpartyCertificateRegistrationUrl
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      - name: brn
        in: path
        description: 사업자등록번호
        required: true
        schema:
          type: string
        x-portone-title: 사업자등록번호
      responses:
        '200':
          description: 성공 응답으로 URL을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateRegistrationUrlResponse'
          x-portone-description: 성공 응답으로 URL을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bCounterpartyNtsNotConnectedError`: 국세청에 연동되어 있지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateRegistrationUrlError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateRegistrationUrlError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateRegistrationUrlError'
        '404':
          description: '* `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateRegistrationUrlError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateRegistrationUrlError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.counterparty
      x-portone-title: 사업자 인증서 등록 URL 조회
      x-portone-description: 연동 사업자의 인증서를 등록하기 위한 URL을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bCounterpartyCertificateRegistrationUrlError'
      tags:
      - B2b
  /b2b/counterparties/{brn}/certificate/validate:
    post:
      summary: 사업자 인증서 유효성 검증
      description: '사업자 인증서 유효성 검증


        연동 사업자가 등록한 인증서의 유효성을 검증합니다.'
      operationId: validateB2bCounterpartyCertificate
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      - name: brn
        in: path
        description: 사업자등록번호
        required: true
        schema:
          type: string
        x-portone-title: 사업자등록번호
      responses:
        '200':
          description: 성공 응답으로 유효성 검증 결과를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateB2bCounterpartyCertificateResponse'
          x-portone-description: 성공 응답으로 유효성 검증 결과를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bCounterpartyNtsNotConnectedError`: 국세청에 연동되어 있지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateB2bCounterpartyCertificateError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateB2bCounterpartyCertificateError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateB2bCounterpartyCertificateError'
        '404':
          description: '* `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우

            * `B2bCertificateUnregisteredError`: 인증서가 등록되어 있지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateB2bCounterpartyCertificateError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateB2bCounterpartyCertificateError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.counterparty
      x-portone-title: 사업자 인증서 유효성 검증
      x-portone-description: 연동 사업자가 등록한 인증서의 유효성을 검증합니다.
      x-portone-error:
        $ref: '#/components/schemas/ValidateB2bCounterpartyCertificateError'
      tags:
      - B2b
  /b2b/counterparties/{brn}/certificate:
    get:
      summary: 인증서 조회
      description: '인증서 조회


        연동 사업자의 인증서를 조회합니다.'
      operationId: getB2bCounterpartyCertificate
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      - name: brn
        in: path
        description: 사업자등록번호
        required: true
        schema:
          type: string
        x-portone-title: 사업자등록번호
      responses:
        '200':
          description: 성공 응답으로 인증서 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2bCertificate'
          x-portone-description: 성공 응답으로 인증서 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bCounterpartyNtsNotConnectedError`: 국세청에 연동되어 있지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateError'
        '404':
          description: '* `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우

            * `B2bCertificateUnregisteredError`: 인증서가 등록되어 있지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyCertificateError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.counterparty
      x-portone-title: 인증서 조회
      x-portone-description: 연동 사업자의 인증서를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bCounterpartyCertificateError'
      tags:
      - B2b
  /b2b/counterparties/{counterpartyId}:
    get:
      summary: 거래처 조회
      description: '거래처 조회


        거래처를 조회합니다.'
      operationId: getB2bCounterparty
      parameters:
      - name: counterpartyId
        in: path
        description: 거래처 ID
        required: true
        schema:
          type: string
        x-portone-title: 거래처 ID
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: 성공 응답으로 거래처 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2bCounterparty'
          x-portone-description: 성공 응답으로 거래처 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyError'
        '404':
          description: '* `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.counterparty
      x-portone-title: 거래처 조회
      x-portone-description: 거래처를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bCounterpartyError'
      tags:
      - B2b
    delete:
      summary: 거래처 삭제
      description: '거래처 삭제


        거래처를 삭제합니다.'
      operationId: deleteB2bCounterparty
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      - name: counterpartyId
        in: path
        description: 거래처 ID
        required: true
        schema:
          type: string
        x-portone-title: 거래처 ID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteB2bCounterpartyBody'
        required: false
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bCounterpartyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bCounterpartyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bCounterpartyError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우

            * `B2bCounterpartyPartnerNotDeletableError`: 파트너 연동 거래처는 삭제할 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bCounterpartyError'
        '404':
          description: '* `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bCounterpartyError'
        '409':
          description: '* `B2bCounterpartyOngoingTaxInvoiceExistsError`: 진행 중인 세금계산서가 존재하여 거래처를 삭제할 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bCounterpartyError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bCounterpartyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.counterparty
      x-portone-title: 거래처 삭제
      x-portone-description: 거래처를 삭제합니다.
      x-portone-error:
        $ref: '#/components/schemas/DeleteB2bCounterpartyError'
      tags:
      - B2b
    patch:
      summary: 거래처 정보 수정
      description: '거래처 정보 수정


        거래처 정보를 수정합니다.'
      operationId: updateB2bCounterparty
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      - name: counterpartyId
        in: path
        description: 거래처 ID
        required: true
        schema:
          type: string
        x-portone-title: 거래처 ID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateB2bCounterpartyBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bCounterpartyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bCounterpartyBrnModificationNotAllowedError`: 사업자등록번호 수정이 허용되지 않는 경우

            * `B2bCounterpartyTooManyAdditionalContactsError`: 추가 담당자가 너무 많은 경우

            * `B2bCounterpartyMissingRequiredFieldsError`: 필수 입력 항목이 누락된 경우

            * `B2bCounterpartyVerificationBrnMismatchError`: 검증 결과의 사업자등록번호가 일치하지 않는 경우

            * `B2bCounterpartyVerificationTypeMismatchError`: 검증 유형이 일치하지 않는 경우

            * `B2bCounterpartyVerificationInvalidError`: 검증 결과가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bCounterpartyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bCounterpartyError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우

            * `B2bCounterpartyPartnerNotUpdatableError`: 파트너 연동 거래처는 수정할 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bCounterpartyError'
        '404':
          description: '* `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우

            * `B2bCounterpartyVerificationNotFoundError`: 검증 결과를 찾을 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bCounterpartyError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bCounterpartyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.counterparty
      x-portone-title: 거래처 정보 수정
      x-portone-description: 거래처 정보를 수정합니다.
      x-portone-error:
        $ref: '#/components/schemas/UpdateB2bCounterpartyError'
      tags:
      - B2b
  /b2b/counterparties:
    get:
      summary: 거래처 검색
      description: '거래처 검색


        거래처를 검색합니다.'
      operationId: getB2bCounterparties
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetB2bCounterpartiesBody'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartiesResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartiesError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartiesError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartiesError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bCounterpartiesError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.counterparty
      x-portone-title: 거래처 검색
      x-portone-description: 거래처를 검색합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bCounterpartiesError'
      tags:
      - B2b
    post:
      summary: 거래처 생성
      description: '거래처 생성


        거래처를 생성합니다.'
      operationId: createB2bCounterparty
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateB2bCounterpartyBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bCounterpartyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bCounterpartyBrnInvalidError`: 사업자등록번호가 유효하지 않은 경우

            * `B2bCounterpartySelfOriginBrnMismatchError`: 자사 사업자등록번호와 동일한 거래처를 생성할 수 없는 경우

            * `B2bCounterpartyTooManyAdditionalContactsError`: 추가 담당자가 너무 많은 경우

            * `B2bCounterpartyMissingRequiredFieldsError`: 필수 입력 항목이 누락된 경우

            * `B2bCounterpartyVerificationBrnMismatchError`: 검증 결과의 사업자등록번호가 일치하지 않는 경우

            * `B2bCounterpartyVerificationTypeMismatchError`: 검증 유형이 일치하지 않는 경우

            * `B2bCounterpartyVerificationInvalidError`: 검증 결과가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bCounterpartyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bCounterpartyError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우

            * `B2bCounterpartyPartnerNotConnectableError`: 파트너 연동 거래처는 국세청 연동이 허용되지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bCounterpartyError'
        '404':
          description: '* `B2bCounterpartyVerificationNotFoundError`: 검증 결과를 찾을 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bCounterpartyError'
        '409':
          description: '* `B2bCounterpartyIdAlreadyExistsError`: 거래처 ID가 이미 사용중인 경우

            * `B2bCounterpartyIdAlreadyExistsByPartnerError`: 파트너 연동으로 생성된 거래처 ID가 이미 사용중인 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bCounterpartyError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우

            * `B2bCounterpartyNtsConnectionFailedError`: 국세청 연동에 실패한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bCounterpartyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.counterparty
      x-portone-title: 거래처 생성
      x-portone-description: 거래처를 생성합니다.
      x-portone-error:
        $ref: '#/components/schemas/CreateB2bCounterpartyError'
      tags:
      - B2b
  /b2b/file-upload-url:
    post:
      summary: 파일 업로드 URL 생성
      description: '파일 업로드 URL 생성


        S3 파일 업로드를 위한 URL을 생성합니다.'
      operationId: createB2bFileUploadUrl
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateB2bFileUploadUrlBody'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bFileUploadUrlPayload'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bFileUploadUrlError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bFileUploadUrlError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bFileUploadUrlError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateB2bFileUploadUrlError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 파일 업로드 URL 생성
      x-portone-description: S3 파일 업로드를 위한 URL을 생성합니다.
      x-portone-error:
        $ref: '#/components/schemas/CreateB2bFileUploadUrlError'
      tags:
      - B2b
  /b2b/tax-invoices-sheet:
    get:
      summary: 세금계산서 엑셀 파일(csv) 다운로드
      description: '세금계산서 엑셀 파일(csv) 다운로드


        세금계산서를 엑셀 파일(csv)로 다운로드합니다.'
      operationId: downloadB2bTaxInvoicesSheet
      parameters:
      - name: requestBody
        in: query
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadB2bTaxInvoicesSheetBody'
      responses:
        '200':
          description: ''
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadB2bTaxInvoicesSheetError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadB2bTaxInvoicesSheetError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 엑셀 파일(csv) 다운로드
      x-portone-description: 세금계산서를 엑셀 파일(csv)로 다운로드합니다.
      x-portone-error:
        $ref: '#/components/schemas/DownloadB2bTaxInvoicesSheetError'
      tags:
      - B2b
  /b2b/tax-invoices/draft:
    put:
      summary: 세금계산서 임시저장 수정
      description: '세금계산서 임시저장 수정


        임시 저장된 세금계산서를 수정합니다.'
      operationId: updateB2bTaxInvoiceDraft
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceSupplierDocumentKeyAlreadyUsedError`: 세금계산서에 공급자 문서 번호가 이미 사용 중인 경우

            * `B2bTaxInvoiceRecipientDocumentKeyAlreadyUsedError`: 세금계산서에 공급 받는자 문서 번호가 이미 사용 중인 경우

            * `B2bCounterpartyNtsNotConnectedError`: 국세청에 연동되어 있지 않은 경우

            * `B2bModificationNotProvidedError`: 세금계산서 수정 입력 정보를 찾을 수 없는 경우

            * `B2BCannotChangeTaxTypeError`: 세금계산서 과세 유형을 수정할 수 없는 경우

            * `B2BTaxInvoiceStatusNotSendingCompletedError`: 원본 세금계산서가 전송완료 상태가 아닌 경우

            * `B2bTaxInvoiceNotDraftedStatusError`: 세금계산서가 임시저장 완료 상태가 아닌 경우

            * `B2bDocumentKeyCannotBeChangedError`: 문서번호 수정이 요청된 경우

            * `B2bIssuanceTypeMismatchError`: 세금계산서 발행 유형이 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftError'
        '404':
          description: '* `B2bSupplierNotFoundError`: 공급자가 존재하지 않은 경우

            * `B2bRecipientNotFoundError`: 공급받는자가 존재하지 않은 경우

            * `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우

            * `B2bOriginalTaxInvoiceNotFoundError`: 원본 세금계산서가 존재하지 않은 경우

            * `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftError'
        '409':
          description: '* `B2bIdAlreadyExistsError`: ID가 이미 사용중인 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 임시저장 수정
      x-portone-description: 임시 저장된 세금계산서를 수정합니다.
      x-portone-error:
        $ref: '#/components/schemas/UpdateB2bTaxInvoiceDraftError'
      tags:
      - B2b
    post:
      summary: 세금계산서 임시 저장
      description: '세금계산서 임시 저장


        세금계산서 임시 저장을 요청합니다.'
      operationId: draftB2bTaxInvoice
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftB2bTaxInvoiceBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftB2bTaxInvoiceResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceSupplierDocumentKeyAlreadyUsedError`: 세금계산서에 공급자 문서 번호가 이미 사용 중인 경우

            * `B2bTaxInvoiceRecipientDocumentKeyAlreadyUsedError`: 세금계산서에 공급 받는자 문서 번호가 이미 사용 중인 경우

            * `B2bCounterpartyNtsNotConnectedError`: 국세청에 연동되어 있지 않은 경우

            * `B2bModificationNotProvidedError`: 세금계산서 수정 입력 정보를 찾을 수 없는 경우

            * `B2BCannotChangeTaxTypeError`: 세금계산서 과세 유형을 수정할 수 없는 경우

            * `B2BTaxInvoiceStatusNotSendingCompletedError`: 원본 세금계산서가 전송완료 상태가 아닌 경우

            * `B2bIssuanceTypeMismatchError`: 세금계산서 발행 유형이 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftB2bTaxInvoiceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftB2bTaxInvoiceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftB2bTaxInvoiceError'
        '404':
          description: '* `B2bSupplierNotFoundError`: 공급자가 존재하지 않은 경우

            * `B2bRecipientNotFoundError`: 공급받는자가 존재하지 않은 경우

            * `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우

            * `B2bOriginalTaxInvoiceNotFoundError`: 원본 세금계산서가 존재하지 않은 경우

            * `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftB2bTaxInvoiceError'
        '409':
          description: '* `B2bIdAlreadyExistsError`: ID가 이미 사용중인 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftB2bTaxInvoiceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftB2bTaxInvoiceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 임시 저장
      x-portone-description: 세금계산서 임시 저장을 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/DraftB2bTaxInvoiceError'
      tags:
      - B2b
  /b2b/tax-invoices/issue-immediately:
    post:
      summary: 세금계산서 즉시 정발행
      description: '세금계산서 즉시 정발행


        세금계산서를 즉시 정발행합니다. 임시저장 API와 정발행 API 기능을 한 번의 프로세스로 처리합니다.'
      operationId: issueB2bTaxInvoiceImmediately
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceSupplierDocumentKeyAlreadyUsedError`: 세금계산서에 공급자 문서 번호가 이미 사용 중인 경우

            * `B2bTaxInvoiceRecipientDocumentKeyAlreadyUsedError`: 세금계산서에 공급 받는자 문서 번호가 이미 사용 중인 경우

            * `B2bCounterpartyNtsNotConnectedError`: 국세청에 연동되어 있지 않은 경우

            * `B2bModificationNotProvidedError`: 세금계산서 수정 입력 정보를 찾을 수 없는 경우

            * `B2BCannotChangeTaxTypeError`: 세금계산서 과세 유형을 수정할 수 없는 경우

            * `B2BTaxInvoiceStatusNotSendingCompletedError`: 원본 세금계산서가 전송완료 상태가 아닌 경우

            * `B2bIssuanceTypeMismatchError`: 세금계산서 발행 유형이 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyError'
        '404':
          description: '* `B2bSupplierNotFoundError`: 공급자가 존재하지 않은 경우

            * `B2bRecipientNotFoundError`: 공급받는자가 존재하지 않은 경우

            * `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우

            * `B2bOriginalTaxInvoiceNotFoundError`: 원본 세금계산서가 존재하지 않은 경우

            * `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyError'
        '409':
          description: '* `B2bIdAlreadyExistsError`: ID가 이미 사용중인 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 즉시 정발행
      x-portone-description: 세금계산서를 즉시 정발행합니다. 임시저장 API와 정발행 API 기능을 한 번의 프로세스로 처리합니다.
      x-portone-error:
        $ref: '#/components/schemas/IssueB2bTaxInvoiceImmediatelyError'
      tags:
      - B2b
  /b2b/tax-invoices/request-reverse-issuance:
    post:
      summary: 세금계산서 역발행 즉시 요청
      description: '세금계산서 역발행 즉시 요청


        공급자에게 세금계산서 역발행을 즉시 요청합니다. 임시저장 API와 역발행 요청 API 기능을 한 번의 프로세스로 처리합니다.'
      operationId: requestB2bTaxInvoiceReverseIssuance
      parameters:
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceSupplierDocumentKeyAlreadyUsedError`: 세금계산서에 공급자 문서 번호가 이미 사용 중인 경우

            * `B2bTaxInvoiceRecipientDocumentKeyAlreadyUsedError`: 세금계산서에 공급 받는자 문서 번호가 이미 사용 중인 경우

            * `B2bCounterpartyNtsNotConnectedError`: 국세청에 연동되어 있지 않은 경우

            * `B2bModificationNotProvidedError`: 세금계산서 수정 입력 정보를 찾을 수 없는 경우

            * `B2BCannotChangeTaxTypeError`: 세금계산서 과세 유형을 수정할 수 없는 경우

            * `B2BTaxInvoiceStatusNotSendingCompletedError`: 원본 세금계산서가 전송완료 상태가 아닌 경우

            * `B2bIssuanceTypeMismatchError`: 세금계산서 발행 유형이 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceError'
        '404':
          description: '* `B2bSupplierNotFoundError`: 공급자가 존재하지 않은 경우

            * `B2bRecipientNotFoundError`: 공급받는자가 존재하지 않은 경우

            * `B2bCounterpartyNotFoundError`: 거래처가 존재하지 않는 경우

            * `B2bOriginalTaxInvoiceNotFoundError`: 원본 세금계산서가 존재하지 않은 경우

            * `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceError'
        '409':
          description: '* `B2bIdAlreadyExistsError`: ID가 이미 사용중인 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 역발행 즉시 요청
      x-portone-description: 공급자에게 세금계산서 역발행을 즉시 요청합니다. 임시저장 API와 역발행 요청 API 기능을 한 번의 프로세스로 처리합니다.
      x-portone-error:
        $ref: '#/components/schemas/RequestB2bTaxInvoiceReverseIssuanceError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/attach-file:
    post:
      summary: 세금계산서 파일 첨부
      description: '세금계산서 파일 첨부


        세금계산서에 파일을 첨부합니다.'
      operationId: attachB2bTaxInvoiceFile
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachB2bTaxInvoiceFileBody'
        required: true
      responses:
        '200':
          description: ''
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceNotDraftedStatusError`: 세금계산서가 임시저장 완료 상태가 아닌 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachB2bTaxInvoiceFileError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachB2bTaxInvoiceFileError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachB2bTaxInvoiceFileError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우

            * `B2bFileNotFoundError`: 업로드한 파일을 찾을 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachB2bTaxInvoiceFileError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachB2bTaxInvoiceFileError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 파일 첨부
      x-portone-description: 세금계산서에 파일을 첨부합니다.
      x-portone-error:
        $ref: '#/components/schemas/AttachB2bTaxInvoiceFileError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/attachments/{attachmentId}:
    delete:
      summary: 세금계산서 첨부파일 삭제
      description: '세금계산서 첨부파일 삭제


        세금계산서 첨부파일을 삭제합니다.'
      operationId: deleteB2bTaxInvoiceAttachment
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: attachmentId
        in: path
        description: 첨부파일 아이디
        required: true
        schema:
          type: string
        x-portone-title: 첨부파일 아이디
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: ''
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceNotDraftedStatusError`: 세금계산서가 임시저장 완료 상태가 아닌 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceAttachmentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceAttachmentError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceAttachmentError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우

            * `B2bTaxInvoiceAttachmentNotFoundError`: 세금계산서의 첨부파일을 찾을 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceAttachmentError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceAttachmentError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 첨부파일 삭제
      x-portone-description: 세금계산서 첨부파일을 삭제합니다.
      x-portone-error:
        $ref: '#/components/schemas/DeleteB2bTaxInvoiceAttachmentError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/attachments:
    get:
      summary: 세금계산서 첨부파일 목록 조회
      description: '세금계산서 첨부파일 목록 조회


        세금계산서에 첨부된 파일 목록을 조회합니다.'
      operationId: getB2bTaxInvoiceAttachments
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceAttachmentsResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceAttachmentsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceAttachmentsError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceAttachmentsError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceAttachmentsError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceAttachmentsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 첨부파일 목록 조회
      x-portone-description: 세금계산서에 첨부된 파일 목록을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bTaxInvoiceAttachmentsError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/cancel-issuance:
    post:
      summary: 세금계산서 취소 (공급자에 의한 취소)
      description: '세금계산서 취소 (공급자에 의한 취소)


        발행 완료된 세금계산서를 공급자가 국세청 전송 전에 취소합니다.'
      operationId: cancelB2bTaxInvoiceIssuance
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelB2bTaxInvoiceIssuanceBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceIssuanceResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceNotIssuedStatusError`: 세금계산서가 발행된(ISSUED) 상태가 아닌 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceIssuanceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceIssuanceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceIssuanceError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceIssuanceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceIssuanceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 취소 (공급자에 의한 취소)
      x-portone-description: 발행 완료된 세금계산서를 공급자가 국세청 전송 전에 취소합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelB2bTaxInvoiceIssuanceError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/cancel-request:
    post:
      summary: 세금계산서 역발행 요청 취소 (공급받는자에 의한 취소)
      description: '세금계산서 역발행 요청 취소 (공급받는자에 의한 취소)


        공급자가 세금계산서 발행을 승인하기 전에 공급받는자가 해당 역발행 요청을 취소합니다.'
      operationId: cancelB2bTaxInvoiceRequest
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelB2bTaxInvoiceRequestBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceRequestResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceNotRequestedStatusError`: 세금계산서가 역발행 대기 상태가 아닌 경우

            * `B2bTaxInvoiceNoRecipientDocumentKeyError`: 세금계산서에 공급받는자 문서 번호가 기입되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceRequestError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceRequestError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceRequestError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceRequestError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelB2bTaxInvoiceRequestError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 역발행 요청 취소 (공급받는자에 의한 취소)
      x-portone-description: 공급자가 세금계산서 발행을 승인하기 전에 공급받는자가 해당 역발행 요청을 취소합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelB2bTaxInvoiceRequestError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/issue:
    post:
      summary: 세금계산서 발행 승인
      description: '세금계산서 발행 승인


        역발행의 경우 역발행요청(REQUESTED) 상태, 정발행의 경우 임시저장(DRAFTED) 상태의 세금계산서에 대해 발행을 승인합니다.'
      operationId: issueB2bTaxInvoice
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueB2bTaxInvoiceBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceNotRequestedStatusError`: 세금계산서가 역발행 대기 상태가 아닌 경우

            * `B2bTaxInvoiceNotDraftedStatusError`: 세금계산서가 임시저장 완료 상태가 아닌 경우

            * `B2bTaxInvoiceNoSupplierDocumentKeyError`: 세금계산서에 공급자 문서 번호가 기입되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueB2bTaxInvoiceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 발행 승인
      x-portone-description: 역발행의 경우 역발행요청(REQUESTED) 상태, 정발행의 경우 임시저장(DRAFTED) 상태의 세금계산서에 대해 발행을 승인합니다.
      x-portone-error:
        $ref: '#/components/schemas/IssueB2bTaxInvoiceError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/pdf-download-url:
    get:
      summary: 세금 계산서 PDF 다운로드 URL 조회
      description: '세금 계산서 PDF 다운로드 URL 조회


        등록된 세금 계산서 PDF 다운로드 URL을 공급자 혹은 공급받는자 문서번호로 조회합니다.'
      operationId: getB2bTaxInvoicePdfDownloadUrl
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePdfDownloadUrlResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePdfDownloadUrlError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePdfDownloadUrlError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePdfDownloadUrlError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePdfDownloadUrlError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePdfDownloadUrlError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금 계산서 PDF 다운로드 URL 조회
      x-portone-description: 등록된 세금 계산서 PDF 다운로드 URL을 공급자 혹은 공급받는자 문서번호로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bTaxInvoicePdfDownloadUrlError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/popup-url:
    get:
      summary: 세금 계산서 팝업 URL 조회
      description: '세금 계산서 팝업 URL 조회


        등록된 세금 계산서 팝업 URL을 공급자 혹은 공급받는자 문서번호로 조회합니다.'
      operationId: getB2bTaxInvoicePopupUrl
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: includeMenu
        in: query
        description: '메뉴 포함 여부


          팝업 URL에 메뉴 레이아웃을 포함 여부를 결정합니다. 기본 값은 true입니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 메뉴 포함 여부
        x-portone-description: 팝업 URL에 메뉴 레이아웃을 포함 여부를 결정합니다. 기본 값은 true입니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePopupUrlResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePopupUrlError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePopupUrlError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePopupUrlError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePopupUrlError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePopupUrlError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금 계산서 팝업 URL 조회
      x-portone-description: 등록된 세금 계산서 팝업 URL을 공급자 혹은 공급받는자 문서번호로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bTaxInvoicePopupUrlError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/print-url:
    get:
      summary: 세금 계산서 프린트 URL 조회
      description: '세금 계산서 프린트 URL 조회


        등록된 세금 계산서 프린트 URL을 공급자 혹은 공급받는자 문서번호로 조회합니다.'
      operationId: getB2bTaxInvoicePrintUrl
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePrintUrlResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePrintUrlError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePrintUrlError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePrintUrlError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePrintUrlError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicePrintUrlError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금 계산서 프린트 URL 조회
      x-portone-description: 등록된 세금 계산서 프린트 URL을 공급자 혹은 공급받는자 문서번호로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bTaxInvoicePrintUrlError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/refuse-request:
    post:
      summary: 세금계산서 역발행 요청 거부
      description: '세금계산서 역발행 요청 거부


        공급자가 공급받는자로부터 요청받은 세금계산서 역발행 건을 거부합니다.'
      operationId: refuseB2bTaxInvoiceRequest
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefuseB2bTaxInvoiceRequestBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefuseB2bTaxInvoiceRequestResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceNotRequestedStatusError`: 세금계산서가 역발행 대기 상태가 아닌 경우

            * `B2bTaxInvoiceNoSupplierDocumentKeyError`: 세금계산서에 공급자 문서 번호가 기입되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefuseB2bTaxInvoiceRequestError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefuseB2bTaxInvoiceRequestError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefuseB2bTaxInvoiceRequestError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefuseB2bTaxInvoiceRequestError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefuseB2bTaxInvoiceRequestError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 역발행 요청 거부
      x-portone-description: 공급자가 공급받는자로부터 요청받은 세금계산서 역발행 건을 거부합니다.
      x-portone-error:
        $ref: '#/components/schemas/RefuseB2bTaxInvoiceRequestError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/request:
    post:
      summary: 세금계산서 역발행 요청
      description: '세금계산서 역발행 요청


        임시저장(REGISTERED) 상태의 역발행 세금계산서를 공급자에게 발행 요청합니다. 요청이 완료되면 (역)발행대기 상태로 전환됩니다.'
      operationId: requestB2bTaxInvoice
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestB2bTaxInvoiceResponse'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bModificationNotProvidedError`: 세금계산서 수정 입력 정보를 찾을 수 없는 경우

            * `B2BCannotChangeTaxTypeError`: 세금계산서 과세 유형을 수정할 수 없는 경우

            * `B2BTaxInvoiceStatusNotSendingCompletedError`: 원본 세금계산서가 전송완료 상태가 아닌 경우

            * `B2bTaxInvoiceNotDraftedStatusError`: 세금계산서가 임시저장 완료 상태가 아닌 경우

            * `B2bIssuanceTypeMismatchError`: 세금계산서 발행 유형이 올바르지 않은 경우

            * `B2bTaxInvoiceNoRecipientDocumentKeyError`: 세금계산서에 공급받는자 문서 번호가 기입되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestB2bTaxInvoiceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestB2bTaxInvoiceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestB2bTaxInvoiceError'
        '404':
          description: '* `B2bOriginalTaxInvoiceNotFoundError`: 원본 세금계산서가 존재하지 않은 경우

            * `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestB2bTaxInvoiceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestB2bTaxInvoiceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 역발행 요청
      x-portone-description: 임시저장(REGISTERED) 상태의 역발행 세금계산서를 공급자에게 발행 요청합니다. 요청이 완료되면 (역)발행대기 상태로 전환됩니다.
      x-portone-error:
        $ref: '#/components/schemas/requestB2bTaxInvoiceError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}/send-to-nts:
    post:
      summary: 세금계산서 국세청 즉시 전송
      description: '세금계산서 국세청 즉시 전송


        발행이 완료된 세금계산서를 국세청에 즉시 전송합니다.'
      operationId: sendToNtsB2bTaxInvoice
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendToNtsB2bTaxInvoiceResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceNotIssuedStatusError`: 세금계산서가 발행된(ISSUED) 상태가 아닌 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendToNtsB2bTaxInvoiceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendToNtsB2bTaxInvoiceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendToNtsB2bTaxInvoiceError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendToNtsB2bTaxInvoiceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendToNtsB2bTaxInvoiceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 국세청 즉시 전송
      x-portone-description: 발행이 완료된 세금계산서를 국세청에 즉시 전송합니다.
      x-portone-error:
        $ref: '#/components/schemas/SendToNtsB2bTaxInvoiceError'
      tags:
      - B2b
  /b2b/tax-invoices/{taxInvoiceKey}:
    get:
      summary: 세금 계산서 조회
      description: '세금 계산서 조회


        등록된 세금 계산서를 세금계산서 아이디로 조회합니다.'
      operationId: getB2bTaxInvoice
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: 성공 응답으로 세금계산서를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2bTaxInvoice'
          x-portone-description: 성공 응답으로 세금계산서를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoiceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금 계산서 조회
      x-portone-description: 등록된 세금 계산서를 세금계산서 아이디로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bTaxInvoiceError'
      tags:
      - B2b
    delete:
      summary: 세금계산서 삭제
      description: '세금계산서 삭제


        세금계산서를 삭제합니다.'
      operationId: deleteB2bTaxInvoice
      parameters:
      - name: taxInvoiceKey
        in: path
        description: 세금계산서 문서 번호
        required: true
        schema:
          type: string
        x-portone-title: 세금계산서 문서 번호
      - name: brn
        in: query
        description: 사업자등록번호
        required: false
        schema:
          type: string
        x-portone-title: 사업자등록번호
      - name: taxInvoiceKeyType
        in: query
        description: '문서 번호 유형


          query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
        x-portone-title: 문서 번호 유형
        x-portone-description: query 파라미터로 전달된 문서번호 유형. 기본 값은 TAX_INVOICE_ID이며 SUPPLIER, RECIPIENT, TAX_INVOICE_ID을 지원합니다.
      - name: test
        in: query
        description: '테스트 모드 여부


          true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 테스트 모드 여부
        x-portone-description: true 이면 테스트 모드로 실행되며, false 이거나 주어지지 않은 경우 테스트 모드를 사용하지 않습니다.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `B2bTaxInvoiceNonDeletableStatusError`: 세금계산서가 삭제 가능한 상태가 아닌 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우

            * `B2bBulkTaxInvoiceNotFoundError`: 일괄 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteB2bTaxInvoiceError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금계산서 삭제
      x-portone-description: 세금계산서를 삭제합니다.
      x-portone-error:
        $ref: '#/components/schemas/DeleteB2bTaxInvoiceError'
      tags:
      - B2b
  /b2b/tax-invoices:
    get:
      summary: 세금 계산서 다건조회
      description: '세금 계산서 다건조회


        조회 기간 내 등록된 세금 계산서를 다건 조회합니다.'
      operationId: getB2bTaxInvoices
      parameters:
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetB2bTaxInvoicesBody'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicesResponse'
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicesError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicesError'
        '403':
          description: '* `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우

            * `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicesError'
        '404':
          description: '* `B2bTaxInvoiceNotFoundError`: 세금계산서가 존재하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicesError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bTaxInvoicesError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: b2b.taxInvoice
      x-portone-title: 세금 계산서 다건조회
      x-portone-description: 조회 기간 내 등록된 세금 계산서를 다건 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bTaxInvoicesError'
      tags:
      - B2b
components:
  schemas:
    B2bTaxInvoiceModificationCreateBody:
      title: 수정 세금계산서 생성 입력 정보
      description: 수정 세금계산서 생성 입력 정보
      type: object
      required:
      - type
      - taxInvoiceKey
      properties:
        type:
          $ref: '#/components/schemas/B2bTaxInvoiceModificationType'
          title: 수정 사유
        brn:
          type: string
          title: 사업자등록번호
          description: taxInvoiceKeyType이 TAX_INVOICE_ID가 아닌 경우 필수 값입니다.
        taxInvoiceKey:
          type: string
          title: 세금계산서 문서 번호
        taxInvoiceKeyType:
          $ref: '#/components/schemas/B2bTaxInvoiceKeyType'
          title: 문서 번호 유형
          description: 기본 값은 RECIPIENT이며 SUPPLIER, RECIPIENT을 지원합니다.
      x-portone-title: 수정 세금계산서 생성 입력 정보
    B2bDocumentKeyCannotBeChangedError:
      title: 문서번호 수정이 요청된 경우
      description: 문서번호 수정이 요청된 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 문서번호 수정이 요청된 경우
      x-portone-status-code: 400
    B2bCounterpartyVerificationBrnMismatchError:
      title: 검증 결과의 사업자등록번호가 일치하지 않는 경우
      description: 검증 결과의 사업자등록번호가 일치하지 않는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 검증 결과의 사업자등록번호가 일치하지 않는 경우
      x-portone-status-code: 400
    CreateB2bFileUploadUrlError:
      title: CreateB2bFileUploadUrlError
      oneOf:
      - $ref: '#/components/schemas/B2bExternalServiceError'
      - $ref: '#/components/schemas/B2bNotEnabledError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          B2B_EXTERNAL_SERVICE: '#/components/schemas/B2bExternalServiceError'
          B2B_NOT_ENABLED: '#/components/schemas/B2bNotEnabledError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    B2bCounterpartyInput:
      title: 거래처 입력 정보
      description: 거래처 입력 정보
      type: object
      required:
      - brn
      properties:
        brn:
          type: string
          title: 사업자등록번호
          description: '`-` 없이 숫자로만 구성됩니다.'
        name:
          type: string
          title: 거래처명
        representativeName:
          type: string
          title: 대표자 성명
        address:
          type: string
          title: 주소
        businessType:
          type: string
          title: 업태
        businessClass:
          type: string
          title: 업종
        contact:
          $ref: '#/components/schemas/B2bCounterpartyContactInput'
          title: 담당자 정보
        additionalContacts:
          title: 추가 담당자 목록
          type: array
          items:
            $ref: '#/components/schemas/B2bCounterpartyContactInput'
          description: 최대 5명까지 등록할 수 있습니다.
        memo:
          type: string
          title: 메모
      x-portone-title: 거래처 입력 정보
    B2bCompanyStateBusinessStatus:
      title: 영업 상태
      description: 영업 상태
      type: string
      enum:
      - IN_BUSINESS
      - CLOSED
      - SUSPENDED
      x-portone-title: 영업 상태
      x-portone-enum:
        IN_BUSINESS:
          title: 영업중
        CLOSED:
          title: 폐업
        SUSPENDED:
          title: 휴업
    SendToNtsB2bTaxInvoiceResponse:
      title: 세금계산서 국세청 즉시 전송 응답
      description: 세금계산서 국세청 즉시 전송 응답
      type: object
      required:
      - taxInvoice
      properties:
        taxInvoice:
          $ref: '#/components/schemas/B2bTaxInvoice'
      x-portone-title: 세금계산서 국세청 즉시 전송 응답
    B2bCounterpartyVerificationTypeMismatchError:
      title: 검증 유형이 일치하지 않는 경우
      description: 검증 유형이 일치하지 않는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 검증 유형이 일치하지 않는 경우
      x-portone-status-code: 400
    GetB2bTaxInvoicesBodyDateFilter:
      title: 조회 기간 필터
      description: 조회 기간 필터
      type: object
      properties:
        dateType:
          $ref: '#/components/schemas/B2bSearchDateType'
          title: 조회 기간 기준
          description: 미입력시 기본값은 등록일(`REGISTER`)로 설정됩니다.
        dateRange:
          type: array
          items:
            $ref: '#/components/schemas/DateRangeOption'
          title: 조회 기간
          description: 미입력시 `dateRange.from`의 기본값은 한 달 이전, `dateRange.until`의 기본값은 현재 일자로 설정됩니다.
      x-portone-title: 조회 기간 필터
    B2bTaxInvoiceNonDeletableStatusError:
      title: 세금계산서가 삭제 가능한 상태가 아닌 경우
      description: '세금계산서가 삭제 가능한 상태가 아닌 경우


        삭제 가능한 상태는 `DRAFTED`, `ISSUE_REFUSED`, `REQUEST_CANCELLED_BY_RECIPIENT`, `ISSUE_CANCELLED_BY_SUPPLIER`, `SENDING_FAILED` 입니다.'
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 세금계산서가 삭제 가능한 상태가 아닌 경우
      x-portone-description: 삭제 가능한 상태는 `DRAFTED`, `ISSUE_REFUSED`, `REQUEST_CANCELLED_BY_RECIPIENT`, `ISSUE_CANCELLED_BY_SUPPLIER`, `SENDING_FAILED` 입니다.
      x-portone-status-code: 400
    B2bTaxInvoiceNoSupplierDocumentKeyError:
      title: 세금계산서에 공급자 문서 번호가 기입되지 않은 경우
      description: 세금계산서에 공급자 문서 번호가 기입되지 않은 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 세금계산서에 공급자 문서 번호가 기입되지 않은 경우
      x-portone-status-code: 400
    RefuseB2bTaxInvoiceRequestError:
      title: RefuseB2bTaxInvoiceRequestError
      oneOf:
      - $ref: '#/components/schemas/B2bExternalServiceError'
      - $ref: '#/components/schemas/B2bNotEnabledError'
      - $ref: '#/components/schemas/B2bTaxInvoiceNoSupplierDocumentKeyError'
      - $ref: '#/components/schemas/B2bTaxInvoiceNotFoundError'
      - $ref: '#/components/schemas/B2bTaxInvoiceNotRequestedStatusError'
[...]
