openapi: 3.0.3
info:
  title: PortOne B2b Billing Keys API
  version: 1.16.0
servers:
- url: https://api.portone.io
  description: 운영환경 서버
tags:
- name: Billing Keys
paths:
  /billing-keys:
    get:
      summary: 빌링키 다건 조회
      description: '빌링키 다건 조회


        주어진 조건에 맞는 빌링키들을 페이지 기반으로 조회합니다.'
      operationId: getBillingKeyInfos
      parameters:
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBillingKeyInfosBody'
      responses:
        '200':
          description: 성공 응답으로 조회된 빌링키 리스트와 페이지 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosResponse'
          x-portone-title: 성공 응답으로 조회된 빌링키 리스트와 페이지 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 다건 조회
      x-portone-description: 주어진 조건에 맞는 빌링키들을 페이지 기반으로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetBillingKeyInfosError'
      tags:
      - Billing Keys
    post:
      summary: 빌링키 발급
      description: '빌링키 발급


        빌링키 발급을 요청합니다.'
      operationId: issueBillingKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueBillingKeyBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
        '404':
          description: '* `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우

            * `ChannelSpecificError`: 여러 채널을 지정한 요청에서, 채널 각각에서 오류가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 발급
      x-portone-description: 빌링키 발급을 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/IssueBillingKeyError'
      tags:
      - Billing Keys
  /billing-keys/confirm:
    post:
      summary: 빌링키 발급 수동 승인
      description: '빌링키 발급 수동 승인


        수동 승인으로 설정된 빌링키 발급에 대해, 빌링키 발급을 완료 처리합니다.'
      operationId: confirmBillingKey
      requestBody:
        description: 빌링키 발급 승인 요청 정보
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmBillingKeyBody'
        required: true
        x-portone-title: 빌링키 발급 승인 요청 정보
      responses:
        '200':
          description: 성공 응답으로 빌링키 발급 승인 결과를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmedBillingKeySummary'
          x-portone-title: 성공 응답으로 빌링키 발급 승인 결과를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyError'
        '404':
          description: '* `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyError'
        '409':
          description: '* `BillingKeyAlreadyIssuedError`

            * `InformationMismatchError`: 정보가 일치하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 발급 수동 승인
      x-portone-description: 수동 승인으로 설정된 빌링키 발급에 대해, 빌링키 발급을 완료 처리합니다.
      x-portone-error:
        $ref: '#/components/schemas/ConfirmBillingKeyError'
      tags:
      - Billing Keys
  /billing-keys/confirm-issue-and-pay:
    post:
      summary: 빌링키 발급 및 초회 결제 수동 승인
      description: '빌링키 발급 및 초회 결제 수동 승인


        수동 승인으로 설정된 빌링키 발급 및 초회 결제에 대해, 빌링키 발급과 결제를 완료 처리합니다.'
      operationId: confirmBillingKeyIssueAndPay
      requestBody:
        description: 빌링키 발급 및 초회 결제 승인 요청 정보
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmBillingKeyIssueAndPayBody'
        required: true
        x-portone-title: 빌링키 발급 및 초회 결제 승인 요청 정보
      responses:
        '200':
          description: 성공 응답으로 빌링키 발급 및 초회 결제 승인 결과를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmedBillingKeyIssueAndPaySummary'
          x-portone-title: 성공 응답으로 빌링키 발급 및 초회 결제 승인 결과를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyIssueAndPayError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyIssueAndPayError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyIssueAndPayError'
        '404':
          description: '* `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyIssueAndPayError'
        '409':
          description: '* `BillingKeyAlreadyIssuedError`

            * `InformationMismatchError`: 정보가 일치하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyIssueAndPayError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmBillingKeyIssueAndPayError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 발급 및 초회 결제 수동 승인
      x-portone-description: 수동 승인으로 설정된 빌링키 발급 및 초회 결제에 대해, 빌링키 발급과 결제를 완료 처리합니다.
      x-portone-error:
        $ref: '#/components/schemas/ConfirmBillingKeyIssueAndPayError'
      tags:
      - Billing Keys
  /billing-keys/{billingKey}:
    get:
      summary: 빌링키 단건 조회
      description: '빌링키 단건 조회


        주어진 빌링키에 대응되는 빌링키 정보를 조회합니다.'
      operationId: getBillingKeyInfo
      parameters:
      - name: billingKey
        in: path
        description: 조회할 빌링키
        required: true
        schema:
          type: string
        x-portone-title: 조회할 빌링키
      - name: storeId
        in: query
        description: '상점 아이디


          접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 상점 아이디
        x-portone-description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
      responses:
        '200':
          description: 성공 응답으로 빌링키 정보를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingKeyInfo'
          x-portone-description: 성공 응답으로 빌링키 정보를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfoError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfoError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfoError'
        '404':
          description: '* `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfoError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 단건 조회
      x-portone-description: 주어진 빌링키에 대응되는 빌링키 정보를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetBillingKeyInfoError'
      tags:
      - Billing Keys
    delete:
      summary: 빌링키 삭제
      description: '빌링키 삭제


        빌링키를 삭제합니다.'
      operationId: deleteBillingKey
      parameters:
      - name: billingKey
        in: path
        description: 삭제할 빌링키
        required: true
        schema:
          type: string
        x-portone-title: 삭제할 빌링키
      - name: storeId
        in: query
        description: '상점 아이디


          접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 상점 아이디
        x-portone-description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
      - name: reason
        in: query
        description: '사유


          네이버페이: 자동결제 해지 사유입니다. 명시가 필요합니다.'
        required: false
        schema:
          type: string
        x-portone-title: 사유
        x-portone-description: '네이버페이: 자동결제 해지 사유입니다. 명시가 필요합니다.'
      - name: requester
        in: query
        description: '요청 주체


          네이버페이: 자동결제 해지 요청 주체입니다. 명시가 필요합니다.'
        required: false
        schema:
          $ref: '#/components/schemas/BillingKeyDeleteRequester'
        x-portone-title: 요청 주체
        x-portone-description: '네이버페이: 자동결제 해지 요청 주체입니다. 명시가 필요합니다.'
      - name: skipWebhook
        in: query
        description: '웹훅 생략 여부


          빌링키 삭제가 성공했을 때 웹훅을 전송하지 않으려면 true로 설정합니다.'
        required: false
        schema:
          type: boolean
        x-portone-title: 웹훅 생략 여부
        x-portone-description: 빌링키 삭제가 성공했을 때 웹훅을 전송하지 않으려면 true로 설정합니다.
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '404':
          description: '* `BillingKeyNotIssuedError`

            * `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '409':
          description: '* `BillingKeyAlreadyDeletedError`: 빌링키가 이미 삭제된 경우

            * `PaymentScheduleAlreadyExistsError`: 결제 예약건이 이미 존재하는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우

            * `ChannelSpecificError`: 여러 채널을 지정한 요청에서, 채널 각각에서 오류가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 삭제
      x-portone-description: 빌링키를 삭제합니다.
      x-portone-error:
        $ref: '#/components/schemas/DeleteBillingKeyError'
      tags:
      - Billing Keys
components:
  schemas:
    ConfirmedBillingKeyIssueAndPaySummary:
      title: 빌링키 발급 및 초회 결제 수동 승인 완료 응답
      description: 빌링키 발급 및 초회 결제 수동 승인 완료 응답
      type: object
      required:
      - billingKey
      - paymentId
      properties:
        billingKey:
          type: string
          title: 빌링키
        paymentId:
          type: string
          title: 결제 건 아이디
      x-portone-title: 빌링키 발급 및 초회 결제 수동 승인 완료 응답
    GetBillingKeyInfosResponse:
      title: 빌링키 다건 조회 성공 응답 정보
      description: 빌링키 다건 조회 성공 응답 정보
      type: object
      required:
      - items
      - page
      properties:
        items:
          title: 조회된 빌링키 리스트
          type: array
          items:
            $ref: '#/components/schemas/BillingKeyInfo'
        page:
          $ref: '#/components/schemas/PageInfo'
          title: 조회된 페이지 정보
      x-portone-title: 빌링키 다건 조회 성공 응답 정보
    DeleteBillingKeyError:
      title: DeleteBillingKeyError
      oneOf:
      - $ref: '#/components/schemas/BillingKeyAlreadyDeletedError'
      - $ref: '#/components/schemas/BillingKeyNotFoundError'
      - $ref: '#/components/schemas/BillingKeyNotIssuedError'
      - $ref: '#/components/schemas/ChannelSpecificError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PaymentScheduleAlreadyExistsError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          BILLING_KEY_ALREADY_DELETED: '#/components/schemas/BillingKeyAlreadyDeletedError'
          BILLING_KEY_NOT_FOUND: '#/components/schemas/BillingKeyNotFoundError'
          BILLING_KEY_NOT_ISSUED: '#/components/schemas/BillingKeyNotIssuedError'
          CHANNEL_SPECIFIC: '#/components/schemas/ChannelSpecificError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PAYMENT_SCHEDULE_ALREADY_EXISTS: '#/components/schemas/PaymentScheduleAlreadyExistsError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    Customer:
      title: 고객 정보
      description: 고객 정보
      type: object
      properties:
        id:
          type: string
          title: 고객 아이디
          description: 고객사가 지정한 고객의 고유 식별자입니다.
        name:
          type: string
          title: 이름
        birthYear:
          type: string
          title: 출생 연도
        birthMonth:
          type: string
          title: 출생 월
        birthDay:
          type: string
          title: 출생 일자
        gender:
          $ref: '#/components/schemas/Gender'
          title: 성별
        email:
          type: string
          title: 이메일
        phoneNumber:
          type: string
          title: 전화번호
        address:
          $ref: '#/components/schemas/Address'
          title: 주소
        zipcode:
          type: string
          title: 우편번호
      x-portone-title: 고객 정보
    PageInput:
      title: 다건 조회 API 에 사용되는 페이지 입력 정보
      description: 다건 조회 API 에 사용되는 페이지 입력 정보
      type: object
      properties:
        number:
          type: integer
          format: int32
          title: 0부터 시작하는 페이지 번호
        size:
          type: integer
          format: int32
          title: 각 페이지 당 포함할 객체 수
      x-portone-title: 다건 조회 API 에 사용되는 페이지 입력 정보
    BillingKeySortInput:
      title: 빌링키 다건 조회 시 정렬 조건
      description: 빌링키 다건 조회 시 정렬 조건
      type: object
      properties:
        by:
          $ref: '#/components/schemas/BillingKeySortBy'
          title: 정렬 기준 필드
          description: 어떤 필드를 기준으로 정렬할 지 결정합니다. 비워서 보낼 경우, REQUESTED_AT이 기본값으로 설정됩니다.
        order:
          $ref: '#/components/schemas/SortOrder'
          title: 정렬 순서
          description: 어떤 순서로 정렬할 지 결정합니다. 비워서 보낼 경우, DESC(내림차순)가 기본값으로 설정됩니다.
      x-portone-title: 빌링키 다건 조회 시 정렬 조건
    PgProviderError:
      title: PG사에서 오류를 전달한 경우
      description: PG사에서 오류를 전달한 경우
      type: object
      required:
      - type
      - pgCode
      - pgMessage
      properties:
        type:
          type: string
        message:
          type: string
        pgCode:
          type: string
        pgMessage:
          type: string
      x-portone-title: PG사에서 오류를 전달한 경우
      x-portone-status-code: 502
    SelectedChannelType:
      title: 채널 타입
      description: 채널 타입
      type: string
      enum:
      - LIVE
      - TEST
      x-portone-title: 채널 타입
      x-portone-enum:
        LIVE:
          title: 실 연동 채널
        TEST:
          title: 테스트 연동 채널
    PaymentScheduleAlreadyExistsError:
      title: 결제 예약건이 이미 존재하는 경우
      description: 결제 예약건이 이미 존재하는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 결제 예약건이 이미 존재하는 경우
      x-portone-status-code: 409
    EasyPayProvider:
      title: 간편 결제사
      description: 간편 결제사
      type: string
      enum:
      - SAMSUNGPAY
      - KAKAOPAY
      - NAVERPAY
      - PAYCO
      - SSGPAY
      - CHAI
      - LPAY
      - KPAY
      - TOSSPAY
      - LGPAY
      - PINPAY
      - APPLEPAY
      - SKPAY
      - TOSS_BRANDPAY
      - KB_APP
      - ALIPAY
      - HYPHEN
      - TMONEY
      - PAYPAL
      - SMILEPAY
      - MIR
      - WECHAT
      - LINEPAY
      - KLARNA
      - GRABPAY
      - SHOPEEPAY
      - JKOPAY
      - PAYPAY
      - AMAZONPAY
      - RAKUTENPAY
      - DBARAI
      - AUPAY
      - MERPAY
      - MONEYTREE
      - KPLUS
      - TINABA
      - BILL_EASE
      - KREDIVO
      - RABBIT_LINE_PAY
      - ALIPAY_HK
      - AKULAKU_PAY_LATER
      - BOOST
      - BPI
      - DANA
      - G_CASH
      - HIPAY
      - MPAY
      - TOUCH_N_GO
      - TRUE_MONEY
      - DOKU_WALLET
      - JENIUS_PAY
      - OVO
      - MAYA
      - QRIS
      - THAI_QR
      - GOOGLE_PAY
      x-portone-title: 간편 결제사
      x-portone-enum:
        ALIPAY_HK: {}
        MIR: {}
        QRIS: {}
        MONEYTREE: {}
        GRABPAY: {}
        TOSS_BRANDPAY: {}
        JKOPAY: {}
        SHOPEEPAY: {}
        BOOST: {}
        ALIPAY: {}
        LPAY: {}
        DBARAI: {}
        KB_APP: {}
        LINEPAY: {}
        PAYCO: {}
        HIPAY: {}
        BILL_EASE: {}
        DOKU_WALLET: {}
        SMILEPAY: {}
        TINABA: {}
        KLARNA: {}
        JENIUS_PAY: {}
        RABBIT_LINE_PAY: {}
        THAI_QR: {}
        NAVERPAY: {}
        GOOGLE_PAY: {}
        KREDIVO: {}
        CHAI: {}
        PINPAY: {}
        WECHAT: {}
        KPLUS: {}
        MAYA: {}
        TMONEY: {}
        TOSSPAY: {}
        SSGPAY: {}
        MERPAY: {}
        PAYPAL: {}
        OVO: {}
        G_CASH: {}
        LGPAY: {}
        APPLEPAY: {}
        HYPHEN: {}
        AUPAY: {}
        SAMSUNGPAY: {}
        DANA: {}
        TOUCH_N_GO: {}
        KPAY: {}
        AMAZONPAY: {}
        BPI: {}
        TRUE_MONEY: {}
        SKPAY: {}
        AKULAKU_PAY_LATER: {}
        RAKUTENPAY: {}
        PAYPAY: {}
        KAKAOPAY: {}
        MPAY: {}
    IssueBillingKeyError:
      title: IssueBillingKeyError
      oneOf:
      - $ref: '#/components/schemas/ChannelNotFoundError'
      - $ref: '#/components/schemas/ChannelSpecificError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          CHANNEL_NOT_FOUND: '#/components/schemas/ChannelNotFoundError'
          CHANNEL_SPECIFIC: '#/components/schemas/ChannelSpecificError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    ConfirmBillingKeyBody:
      title: 빌링키 발급 승인 입력 정보
      description: 빌링키 발급 승인 입력 정보
      type: object
      required:
      - billingIssueToken
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        billingIssueToken:
          type: string
          title: 빌링키 발급 토큰
          description: 빌링키 발급 요청 완료 시 발급된 토큰입니다.
        isTest:
          type: boolean
          title: 테스트 결제 여부
          description: 검증용 파라미터로, 결제 건 테스트 여부와 일치하지 않을 경우 오류가 반환됩니다.
        skipWebhook:
          type: boolean
          title: 웹훅 생략 여부
          description: 빌링키 발급이 성공했을 때 웹훅을 전송하지 않으려면 true로 설정합니다.
      x-portone-title: 빌링키 발급 승인 입력 정보
    GetBillingKeyInfoError:
      title: GetBillingKeyInfoError
      oneOf:
      - $ref: '#/components/schemas/BillingKeyNotFoundError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          BILLING_KEY_NOT_FOUND: '#/components/schemas/BillingKeyNotFoundError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    BillingKeyTimeRangeField:
      title: 빌링키 다건 조회 시, 시각 범위를 적용할 필드
      description: 빌링키 다건 조회 시, 시각 범위를 적용할 필드
      type: string
      enum:
      - REQUESTED_AT
      - ISSUED_AT
      - DELETED_AT
      - STATUS_TIMESTAMP
      x-portone-title: 빌링키 다건 조회 시, 시각 범위를 적용할 필드
      x-portone-enum:
        REQUESTED_AT:
          title: 발급 요청 시각
        ISSUED_AT:
          title: 발급 완료 시각
        DELETED_AT:
          title: 삭제 완료 시각
        STATUS_TIMESTAMP:
          title: 상태 변경 시각
          description: 발급 완료 상태의 경우 ISSUED_AT, 삭제 완료 상태의 경우 DELETED_AT
    BillingKeyAlreadyDeletedError:
      title: 빌링키가 이미 삭제된 경우
      description: 빌링키가 이미 삭제된 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 빌링키가 이미 삭제된 경우
      x-portone-status-code: 409
    ConfirmBillingKeyIssueAndPayBody:
      title: 빌링키 발급 및 초회 결제 승인 입력 정보
      description: 빌링키 발급 및 초회 결제 승인 입력 정보
      type: object
      required:
      - billingIssueToken
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        billingIssueToken:
          type: string
          title: 빌링키 발급 토큰
          description: 빌링키 발급 및 초회 결제 요청 완료 시 발급된 토큰입니다.
        paymentId:
          type: string
          title: 결제 건 아이디
          description: 검증용 파라미터로, 결제 건 아이디와 일치하지 않을 경우 오류가 반환됩니다.
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
          description: 검증용 파라미터로, 결제 건 화폐와 일치하지 않을 경우 오류가 반환됩니다.
        totalAmount:
          type: integer
          format: int64
          title: 결제 금액
          description: 검증용 파라미터로, 결제 건 총 금액과 일치하지 않을 경우 오류가 반환됩니다.
        taxFreeAmount:
          type: integer
          format: int64
          title: 면세 금액
          description: 검증용 파라미터로, 결제 건 면세 금액과 일치하지 않을 경우 오류가 반환됩니다.
        isTest:
          type: boolean
          title: 테스트 결제 여부
          description: 검증용 파라미터로, 결제 건 테스트 여부와 일치하지 않을 경우 오류가 반환됩니다.
        skipWebhook:
          type: boolean
          title: 웹훅 생략 여부
          description: 빌링키 발급 및 결제가 성공했을 때 웹훅을 전송하지 않으려면 true로 설정합니다. 가상계좌 입금 완료 등 외부 이벤트로 결제가 완료되는 경우 발생하는 웹훅은 스킵되지 않습니다.
      x-portone-title: 빌링키 발급 및 초회 결제 승인 입력 정보
    Gender:
      title: 성별
      description: 성별
      type: string
      enum:
      - MALE
      - FEMALE
      - OTHER
      x-portone-title: 성별
      x-portone-enum:
        MALE:
          title: 남성
        FEMALE:
          title: 여성
        OTHER:
          title: 그 외 성별
    BillingKeyFilterInput:
      title: 빌링키 다건 조회를 위한 입력 정보
      description: 빌링키 다건 조회를 위한 입력 정보
      type: object
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: Merchant 사용자만 사용가능하며, 지정되지 않은 경우 고객사 전체 빌링키를 조회합니다.
        timeRangeField:
          $ref: '#/components/schemas/BillingKeyTimeRangeField'
          title: 조회 기준 시점 유형
        from:
          type: string
          format: date-time
          title: 조회 기준 시점 범위의 시작
          description: 값을 입력하지 않으면 end의 90일 전으로 설정됩니다.
        until:
          type: string
          format: date-time
          title: 조회 기준 시점 범위의 끝
          description: 값을 입력하지 않으면 현재 시점으로 설정됩니다.
        status:
          title: 빌링키 상태 리스트
          type: array
          items:
            $ref: '#/components/schemas/BillingKeyStatus'
          description: 값을 입력하지 않으면 빌링키 상태 필터링이 적용되지 않습니다.
        channelGroupIds:
          type: array
          items:
            type: string
          title: 채널 그룹 아이디 리스트
          description: 값을 입력하지 않으면 스마트 라우팅 그룹 아이디 필터링이 적용되지 않습니다.
        customerId:
          type: string
          title: 고객 ID
        platformType:
          $ref: '#/components/schemas/PaymentClientType'
          title: 플랫폼 유형
        textSearch:
          $ref: '#/components/schemas/BillingKeyTextSearch'
          title: 통합 검색 필터
        pgProviders:
          title: PG사 결제 모듈 리스트
          type: array
          items:
            $ref: '#/components/schemas/PgProvider'
          description: 값을 입력하지 않으면 PG사 결제 모듈 필터링이 적용되지 않습니다.
        pgCompanies:
          title: PG사 리스트
          type: array
          items:
            $ref: '#/components/schemas/PgCompany'
          description: 값을 입력하지 않으면 PG사 필터링이 적용되지 않습니다.
        methods:
          title: 결제수단 리스트
          type: array
          items:
            $ref: '#/components/schemas/BillingKeyPaymentMethodType'
          description: 값을 입력하지 않으면 결제수단 필터링이 적용되지 않습니다.
        version:
          $ref: '#/components/schemas/PortOneVersion'
          title: 포트원 버전
      x-portone-title: 빌링키 다건 조회를 위한 입력 정보
    BillingKeyPaymentMethodMobile:
      title: 모바일 정보
      description: 모바일 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
        phoneNumber:
          type: string
          title: 전화번호
      x-portone-title: 모바일 정보
    Bank:
      title: 은행
      description: 은행
      type: string
      enum:
      - BANK_OF_KOREA
      - KDB
      - IBK
      - KOOKMIN
      - SUHYUP
      - KEXIM
      - NONGHYUP
      - LOCAL_NONGHYUP
      - WOORI
      - STANDARD_CHARTERED
      - CITI
      - SUHYUP_FEDERATION
      - DAEGU
      - BUSAN
      - KWANGJU
      - JEJU
      - JEONBUK
      - KYONGNAM
      - KFCC
      - SHINHYUP
      - SAVINGS_BANK
      - MORGAN_STANLEY
      - HSBC
      - DEUTSCHE
      - JPMC
      - MIZUHO
      - MUFG
      - BANK_OF_AMERICA
      - BNP_PARIBAS
      - ICBC
      - BANK_OF_CHINA
      - NFCF
      - UOB
      - BOCOM
      - CCB
      - POST
      - KODIT
      - KIBO
      - HANA
      - SHINHAN
      - K_BANK
      - KAKAO
      - TOSS
      - MISC_FOREIGN
      - SGI
      - KCIS
      - YUANTA_SECURITIES
      - KB_SECURITIES
      - SANGSANGIN_SECURITIES
      - HANYANG_SECURITIES
      - LEADING_SECURITIES
      - BNK_SECURITIES
      - IBK_SECURITIES
      - DAOL_SECURITIES
      - MIRAE_ASSET_SECURITIES
      - SAMSUNG_SECURITIES
      - KOREA_SECURITIES
      - NH_SECURITIES
      - KYOBO_SECURITIES
      - HI_SECURITIES
      - HYUNDAI_MOTOR_SECURITIES
      - KIWOOM_SECURITIES
      - EBEST_SECURITIES
      - SK_SECURITIES
      - DAISHIN_SECURITIES
      - HANHWA_SECURITIES
      - HANA_SECURITIES
      - TOSS_SECURITIES
      - SHINHAN_SECURITIES
      - DB_SECURITIES
      - EUGENE_SECURITIES
      - MERITZ_SECURITIES
      - KAKAO_PAY_SECURITIES
      - BOOKOOK_SECURITIES
      - SHINYOUNG_SECURITIES
      - CAPE_SECURITIES
      - KOREA_SECURITIES_FINANCE
      - KOREA_FOSS_SECURITIES
      - WOORI_INVESTMENT_BANK
      x-portone-title: 은행
      x-portone-enum:
        BANK_OF_CHINA:
          title: 중국은행
        KDB:
          title: 산업은행
        HANYANG_SECURITIES:
          title: 한양증권
        SK_SECURITIES:
          title: SK증권
        HANA_SECURITIES:
          title: 하나증권
        KB_SECURITIES:
          title: KB증권
        KYONGNAM:
          title: 경남은행
        WOORI_INVESTMENT_BANK:
          title: 우리종합금융
        CITI:
          title: 한국씨티은행
        SHINYOUNG_SECURITIES:
          title: 신영증권
        KOREA_SECURITIES:
          title: 한국투자증권
        SHINHAN:
          title: 신한은행
        LEADING_SECURITIES:
          title: 리딩투자증권
        UOB:
          title: 대화은행
        KOREA_FOSS_SECURITIES:
          title: 한국포스증권
        MERITZ_SECURITIES:
          title: 메리츠증권
        MIZUHO:
          title: 미즈호은행
        EBEST_SECURITIES:
          title: LS증권
        SANGSANGIN_SECURITIES:
          title: 상상인증권
        IBK:
          title: 기업은행
        DEUTSCHE:
          title: 도이치은행
        KCIS:
          title: 한국신용정보원
        KEXIM:
          title: 수출입은행
        SHINHYUP:
          title: 신협
        CCB:
          title: 중국건설은행
        HANA:
          title: 하나은행
        TOSS_SECURITIES:
          title: 토스증권
        IBK_SECURITIES:
          title: IBK투자증권
        SHINHAN_SECURITIES:
          title: 신한투자증권
        HANHWA_SECURITIES:
          title: 한화투자증권
        SUHYUP_FEDERATION:
          title: 수협중앙회
        LOCAL_NONGHYUP:
          title: 지역농축협
        WOORI:
          title: 우리은행
        SAMSUNG_SECURITIES:
          title: 삼성증권
        K_BANK:
          title: 케이뱅크
        DB_SECURITIES:
          title: DB금융투자
        SGI:
          title: 서울보증보험
        JEJU:
          title: 제주은행
        MIRAE_ASSET_SECURITIES:
          title: 미래에셋증권
        SAVINGS_BANK:
          title: 저축은행
        EUGENE_SECURITIES:
          title: 유진투자증권
        DAEGU:
          title: 아이엠뱅크
        BNK_SECURITIES:
          title: BNK투자증권
        KAKAO_PAY_SECURITIES:
          title: 카카오페이증권
        SUHYUP:
          title: 수협은행
        CAPE_SECURITIES:
          title: 케이프투자증권
        JEONBUK:
          title: 전북은행
        BNP_PARIBAS:
          title: 비엔피파리바은행
        KOREA_SECURITIES_FINANCE:
          title: 한국증권금융
        KODIT:
          title: 신용보증기금
        BOCOM:
          title: 교통은행
        DAOL_SECURITIES:
          title: 다올투자증권
        NFCF:
          title: 산림조합중앙회
        HSBC:
          title: HSBC은행
        STANDARD_CHARTERED:
          title: SC제일은행
        KWANGJU:
          title: 광주은행
        ICBC:
          title: 중국공상은행
        TOSS:
          title: 토스뱅크
        HYUNDAI_MOTOR_SECURITIES:
          title: 현대차증권
        BANK_OF_AMERICA:
          title: BOA은행
        BANK_OF_KOREA:
          title: 한국은행
        NONGHYUP:
          title: NH농협은행
        HI_SECURITIES:
          title: 하이투자증권
        KIBO:
          title: 기술보증기금
        KAKAO:
          title: 카카오뱅크
        KIWOOM_SECURITIES:
          title: 키움증권
        BUSAN:
          title: 부산은행
        NH_SECURITIES:
          title: NH투자증권
        MORGAN_STANLEY:
          title: 모간스탠리은행
        KFCC:
          title: 새마을금고
        BOOKOOK_SECURITIES:
          title: 부국증권
        MISC_FOREIGN:
          title: 기타 외국계은행(중국 농업은행 등)
        YUANTA_SECURITIES:
          title: 유안타증권
        POST:
          title: 우체국
        DAISHIN_SECURITIES:
          title: 대신증권
        KOOKMIN:
          title: 국민은행
        MUFG:
          title: 엠유에프지은행
        JPMC:
          title: 제이피모간체이스은행
        KYOBO_SECURITIES:
          title: 교보증권
    BillingKeyNotFoundError:
      title: 빌링키가 존재하지 않는 경우
      description: 빌링키가 존재하지 않는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 빌링키가 존재하지 않는 경우
      x-portone-status-code: 404
    PaymentClientType:
      title: 결제가 발생한 클라이언트 환경
      description: 결제가 발생한 클라이언트 환경
      type: string
      enum:
      - SDK_MOBILE
      - SDK_PC
      - API
      x-portone-title: 결제가 발생한 클라이언트 환경
      x-portone-enum:
        SDK_MOBILE: {}
        SDK_PC: {}
        API: {}
    BillingKeyPaymentMethodEasyPay:
      title: 간편 결제 정보
      description: 간편 결제 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
        provider:
          $ref: '#/components/schemas/EasyPayProvider'
          title: 간편 결제 PG사
        method:
          $ref: '#/components/schemas/BillingKeyPaymentMethodEasyPayMethod'
          title: 간편 결제 수단
      x-portone-title: 간편 결제 정보
    Country:
      title: 국가
      description: 국가
      type: string
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      x-portone-title: 국가
      x-portone-enum:
        CV:
          title: Cabo Verde
        MA:
          title: Morocco
        AO:
          title: Angola
        VN:
          title: Viet Nam
        IN:
          title: India
        KW:
          title: Kuwait
        ML:
          title: Mali
        ID:
          title: Indonesia
        JE:
          title: Jersey
        HM:
          title: Heard Island and McDonald Islands
        EG:
          title: Egypt
        BG:
          title: Bulgaria
        SG:
          title: Singapore
        SV:
          title: El Salvador
        BD:
          title: Bangladesh
        TC:
          title: Turks and Caicos Islands (the)
        TH:
          title: Thailand
        AT:
          title: Austria
        GQ:
          title: Equatorial Guinea
        TR:
          title: Türkiye
        HT:
          title: Haiti
        UM:
          title: United States Minor Outlying Islands (the)
        MH:
          title: Marshall Islands (the)
        MY:
          title: Malaysia
        RU:
          title: Russian Federation (the)
        NI:
          title: Nicaragua
        BZ:
          title: Belize
        KP:
          title: Korea (the Democratic People's Republic of)
        VE:
          title: Venezuela (Bolivarian Republic of)
        IL:
          title: Israel
        GD:
          title: Grenada
        GI:
          title: Gibraltar
        TN:
          title: Tunisia
        DM:
          title: Dominica
        MO:
          title: Macao
        PR:
          title: Puerto Rico
        NF:
          title: Norfolk Island
        TW:
          title: Taiwan (Province of China)
        KN:
          title: Saint Kitts and Nevis
        PH:
          title: Philippines (the)
        WF:
          title: Wallis and Futuna
        JO:
          title: Jordan
        ME:
          title: Montenegro
        ES:
          title: Spain
        AZ:
          title: Azerbaijan
        MR:
          title: Mauritania
        SM:
          title: San Marino
        BL:
          title: Saint Barthélemy
        PK:
          title: Pakistan
        NZ:
          title: New Zealand
        GP:
          title: Guadeloupe
        NA:
          title: Namibia
        JM:
          title: Jamaica
        AX:
          title: Åland Islands
        CM:
          title: Cameroon
        US:
          title: United States of America (the)
        GU:
          title: Guam
        SB:
          title: Solomon Islands
        MV:
          title: Maldives
        SI:
          title: Slovenia
        CW:
          title: Curaçao
        BH:
          title: Bahrain
        VG:
          title: Virgin Islands (British)
        HK:
          title: Hong Kong
        SD:
          title: Sudan (the)
        AD:
          title: Andorra
        RO:
          title: Romania
        LU:
          title: Luxembourg
        VC:
          title: Saint Vincent and the Grenadines
        FO:
          title: Faroe Islands (the)
        GL:
          title: Greenland
        BW:
          title: Botswana
        CF:
          title: Central African Republic (the)
        CI:
          title: Côte d'Ivoire
        KG:
          title: Kyrgyzstan
        BV:
          title: Bouvet Island
        KY:
          title: Cayman Islands (the)
        LY:
          title: Libya
        MM:
          title: Myanmar
        MZ:
          title: Mozambique
        IR:
          title: Iran (Islamic Republic of)
        EH:
          title: Western Sahara
        IQ:
          title: Iraq
        BB:
          title: Barbados
        SZ:
          title: Eswatini
        IE:
          title: Ireland
        FK:
          title: Falkland Islands (the) [Malvinas]
        NP:
          title: Nepal
        BE:
          title: Belgium
        AU:
          title: Australia
        TZ:
          title: Tanzania, the United Republic of
        UY:
          title: Uruguay
        SA:
          title: Saudi Arabia
        ZW:
          title: Zimbabwe
        MD:
          title: Moldova (the Republic of)
        HU:
          title: Hungary
        PG:
          title: Papua New Guinea
        AF:
          title: Afghanistan
        MU:
          title: Mauritius
        SL:
          title: Sierra Leone
        GT:
          title: Guatemala
        BO:
          title: Bolivia (Plurinational State of)
        TM:
          title: Turkmenistan
        NE:
          title: Niger (the)
        CL:
          title: Chile
        FI:
          title: Finland
        MN:
          title: Mongolia
        'NO':
          title: Norway
        GG:
          title: Guernsey
        EE:
          title: Estonia
        KM:
          title: Comoros (the)
        LT:
          title: Lithuania
        ER:
          title: Eritrea
        SH:
          title: Saint Helena, Ascension and Tristan da Cunha
        SY:
          title: Syrian Arab Republic (the)
        LC:
          title: Saint Lucia
        CC:
          title: Cocos (Keeling) Islands (the)
        PL:
          title: Poland
        CH:
          title: Switzerland
        ST:
          title: Sao Tome and Principe
        NG:
          title: Nigeria
        TF:
          title: French Southern Territories (the)
        KI:
          title: Kiribati
        LV:
          title: Latvia
        UG:
          title: Uganda
        CY:
          title: Cyprus
        MW:
          title: Malawi
        CG:
          title: Congo (the)
        MF:
          title: Saint Martin (French part)
        PM:
          title: Saint Pierre and Miquelon
        IS:
          title: Iceland
        BI:
          title: Burundi
        TK:
          title: Tokelau
        SE:
          title: Sweden
        AE:
          title: United Arab Emirates (the)
        KZ:
          title: Kazakhstan
        LB:
          title: Lebanon
        AR:
          title: Argentina
        GS:
          title: South Georgia and the South Sandwich Islands
        BF:
          title: Burkina Faso
        DJ:
          title: Djibouti
        BA:
          title: Bosnia and Herzegovina
        SJ:
          title: Svalbard and Jan Mayen
        FR:
          title: France
        GM:
          title: Gambia (the)
        HR:
          title: Croatia
        BS:
          title: Bahamas (the)
        RS:
          title: Serbia
        WS:
          title: Samoa
        GB:
          title: United Kingdom of Great Britain and Northern Ireland (the)
        LS:
          title: Lesotho
        UZ:
          title: Uzbekistan
        PF:
          title: French Polynesia
        AG:
          title: Antigua and Barbuda
        GW:
          title: Guinea-Bissau
        FJ:
          title: Fiji
        CO:
          title: Colombia
        ZM:
          title: Zambia
        AQ:
          title: Antarctica
        GF:
          title: French Guiana
        NU:
          title: Niue
        BN:
          title: Brunei Darussalam
        RW:
          title: Rwanda
        PT:
          title: Portugal
        SO:
          title: Somalia
        MT:
          title: Malta
        PW:
          title: Palau
        KH:
          title: Cambodia
        SX:
          title: Sint Maarten (Dutch part)
        TJ:
          title: Tajikistan
        KR:
          title: Korea (the Republic of)
        SS:
          title: South Sudan
        PY:
          title: Paraguay
        AM:
          title: Armenia
        MC:
          title: Monaco
        CX:
          title: Christmas Island
        TT:
          title: Trinidad and Tobago
        UA:
          title: Ukraine
        LI:
          title: Liechtenstein
        BR:
          title: Brazil
        PA:
          title: Panama
        MQ:
          title: Martinique
        NR:
          title: Nauru
        PN:
          title: Pitcairn
        GA:
          title: Gabon
        TG:
          title: Togo
        FM:
          title: Micronesia (Federated States of)
        GN:
          title: Guinea
        YT:
          title: Mayotte
        CD:
          title: Congo (the Democratic Republic of the)
        MG:
          title: Madagascar
        AI:
          title: Anguilla
        YE:
          title: Yemen
        HN:
          title: Honduras
        IT:
          title: Italy
        RE:
          title: Réunion
        DO:
          title: Dominican Republic (the)
        IO:
          title: British Indian Ocean Territory (the)
        GR:
          title: Greece
        AS:
          title: American Samoa
        ZA:
          title: South Africa
        GY:
          title: Guyana
        BY:
          title: Belarus
        LK:
          title: Sri Lanka
        BT:
          title: Bhutan
        OM:
          title: Oman
        CK:
          title: Cook Islands (the)
        KE:
          title: Kenya
        CZ:
          title: Czechia
        GH:
          title: Ghana
        MX:
          title: Mexico
        SK:
          title: Slovakia
        MK:
          title: North Macedonia
        DZ:
          title: Algeria
        QA:
          title: Qatar
        CU:
          title: Cuba
        BJ:
          title: Benin
        LA:
          title: Lao People's Democratic Republic (the)
        TL:
          title: Timor-Leste
        DK:
          title: Denmark
        VI:
          title: Virgin Islands (U.S.)
        NL:
          title: Netherlands (Kingdom of the)
        CA:
          title: Canada
        BM:
          title: Bermuda
        JP:
          title: Japan
        AW:
          title: Aruba
        TO:
          title: Tonga
        CN:
          title: China
        VU:
          title: Vanuatu
        AL:
          title: Albania
        ET:
          title: Ethiopia
        IM:
          title: Isle of Man
        SN:
          title: Senegal
        PE:
          title: Peru
        BQ:
          title: Bonaire, Sint Eustatius and Saba
        NC:
          title: New Caledonia
        MP:
          title: Northern Mariana Islands (the)
        GE:
          title: Georgia
        CR:
          title: Costa Rica
        VA:
          title: Holy See (the)
        PS:
          title: Palestine, State of
        EC:
          title: Ecuador
        TV:
          title: Tuvalu
        LR:
          title: Liberia
        MS:
          title: Montserrat
        TD:
          title: Chad
        SC:
          title: Seychelles
        DE:
          title: Germany
        SR:
          title: Suriname
    CardCredential:
      title: 카드 인증 관련 정보
      description: 카드 인증 관련 정보
      type: object
      required:
      - number
      - expiryYear
      - expiryMonth
      properties:
        number:
          type: string
          title: 카드 번호 (숫자만)
        expiryYear:
          type: string
          title: 유효 기간 만료 연도 (2자리)
        expiryMonth:
          type: string
          title: 유효 기간 만료 월 (2자리)
        birthOrBusinessRegistrationNumber:
          type: string
          title: 생년월일 (yyMMdd) 또는 사업자 등록 번호 (10자리, 숫자만)
        passwordTwoDigits:
          type: string
          title: 비밀번호 앞 2자리
      x-portone-title: 카드 인증 관련 정보
    BillingKeyPaymentMethodEasyPayMethod:
      title: 간편 결제 수단
      description: 간편 결제 수단
      oneOf:
      - $ref: '#/components/schemas/BillingKeyPaymentMethodCard'
      - $ref: '#/components/schemas/BillingKeyPaymentMethodEasyPayCharge'
      - $ref: '#/components/schemas/BillingKeyPaymentMethodTransfer'
      discriminator:
        propertyName: type
        mapping:
          BillingKeyPaymentMethodCard: '#/components/schemas/BillingKeyPaymentMethodCard'
          BillingKeyPaymentMethodEasyPayCharge: '#/components/schemas/BillingKeyPaymentMethodEasyPayCharge'
          BillingKeyPaymentMethodTransfer: '#/components/schemas/BillingKeyPaymentMethodTransfer'
      x-portone-title: 간편 결제 수단
      x-portone-discriminator:
        BillingKeyPaymentMethodCard:
          title: 카드 정보
        BillingKeyPaymentMethodTransfer:
          title: 계좌이체 정보
        BillingKeyPaymentMethodEasyPayCharge:
          title: 충전식 포인트 결제 정보
    PageInfo:
      title: 반환된 페이지 결과 정보
      description: 반환된 페이지 결과 정보
      type: object
      required:
      - number
      - size
      - totalCount
      properties:
        number:
          type: integer
          format: int32
          title: 요청된 페이지 번호
        size:
          type: integer
          format: int32
          title: 요청된 페이지 당 객체 수
        totalCount:
          type: integer
          format: int32
          title: 실제 반환된 객체 수
      x-portone-title: 반환된 페이지 결과 정보
    PortOneVersion:
      title: 포트원 버전
      description: 포트원 버전
      type: string
      enum:
      - V1
      - V2
      x-portone-title: 포트원 버전
      x-portone-enum:
        V1: {}
        V2: {}
    InformationMismatchError:
      title: 정보가 일치하지 않는 경우
      description: 정보가 일치하지 않는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 정보가 일치하지 않는 경우
      x-portone-status-code: 409
    SelectedChannel:
      title: (결제, 본인인증 등에) 선택된 채널 정보
      description: (결제, 본인인증 등에) 선택된 채널 정보
      type: object
      required:
      - type
      - pgProvider
      - pgMerchantId
      properties:
        type:
          $ref: '#/components/schemas/SelectedChannelType'
          title: 채널 타입
        id:
          type: string
          title: 채널 아이디
        key:
          type: string
          title: 채널 키
        name:
          type: string
          title: 채널 명
        pgProvider:
          $ref: '#/components/schemas/PgProvider'
          title: PG사 결제 모듈
        pgMerchantId:
          type: string
          title: PG사 고객사 식별 아이디
      x-portone-title: (결제, 본인인증 등에) 선택된 채널 정보
    Currency:
      title: 통화
      description: 통화
      type: string
      enum:
      - KRW
      - USD
      - JPY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
      x-portone-title: 통화
      x-portone-enum:
        OMR:
          title: Rial Omani
        CUC:
          title: Peso Convertible
        BBD:
          title: Barbados Dollar
        PLN:
          title: Zloty
        SVC:
          title: El Salvador Colon
        BMD:
          title: Bermudian Dollar
        TJS:
          title: Somoni
        TND:
          title: Tunisian Dinar
        GNF:
          title: Guinean Franc
        SDG:
          title: Sudanese Pound
        MRU:
          title: Ouguiya
        XBB:
          title: Bond Markets Unit European Monetary Unit (E.M.U.-6)
        PKR:
          title: Pakistan Rupee
        FKP:
          title: Falkland Islands Pound
        MUR:
          title: Mauritius Rupee
        XAF:
          title: CFA Franc BEAC
        SAR:
          title: Saudi Riyal
        CAD:
          title: Canadian Dollar
        HKD:
          title: Hong Kong Dollar
        PYG:
          title: Guarani
        MGA:
          title: Malagasy Ariary
        UYI:
          title: Uruguay Peso en Unidades Indexadas (UI)
        AUD:
          title: Australian Dollar
        AMD:
          title: Armenian Dram
        YER:
          title: Yemeni Rial
        CHE:
          title: WIR Euro
        MMK:
          title: Kyat
        SEK:
          title: Swedish Krona
        TRY:
          title: Turkish Lira
        XBC:
          title: Bond Markets Unit European Unit of Account 9 (E.U.A.-9)
        KES:
          title: Kenyan Shilling
        GEL:
          title: Lari
        GTQ:
          title: Quetzal
        TZS:
          title: Tanzanian Shilling
        CUP:
          title: Cuban Peso
        ALL:
          title: Lek
        ERN:
          title: Nakfa
        BRL:
          title: Brazilian Real
        UGX:
          title: Uganda Shilling
        XUA:
          title: ADB Unit of Account
        GIP:
          title: Gibraltar Pound
        MZN:
          title: Mozambique Metical
        KRW:
          title: 대한민국 원화
        JOD:
          title: Jordanian Dinar
        IQD:
          title: Iraqi Dinar
        VUV:
          title: Vatu
        XXX:
          title: The codes assigned for transactions where no currency is involved
        UZS:
          title: Uzbekistan Sum
        BOV:
          title: Mvdol
        UAH:
          title: Hryvnia
        PEN:
          title: Sol
        KMF:
          title: 'Comorian Franc '
        DOP:
          title: Dominican Peso
        BDT:
          title: Taka
        LKR:
          title: Sri Lanka Rupee
        FJD:
          title: Fiji Dollar
        LSL:
          title: Loti
        BSD:
          title: Bahamian Dollar
        SRD:
          title: Surinam Dollar
        XTS:
          title: Codes specifically reserved for testing purposes
        SHP:
          title: Saint Helena Pound
        LRD:
          title: Liberian Dollar
        QAR:
          title: Qatari Rial
        BND:
          title: Brunei Dollar
        CDF:
          title: Congolese Franc
        SLE:
          title: Leone
        USN:
          title: US Dollar (Next day)
        VES:
          title: Bolívar Soberano
        TMT:
          title: Turkmenistan New Manat
        CHW:
          title: WIR Franc
        BGN:
          title: Bulgarian Lev
        JMD:
          title: Jamaican Dollar
        SZL:
          title: Lilangeni
        CZK:
          title: Czech Koruna
        ZMW:
          title: Zambian Kwacha
        UYU:
          title: Peso Uruguayo
        NPR:
          title: Nepalese Rupee
        EGP:
          title: Egyptian Pound
        AZN:
          title: Azerbaijan Manat
        CLP:
          title: Chilean Peso
        MOP:
          title: Pataca
        SCR:
          title: Seychelles Rupee
        HTG:
          title: Gourde
        VND:
          title: Dong
        LAK:
          title: Lao Kip
        BTN:
          title: Ngultrum
        GBP:
          title: Pound Sterling
        SSP:
          title: South Sudanese Pound
        XPD:
          title: Palladium
        TWD:
          title: New Taiwan Dollar
        DZD:
          title: Algerian Dinar
        MXN:
          title: Mexican Peso
        XDR:
          title: SDR (Special Drawing Right)
        ZWL:
          title: Zimbabwe Dollar
        AWG:
          title: Aruban Florin
        THB:
          title: Baht
        ISK:
          title: Iceland Krona
        LBP:
          title: Lebanese Pound
        SGD:
          title: Singapore Dollar
        MWK:
          title: Malawi Kwacha
        KZT:
          title: Tenge
        CRC:
          title: Costa Rican Colon
        WST:
          title: Tala
        DJF:
          title: Djibouti Franc
        LYD:
          title: Libyan Dinar
        NGN:
          title: Naira
        BIF:
          title: Burundi Franc
        AED:
          title: UAE Dirham
        CHF:
          title: Swiss Franc
        RWF:
          title: Rwanda Franc
        XBD:
          title: Bond Markets Unit European Unit of Account 17 (E.U.A.-17)
        INR:
          title: Indian Rupee
        CLF:
          title: Unidad de Fomento
        XOF:
          title: CFA Franc BCEAO
        COU:
          title: Unidad de Valor Real
        MXV:
          title: Mexican Unidad de Inversion (UDI)
        PGK:
          title: Kina
        CNY:
          title: Yuan Renminbi
        SYP:
          title: Syrian Pound
        VED:
          title: Bolívar Soberano
        RON:
          title: Romanian Leu
        AFN:
          title: Afghani
        PHP:
          title: Philippine Peso
        MDL:
          title: Moldovan Leu
        KHR:
          title: Riel
        XPT:
          title: Platinum
        COP:
          title: Colombian Peso
        DKK:
          title: Danish Krone
        KYD:
          title: Cayman Islands Dollar
        XPF:
          title: CFP Franc
        GMD:
          title: Dalasi
        MVR:
          title: Rufiyaa
        STN:
          title: Dobra
        TTD:
          title: Trinidad and Tobago Dollar
        PAB:
          title: Balboa
        XAU:
          title: Gold
        XAG:
          title: Silver
        JPY:
          title: 일본 엔화
        TOP:
          title: Pa’anga
        BWP:
          title: Pula
        MKD:
          title: Denar
        ARS:
          title: Argentine Peso
        HUF:
          title: Forint
        MYR:
          title: Malaysian Ringgit
        USD:
          title: 미국 달러
        SLL:
          title: Leone
        MAD:
          title: Moroccan Dirham
        RUB:
          title: Russian Ruble
        MNT:
          title: Tugrik
        BOB:
          title: Boliviano
        GYD:
          title: Guyana Dollar
        SBD:
          title: Solomon Islands Dollar
        XBA:
          title: Bond Markets Unit European Composite Unit (EURCO)
        BHD:
          title: Bahraini Dinar
        HNL:
          title: Lempira
        UYW:
          title: Unidad Previsional
        NZD:
          title: New Zealand Dollar
        XCD:
          title: East Caribbean Dollar
        XSU:
          title: Sucre
        KGS:
          title: Som
        AOA:
          title: Kwanza
        BZD:
          title: Belize Dollar
        IDR:
          title: Rupiah
        SOS:
          title: Somali Shilling
        NIO:
          title: Cordoba Oro
        GHS:
          title: Ghana Cedi
        ANG:
          title: Netherlands Antillean Guilder
        RSD:
          title: Serbian Dinar
        ILS:
          title: New Israeli Sheqel
        NOK:
          title: Norwegian Krone
        KWD:
          title: Kuwaiti Dinar
        NAD:
          title: Namibia Dollar
        ETB:
          title: Ethiopian Birr
        BYN:
          title: Belarusian Ruble
        KPW:
          title: North Korean Won
        EUR:
          title: Euro
        CVE:
          title: Cabo Verde Escudo
        ZAR:
          title: Rand
        IRR:
          title: Iranian Rial
        HRK:
          title: Kuna (Replaced by EUR)
        BAM:
          title: Convertible Mark
    BillingKeyPaymentMethodTransfer:
      title: 계좌이체 정보
      description: 계좌이체 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
        bank:
          $ref: '#/components/schemas/Bank'
          title: 표준 은행 코드
        accountNumber:
          type: string
          title: 계좌번호
      x-portone-title: 계좌이체 정보
    IssueBillingKeyBody:
      title: 빌링키 발급 요청 양식
      description: 빌링키 발급 요청 양식
      type: object
      required:
      - method
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        method:
          $ref: '#/components/schemas/InstantBillingKeyPaymentMethodInput'
          title: 빌링키 결제 수단 정보
        channelKey:
          type: string
          title: 채널 키
          description: 채널 키 또는 채널 그룹 ID 필수
        channelGroupId:
          type: string
          title: 채널 그룹 ID
          description: 채널 키 또는 채널 그룹 ID 필수
        customer:
          $ref: '#/components/schemas/CustomerInput'
          title: 고객 정보
        customData:
          type: string
          title: 사용자 지정 데이터
        bypass:
          type: object
          title: PG사별 추가 파라미터 ("PG사별 연동 가이드" 참고)
        noticeUrls:
          type: array
          items:
            type: string
          title: 웹훅 주소
          description: '빌링키 발급 시 요청을 받을 웹훅 주소입니다.

            상점에 설정되어 있는 값보다 우선적으로 적용됩니다.

            입력된 값이 없을 경우에는 빈 배열로 해석됩니다.'
        skipWebhook:
          type: boolean
          title: 웹훅 생략 여부
          description: 빌링키 발급이 성공했을 때 웹훅을 전송하지 않으려면 true로 설정합니다.
      x-portone-title: 빌링키 발급 요청 양식
    BillingKeyFailure:
      title: 발급 실패 상세 정보
      description: 발급 실패 상세 정보
      type: object
      required:
      - failedAt
      properties:
        message:
          type: string
          title: 실패 사유
        pgCode:
          type: string
          title: PG사 실패 코드
        pgMessage:
          type: string
          title: PG사 실패 사유
        failedAt:
          type: string
          format: date-time
          title: 실패 시점
      x-portone-title: 발급 실패 상세 정보
    BillingKeyInfo:
      title: 빌링키 정보
      description: 빌링키 정보
      oneOf:
      - $ref: '#/components/schemas/DeletedBillingKeyInfo'
      - $ref: '#/components/schemas/IssuedBillingKeyInfo'
      discriminator:
        propertyName: status
        mapping:
          DELETED: '#/components/schemas/DeletedBillingKeyInfo'
          ISSUED: '#/components/schemas/IssuedBillingKeyInfo'
      x-portone-title: 빌링키 정보
      x-portone-discriminator:
        ISSUED:
          title: 발급 완료
        DELETED:
          title: 발급 삭제 완료
    ConfirmBillingKeyError:
      title: ConfirmBillingKeyError
      oneOf:
      - $ref: '#/components/schemas/BillingKeyAlreadyIssuedError'
      - $ref: '#/components/schemas/BillingKeyNotFoundError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InformationMismatchError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          BILLING_KEY_ALREADY_ISSUED: '#/components/schemas/BillingKeyAlreadyIssuedError'
          BILLING_KEY_NOT_FOUND: '#/components/schemas/BillingKeyNotFoundError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INFORMATION_MISMATCH: '#/components/schemas/InformationMismatchError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    SeparatedAddressInput:
      title: 분리 형식 주소 입력 정보
      description: 분리 형식 주소 입력 정보
      type: object
      required:
      - addressLine1
      - addressLine2
      properties:
        addressLine1:
          type: string
          title: 상세 주소 1
        addressLine2:
          type: string
          title: 상세 주소 2
        city:
          type: string
          title: 시/군/구
        province:
          type: string
          title: 주/도/시
        country:
          $ref: '#/components/schemas/Country'
          title: 국가
      x-portone-title: 분리 형식 주소 입력 정보
    SortOrder:
      title: 정렬 방식
      description: 정렬 방식
      type: string
      enum:
      - DESC
      - ASC
      x-portone-title: 정렬 방식
      x-portone-enum:
        DESC:
          title: 내림차순
        ASC:
          title: 오름차순
    PgProvider:
      title: PG사 결제 모듈
      description: PG사 결제 모듈
      type: string
      enum:
      - HTML5_INICIS
      - PAYPAL
      - PAYPAL_V2
      - INICIS
      - DANAL
      - NICE
      - DANAL_TPAY
      - JTNET
      - UPLUS
      - NAVERPAY
      - KAKAO
      - SETTLE
      - KCP
      - MOBILIANS
      - KAKAOPAY
      - NAVERCO
      - SYRUP
      - KICC
      - EXIMBAY
      - SMILEPAY
      - PAYCO
      - KCP_BILLING
      - ALIPAY
      - PAYPLE
      - CHAI
      - BLUEWALNUT
      - SMARTRO
      - SMARTRO_V2
      - PAYMENTWALL
      - TOSSPAYMENTS
      - KCP_QUICK
      - DAOU
      - GALAXIA
      - TOSSPAY
      - KCP_DIRECT
      - SETTLE_ACC
      - SETTLE_FIRM
      - INICIS_UNIFIED
      - KSNET
      - PINPAY
      - NICE_V2
      - TOSS_BRANDPAY
      - WELCOME
      - TOSSPAY_V2
      - INICIS_V2
      - KPN
      - KCP_V2
      - HYPHEN
      - EXIMBAY_V2
      - INICIS_JP
      - PAYLETTER_GLOBAL
      - MOBILIANS_V2
      - TRIPLE_A
      - KICC_V2
      - INNOPAY
      - HECTO_GLOBAL
      x-portone-title: PG사 결제 모듈
      x-portone-enum:
        KICC: {}
        SYRUP: {}
        KCP_BILLING: {}
        SMARTRO_V2: {}
        CHAI: {}
        NICE_V2: {}
        KAKAO: {}
        DANAL: {}
        KAKAOPAY: {}
        EXIMBAY: {}
        ALIPAY: {}
        HTML5_INICIS: {}
        WELCOME: {}
        SMARTRO: {}
        PAYLETTER_GLOBAL: {}
        PAYCO: {}
        SMILEPAY: {}
        PAYMENTWALL: {}
        NAVERPAY: {}
        EXIMBAY_V2: {}
        INNOPAY: {}
        KCP_QUICK: {}
        NAVERCO: {}
        DAOU: {}
        GALAXIA: {}
        PINPAY: {}
        MOBILIANS_V2: {}
        INICIS_JP: {}
        SETTLE_ACC: {}
        TOSSPAY_V2: {}
        TOSSPAY: {}
        SETTLE_FIRM: {}
        INICIS: {}
        TOSS_BRANDPAY: {}
        JTNET: {}
        PAYPAL: {}
        DANAL_TPAY: {}
        KCP_DIRECT: {}
        SETTLE: {}
        MOBILIANS: {}
        UPLUS: {}
        HYPHEN: {}
        PAYPAL_V2: {}
        HECTO_GLOBAL: {}
        TRIPLE_A: {}
        KPN: {}
        KICC_V2: {}
        INICIS_V2: {}
        KCP_V2: {}
        INICIS_UNIFIED: {}
        BLUEWALNUT: {}
        NICE: {}
        TOSSPAYMENTS: {}
        PAYPLE: {}
        KSNET: {}
        KCP: {}
    CardType:
      title: 카드 유형
      description: 카드 유형
      type: string
      enum:
      - CREDIT
      - DEBIT
      - GIFT
      x-portone-title: 카드 유형
      x-portone-enum:
        CREDIT:
          title: 신용카드
        DEBIT:
          title: 체크카드
        GIFT:
          title: 기프트카드
    ChannelSpecificFailure:
      title: ChannelSpecificFailure
      oneOf:
      - $ref: '#/components/schemas/ChannelSpecificFailureInvalidRequest'
      - $ref: '#/components/schemas/ChannelSpecificFailurePgProvider'
      discriminator:
        propertyName: type
        mapping:
          INVALID_REQUEST: '#/components/schemas/ChannelSpecificFailureInvalidRequest'
          PG_PROVIDER: '#/components/schemas/ChannelSpecificFailurePgProvider'
      x-portone-discriminator:
        INVALID_REQUEST:
          title: 요청된 입력 정보가 유효하지 않은 경우
        PG_PROVIDER:
          title: PG사에서 오류를 전달한 경우
    BillingKeyDeleteRequester:
      title: 빌링키 삭제 요청 주체
      description: 빌링키 삭제 요청 주체
      type: string
      enum:
      - CUSTOMER
      - ADMIN
      x-portone-title: 빌링키 삭제 요청 주체
      x-portone-enum:
        CUSTOMER:
          title: 구매자
        ADMIN:
          title: 관리자
    IssueBillingKeyResponse:
      title: 빌링키 발급 성공 응답
      description: 빌링키 발급 성공 응답
      type: object
      required:
      - billingKeyInfo
      properties:
        billingKeyInfo:
          $ref: '#/components/schemas/BillingKeyInfoSummary'
          title: 빌링키 정보
        channelSpecificFailures:
          type: array
          items:
            $ref: '#/components/schemas/ChannelSpecificFailure'
          title: 발급에 실패한 채널이 있을시 실패 정보
      x-portone-title: 빌링키 발급 성공 응답
    Address:
      title: 분리 형식 주소
      description: '분리 형식 주소


        oneLine(한 줄 형식 주소) 필드는 항상 존재합니다.'
      oneOf:
      - $ref: '#/components/schemas/OneLineAddress'
      - $ref: '#/components/schemas/SeparatedAddress'
      discriminator:
        propertyName: type
        mapping:
          ONE_LINE: '#/components/schemas/OneLineAddress'
          SEPARATED: '#/components/schemas/SeparatedAddress'
      x-portone-title: 분리 형식 주소
      x-portone-description: oneLine(한 줄 형식 주소) 필드는 항상 존재합니다.
      x-portone-discriminator:
        ONE_LINE:
          title: 한 줄 형식
        SEPARATED:
          title: 분리 형식
    ChannelGroupSummary:
      title: 채널 그룹 정보
      description: 채널 그룹 정보
      type: object
      required:
      - id
      - name
      - isForTest
      properties:
        id:
          type: string
          title: 채널 그룹 아이디
        name:
          type: string
          title: 채널 그룹 이름
        isForTest:
          type: boolean
          title: 테스트 채널 그룹 여부
      x-portone-title: 채널 그룹 정보
    BillingKeyPaymentMethodPaypal:
      title: 페이팔 정보
      description: 페이팔 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
      x-portone-title: 페이팔 정보
    ConfirmBillingKeyIssueAndPayError:
      title: ConfirmBillingKeyIssueAndPayError
      oneOf:
      - $ref: '#/components/schemas/BillingKeyAlreadyIssuedError'
      - $ref: '#/components/schemas/BillingKeyNotFoundError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InformationMismatchError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          BILLING_KEY_ALREADY_ISSUED: '#/components/schemas/BillingKeyAlreadyIssuedError'
          BILLING_KEY_NOT_FOUND: '#/components/schemas/BillingKeyNotFoundError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INFORMATION_MISMATCH: '#/components/schemas/InformationMismatchError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    Card:
      title: 카드 상세 정보
      description: 카드 상세 정보
      type: object
      properties:
        publisher:
          type: string
          title: 발행사 코드
        issuer:
          type: string
          title: 발급사 코드
        brand:
          $ref: '#/components/schemas/CardBrand'
          title: 카드 브랜드
        type:
          $ref: '#/components/schemas/CardType'
          title: 카드 유형
        ownerType:
          $ref: '#/components/schemas/CardOwnerType'
          title: 카드 소유주 유형
        bin:
          type: string
          title: 카드 번호 앞 6자리 또는 8자리의 BIN (Bank Identification Number)
        name:
          type: string
          title: 카드 상품명
        number:
          type: string
          title: 마스킹된 카드 번호
      x-portone-title: 카드 상세 정보
    OneLineAddress:
      title: 한 줄 형식 주소
      description: '한 줄 형식 주소


        한 줄 형식 주소만 존재합니다.'
      type: object
      required:
      - type
      - oneLine
      properties:
        type:
          type: string
        oneLine:
          type: string
          title: 주소 (한 줄)
      x-portone-title: 한 줄 형식 주소
      x-portone-description: 한 줄 형식 주소만 존재합니다.
    DeleteBillingKeyResponse:
      title: 빌링키 삭제 성공 응답
      description: 빌링키 삭제 성공 응답
      type: object
      required:
      - deletedAt
      properties:
        deletedAt:
          type: string
          format: date-time
          title: 빌링키 삭제 완료 시점
      x-portone-title: 빌링키 삭제 성공 응답
    IssuedPgBillingKeyIssueResponse:
      title: 빌링키 발급 성공 채널 응답
      description: 빌링키 발급 성공 채널 응답
      type: object
      required:
      - type
      - channel
      properties:
        type:
          type: string
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 채널
          description: 빌링키 발급을 시도한 채널입니다.
        pgTxId:
          type: string
          title: PG사 거래 아이디
        method:
          $ref: '#/components/schemas/BillingKeyPaymentMethod'
          title: 빌링키 결제수단 상세 정보
          description: 채널에 대응되는 PG사에서 응답한 빌링키 발급 수단 정보입니다.
      x-portone-title: 빌링키 발급 성공 채널 응답
    PgBillingKeyIssueResponse:
      title: 채널 별 빌링키 발급 응답
      description: 채널 별 빌링키 발급 응답
      oneOf:
      - $ref: '#/components/schemas/FailedPgBillingKeyIssueResponse'
      - $ref: '#/components/schemas/IssuedPgBillingKeyIssueResponse'
      discriminator:
        propertyName: type
        mapping:
          FAILED: '#/components/schemas/FailedPgBillingKeyIssueResponse'
          ISSUED: '#/components/schemas/IssuedPgBillingKeyIssueResponse'
      x-portone-title: 채널 별 빌링키 발급 응답
      x-portone-discriminator:
        ISSUED:
          title: 발급 성공 채널 응답
        FAILED:
          title: 발급 실패 채널 응답
    ChannelSpecificFailureInvalidRequest:
      title: 요청된 입력 정보가 유효하지 않은 경우
      description: '요청된 입력 정보가 유효하지 않은 경우


        허가되지 않은 값, 올바르지 않은 형식의 요청 등이 모두 해당됩니다.'
      type: object
      required:
      - type
      - channel
      properties:
        type:
          type: string
        channel:
          $ref: '#/components/schemas/SelectedChannel'
        message:
          type: string
      x-portone-title: 요청된 입력 정보가 유효하지 않은 경우
      x-portone-description: 허가되지 않은 값, 올바르지 않은 형식의 요청 등이 모두 해당됩니다.
      x-portone-status-code: 400
    BillingKeyPaymentMethodEasyPayCharge:
      title: 충전식 포인트 결제 정보
      description: 충전식 포인트 결제 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
      x-portone-title: 충전식 포인트 결제 정보
    ConfirmedBillingKeySummary:
      title: 빌링키 발급 수동 승인 완료 응답
      description: 빌링키 발급 수동 승인 완료 응답
      type: object
      required:
      - billingKey
      properties:
        billingKey:
          type: string
          title: 빌링키
      x-portone-title: 빌링키 발급 수동 승인 완료 응답
    BillingKeyPaymentMethodType:
      title: 빌링키 결제 수단
      description: 빌링키 결제 수단
      type: string
      enum:
      - CARD
      - MOBILE
      - EASY_PAY
      - TRANSFER
      x-portone-title: 빌링키 결제 수단
      x-portone-enum:
        CARD:
          title: 카드
        MOBILE:
          title: 모바일
        EASY_PAY:
          title: 간편 결제
        TRANSFER:
          title: 계좌 이체
    InstantBillingKeyPaymentMethodInputCard:
      title: 카드 수단 정보 입력 양식
      description: 카드 수단 정보 입력 양식
      type: object
      required:
      - credential
      properties:
        credential:
          $ref: '#/components/schemas/CardCredential'
      x-portone-title: 카드 수단 정보 입력 양식
    UnauthorizedError:
      title: 인증 정보가 올바르지 않은 경우
      description: 인증 정보가 올바르지 않은 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 인증 정보가 올바르지 않은 경우
      x-portone-status-code: 401
    BillingKeyInfoSummary:
      title: BillingKeyInfoSummary
      type: object
      required:
      - billingKey
      - issuedAt
      properties:
        billingKey:
          type: string
          title: 발급된 빌링키
        channels:
          title: 발급된 채널
          type: array
          items:
            $ref: '#/components/schemas/SelectedChannel'
          x-portone-title: (결제, 본인인증 등에) 선택된 채널 정보
          properties:
            name:
              title: 채널 명
            key:
              title: 채널 키
            id:
              title: 채널 아이디
            pgProvider:
              title: PG사 결제 모듈
            pgMerchantId:
              title: PG사 고객사 식별 아이디
            type:
              title: 채널 타입
        issuedAt:
          type: string
          format: date-time
          title: 빌링키 발급 완료 시점
    CustomerInput:
      title: 고객 정보 입력 정보
      description: 고객 정보 입력 정보
      type: object
      properties:
        id:
          type: string
          title: 고객 아이디
          description: 고객사가 지정한 고객의 고유 식별자입니다.
        name:
          $ref: '#/components/schemas/CustomerNameInput'
          title: 이름
        birthYear:
          type: string
          title: 출생 연도
        birthMonth:
          type: string
          title: 출생월
        birthDay:
          type: string
          title: 출생일
        country:
          $ref: '#/components/schemas/Country'
          title: 국가
        gender:
          $ref: '#/components/schemas/Gender'
          title: 성별
        email:
          type: string
          title: 이메일
        phoneNumber:
          type: string
          title: 전화번호
        address:
          $ref: '#/components/schemas/SeparatedAddressInput'
          title: 주소
        zipcode:
          type: string
          title: 우편번호
        businessRegistrationNumber:
          type: string
          title: 사업자 등록 번호
      x-portone-title: 고객 정보 입력 정보
    IssuedBillingKeyInfo:
      title: 빌링키 발급 완료 상태 건
      description: 빌링키 발급 완료 상태 건
      type: object
      required:
      - status
      - billingKey
      - merchantId
      - storeId
      - channels
      - customer
      - issuedAt
      properties:
        status:
          type: string
          title: 빌링키 상태
        billingKey:
          type: string
          title: 빌링키
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        methods:
          title: 빌링키 결제수단 상세 정보
          type: array
          items:
            $ref: '#/components/schemas/BillingKeyPaymentMethod'
          description: 추후 슈퍼빌링키 기능 제공 시 여러 결제수단 정보가 담길 수 있습니다.
        channels:
          title: 빌링키 발급 시 사용된 채널
          type: array
          items:
            $ref: '#/components/schemas/SelectedChannel'
          description: 추후 슈퍼빌링키 기능 제공 시 여러 채널 정보가 담길 수 있습니다.
        customer:
          $ref: '#/components/schemas/Customer'
          title: 고객 정보
        customData:
          type: string
          title: 사용자 지정 데이터
        issueId:
          type: string
          title: 고객사가 채번하는 빌링키 발급 건 고유 아이디
        issueName:
          type: string
          title: 빌링키 발급 건 이름
        requestedAt:
          type: string
          format: date-time
          title: 발급 요청 시점
        issuedAt:
          type: string
          format: date-time
          title: 발급 시점
        channelGroup:
          $ref: '#/components/schemas/ChannelGroupSummary'
          title: 채널 그룹
        pgBillingKeyIssueResponses:
          title: 채널 별 빌링키 발급 응답
          type: array
          items:
            $ref: '#/components/schemas/PgBillingKeyIssueResponse'
          description: 슈퍼빌링키의 경우, 빌링키 발급이 성공하더라도 일부 채널에 대한 빌링키 발급은 실패할 수 있습니다.
      x-portone-title: 빌링키 발급 완료 상태 건
    BillingKeyNotIssuedError:
      title: BillingKeyNotIssuedError
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-status-code: 404
    InstantBillingKeyPaymentMethodInput:
      title: 빌링키 발급 시 결제 수단 입력 양식
      description: '빌링키 발급 시 결제 수단 입력 양식


        `card`를 반드시 입력해 주세요.'
      type: object
      properties:
        card:
          $ref: '#/components/schemas/InstantBillingKeyPaymentMethodInputCard'
      x-portone-title: 빌링키 발급 시 결제 수단 입력 양식
      x-portone-description: '`card`를 반드시 입력해 주세요.'
    CustomerSeparatedName:
      title: 고객 분리형 이름
      description: 고객 분리형 이름
      type: object
      required:
      - first
      - last
      properties:
        first:
          type: string
          title: 이름
        last:
          type: string
          title: 성
      x-portone-title: 고객 분리형 이름
    SeparatedAddress:
      title: 분리 형식 주소
      description: '분리 형식 주소


        한 줄 형식 주소와 분리 형식 주소 모두 존재합니다.

        한 줄 형식 주소는 분리 형식 주소를 이어 붙인 형태로 생성됩니다.'
      type: object
      required:
      - type
      - oneLine
      - addressLine1
      - addressLine2
      properties:
        type:
          type: string
        oneLine:
          type: string
          title: 주소 (한 줄)
        addressLine1:
          type: string
          title: 상세 주소 1
        addressLine2:
          type: string
          title: 상세 주소 2
        city:
          type: string
          title: 시/군/구
        province:
          type: string
          title: 주/도/시
        country:
          $ref: '#/components/schemas/Country'
          title: 국가
      x-portone-title: 분리 형식 주소
      x-portone-description: '한 줄 형식 주소와 분리 형식 주소 모두 존재합니다.

        한 줄 형식 주소는 분리 형식 주소를 이어 붙인 형태로 생성됩니다.'
    CardOwnerType:
      title: 카드 소유주 유형
      description: 카드 소유주 유형
      type: string
      enum:
      - PERSONAL
      - CORPORATE
      x-portone-title: 카드 소유주 유형
      x-portone-enum:
        PERSONAL:
          title: 개인
        CORPORATE:
          title: 법인
    CardBrand:
      title: 카드 브랜드
      description: 카드 브랜드
      type: string
      enum:
      - LOCAL
      - MASTER
      - UNIONPAY
      - VISA
      - JCB
      - AMEX
      - DINERS
      x-portone-title: 카드 브랜드
      x-portone-enum:
        VISA: {}
        JCB: {}
        DINERS: {}
        MASTER: {}
        LOCAL: {}
        AMEX: {}
        UNIONPAY: {}
    BillingKeyAlreadyIssuedError:
      title: BillingKeyAlreadyIssuedError
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-status-code: 409
    CustomerNameInput:
      title: 고객 이름 입력 정보
      description: '고객 이름 입력 정보


        두 개의 이름 형식 중 한 가지만 선택하여 입력해주세요.'
      type: object
      properties:
        full:
          type: string
          title: 한 줄 이름 형식
        separated:
          $ref: '#/components/schemas/CustomerSeparatedName'
          title: 분리형 이름 형식
      x-portone-title: 고객 이름 입력 정보
      x-portone-description: 두 개의 이름 형식 중 한 가지만 선택하여 입력해주세요.
    BillingKeySortBy:
      title: 빌링키 정렬 기준
      description: 빌링키 정렬 기준
      type: string
      enum:
      - REQUESTED_AT
      - ISSUED_AT
      - DELETED_AT
      - STATUS_TIMESTAMP
      x-portone-title: 빌링키 정렬 기준
      x-portone-enum:
        REQUESTED_AT:
          title: 발급 요청 시각
        ISSUED_AT:
          title: 발급 완료 시각
        DELETED_AT:
          title: 삭제 완료 시각
        STATUS_TIMESTAMP:
          title: 상태 변경 시각
          description: 발급 완료 상태의 경우 ISSUED_AT, 삭제 완료 상태의 경우 DELETED_AT
    PgCompany:
      title: PG사
      description: PG사
      type: string
      enum:
      - INICIS
      - NICE
      - KCP
      - DANAL
      - TOSSPAYMENTS
      - MOBILIANS
      - KICC
      - SMARTRO
      - DAOU
      - BLUEWALNUT
      - PAYPAL
      - ALIPAY
      - EXIMBAY
      - PAYMENTWALL
      - SETTLE
      - GALAXIA
      - NAVERPAY
      - KAKAOPAY
      - SMILEPAY
      - KAKAO
      - TOSSPAY
      - CHAI
      - PAYCO
      - PAYPLE
      - SYRUP
      - KSNET
      - WELCOME
      - JTNET
      - KPN
      - HYPHEN
      - PAYLETTER
      - TRIPLE_A
      - INNOPAY
      x-portone-title: PG사
      x-portone-enum:
        KICC: {}
        ALIPAY: {}
        SYRUP: {}
        PAYCO: {}
        PAYLETTER: {}
        CHAI: {}
        TOSSPAY: {}
        INICIS: {}
        SETTLE: {}
        KAKAO: {}
        DANAL: {}
        BLUEWALNUT: {}
        KAKAOPAY: {}
        EXIMBAY: {}
        WELCOME: {}
        SMARTRO: {}
        SMILEPAY: {}
        PAYMENTWALL: {}
        NAVERPAY: {}
        INNOPAY: {}
        GALAXIA: {}
        DAOU: {}
        JTNET: {}
        PAYPAL: {}
        MOBILIANS: {}
        HYPHEN: {}
        TRIPLE_A: {}
        KPN: {}
        NICE: {}
        TOSSPAYMENTS: {}
        PAYPLE: {}
        KSNET: {}
        KCP: {}
    GetBillingKeyInfosBody:
      title: GetBillingKeyInfosBody
      description: 빌링키 다건 조회를 위한 입력 정보
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageInput'
          title: 요청할 페이지 정보
          description: '미 입력 시 number: 0, size: 10 으로 기본값이 적용됩니다.'
        sort:
          $ref: '#/components/schemas/BillingKeySortInput'
          title: 정렬 조건
          description: '미 입력 시 sortBy: TIME_TO_PAY, sortOrder: DESC 으로 기본값이 적용됩니다.'
        filter:
          $ref: '#/components/schemas/BillingKeyFilterInput'
          title: 조회할 빌링키 조건 필터
          description: V1 빌링키 건의 경우 일부 필드에 대해 필터가 적용되지 않을 수 있습니다.
      x-portone-description: 빌링키 다건 조회를 위한 입력 정보
    BillingKeyTextSearch:
      title: 통합검색 입력 정보
      description: 통합검색 입력 정보
      type: object
      required:
      - field
      - value
      properties:
        field:
          $ref: '#/components/schemas/BillingKeyTextSearchField'
        value:
          type: string
      x-portone-title: 통합검색 입력 정보
    GetBillingKeyInfosError:
      title: GetBillingKeyInfosError
      oneOf:
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    ChannelSpecificError:
      title: 여러 채널을 지정한 요청에서, 채널 각각에서 오류가 발생한 경우
      description: 여러 채널을 지정한 요청에서, 채널 각각에서 오류가 발생한 경우
      type: object
      required:
      - type
      - failures
      - succeededChannels
      properties:
        type:
          type: string
        message:
          type: string
        failures:
          type: array
          items:
            $ref: '#/components/schemas/ChannelSpecificFailure'
        succeededChannels:
          title: (결제, 본인인증 등에) 선택된 채널 정보
          type: array
          items:
            $ref: '#/components/schemas/SelectedChannel'
      x-portone-title: 여러 채널을 지정한 요청에서, 채널 각각에서 오류가 발생한 경우
      x-portone-status-code: 502
    ChannelSpecificFailurePgProvider:
      title: PG사에서 오류를 전달한 경우
      description: PG사에서 오류를 전달한 경우
      type: object
      required:
      - type
      - channel
      - pgCode
      - pgMessage
      properties:
        type:
          type: string
        channel:
          $ref: '#/components/schemas/SelectedChannel'
        message:
          type: string
        pgCode:
          type: string
        pgMessage:
          type: string
      x-portone-title: PG사에서 오류를 전달한 경우
      x-portone-status-code: 502
    ForbiddenError:
      title: 요청이 거절된 경우
      description: 요청이 거절된 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 요청이 거절된 경우
      x-portone-status-code: 403
    BillingKeyTextSearchField:
      title: 통합검색 항목
      description: 통합검색 항목
      type: string
      enum:
      - CARD_BIN
      - CARD_NUMBER
      - PG_MERCHANT_ID
      - CUSTOMER_NAME
      - CUSTOMER_EMAIL
      - CUSTOMER_PHONE_NUMBER
      - CUSTOMER_ADDRESS
      - CUSTOMER_ZIPCODE
      - USER_AGENT
      - BILLING_KEY
      - CHANNEL_GROUP_NAME
      x-portone-title: 통합검색 항목
      x-portone-enum:
        CUSTOMER_EMAIL: {}
        USER_AGENT: {}
        CUSTOMER_ADDRESS: {}
        CARD_BIN: {}
        CHANNEL_GROUP_NAME: {}
        PG_MERCHANT_ID: {}
        CUSTOMER_PHONE_NUMBER: {}
        CUSTOMER_ZIPCODE: {}
        CUSTOMER_NAME: {}
        CARD_NUMBER: {}
        BILLING_KEY: {}
    InvalidRequestError:
      title: 요청된 입력 정보가 유효하지 않은 경우
      description: '요청된 입력 정보가 유효하지 않은 경우


        허가되지 않은 값, 올바르지 않은 형식의 요청 등이 모두 해당됩니다.'
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 요청된 입력 정보가 유효하지 않은 경우
      x-portone-description: 허가되지 않은 값, 올바르지 않은 형식의 요청 등이 모두 해당됩니다.
      x-portone-status-code: 400
    DeletedBillingKeyInfo:
      title: 빌링키 삭제 완료 상태 건
      description: 빌링키 삭제 완료 상태 건
      type: object
      required:
      - status
      - billingKey
      - merchantId
      - storeId
      - channels
      - customer
      - issuedAt
      - deletedAt
      properties:
        status:
          type: string
          title: 빌링키 상태
        billingKey:
          type: string
          title: 빌링키
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        methods:
          title: 빌링키 결제수단 상세 정보
          type: array
          items:
            $ref: '#/components/schemas/BillingKeyPaymentMethod'
          description: 추후 슈퍼빌링키 기능 제공 시 여러 결제수단 정보가 담길 수 있습니다.
        channels:
          title: 빌링키 발급 시 사용된 채널
          type: array
          items:
            $ref: '#/components/schemas/SelectedChannel'
          description: 추후 슈퍼빌링키 기능 제공 시 여러 채널 정보가 담길 수 있습니다.
        customer:
          $ref: '#/components/schemas/Customer'
          title: 고객 정보
        customData:
          type: string
          title: 사용자 지정 데이터
        issueId:
          type: string
          title: 고객사가 채번하는 빌링키 발급 건 고유 아이디
        issueName:
          type: string
          title: 빌링키 발급 건 이름
        requestedAt:
          type: string
          format: date-time
          title: 발급 요청 시점
        issuedAt:
          type: string
          format: date-time
          title: 발급 시점
        channelGroup:
          $ref: '#/components/schemas/ChannelGroupSummary'
          title: 채널 그룹
        pgBillingKeyIssueResponses:
          title: 채널 별 빌링키 발급 응답
          type: array
          items:
            $ref: '#/components/schemas/PgBillingKeyIssueResponse'
          description: 슈퍼빌링키의 경우, 빌링키 발급이 성공하더라도 일부 채널에 대한 발급은 실패할 수 있습니다.
        deletedAt:
          type: string
          format: date-time
          title: 발급 삭제 시점
      x-portone-title: 빌링키 삭제 완료 상태 건
    BillingKeyPaymentMethod:
      title: 빌링키 발급 수단 정보
      description: 빌링키 발급 수단 정보
      oneOf:
      - $ref: '#/components/schemas/BillingKeyPaymentMethodCard'
      - $ref: '#/components/schemas/BillingKeyPaymentMethodEasyPay'
      - $ref: '#/components/schemas/BillingKeyPaymentMethodMobile'
      - $ref: '#/components/schemas/BillingKeyPaymentMethodPaypal'
      - $ref: '#/components/schemas/BillingKeyPaymentMethodTransfer'
      discriminator:
        propertyName: type
        mapping:
          BillingKeyPaymentMethodCard: '#/components/schemas/BillingKeyPaymentMethodCard'
          BillingKeyPaymentMethodEasyPay: '#/components/schemas/BillingKeyPaymentMethodEasyPay'
          BillingKeyPaymentMethodMobile: '#/components/schemas/BillingKeyPaymentMethodMobile'
          BillingKeyPaymentMethodPaypal: '#/components/schemas/BillingKeyPaymentMethodPaypal'
          BillingKeyPaymentMethodTransfer: '#/components/schemas/BillingKeyPaymentMethodTransfer'
      x-portone-title: 빌링키 발급 수단 정보
      x-portone-discriminator:
        BillingKeyPaymentMethodTransfer:
          title: 계좌이체 정보
        BillingKeyPaymentMethodMobile:
          title: 모바일 정보
        BillingKeyPaymentMethodEasyPay:
          title: 간편 결제 정보
        BillingKeyPaymentMethodCard:
          title: 카드 정보
        BillingKeyPaymentMethodPaypal:
          title: 페이팔 정보
    ChannelNotFoundError:
      title: 요청된 채널이 존재하지 않는 경우
      description: 요청된 채널이 존재하지 않는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 요청된 채널이 존재하지 않는 경우
      x-portone-status-code: 404
    BillingKeyPaymentMethodCard:
      title: 카드 정보
      description: 카드 정보
      type: object
      required:
      - type
      properties:
        type:
          type: string
        card:
          $ref: '#/components/schemas/Card'
          title: 카드 상세 정보
      x-portone-title: 카드 정보
    FailedPgBillingKeyIssueResponse:
      title: 빌링키 발급 실패 채널 응답
      description: 빌링키 발급 실패 채널 응답
      type: object
      required:
      - type
      - channel
      - failure
      properties:
        type:
          type: string
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 채널
          description: 빌링키 발급을 시도한 채널입니다.
        failure:
          $ref: '#/components/schemas/BillingKeyFailure'
          title: 발급 실패 상세 정보
      x-portone-title: 빌링키 발급 실패 채널 응답
    BillingKeyStatus:
      title: 빌링키 상태
      description: 빌링키 상태
      type: string
      enum:
      - ISSUED
      - DELETED
      x-portone-title: 빌링키 상태
      x-portone-enum:
        ISSUED: {}
        DELETED: {}
  securitySchemes:
    bearerJwt:
      type: http
      description: 'Authorization: Bearer `엑세스 토큰`'
      scheme: bearer
    portOne:
      type: http
      description: 'Authorization: PortOne `발급된 API 시크릿`'
      scheme: portone
x-portone-categories:
- id: payment
  title: 결제 관련 API
  description: 결제와 관련된 API 기능을 제공합니다.
  children:
  - id: payment.paymentSchedule
    title: 결제 예약 관련 API
    description: 결제 예약과 관련된 API 기능을 제공합니다.
  - id: payment.billingKey
    title: 빌링키 관련 API
    description: 빌링키와 관련된 API 기능을 제공합니다.
  - id: payment.cashReceipt
    title: 현금 영수증 관련 API
    description: 현금 영수증과 관련된 API 기능을 제공합니다.
  - id: payment.promotion
    title: 프로모션 관련 API
    description: 프로모션과 관련된 API 기능을 제공합니다.
  - id: payment.additionalFeature
    title: 결제 부가기능 관련 API
    description: 결제 부가기능과 관련된 API 기능을 제공합니다.
- id: identityVerification
  title: 본인인증 관련 API
  description: 본인인증과 관련된 API 기능을 제공합니다.
- id: pgSpecific
  title: 특정 PG사 관련 API
  description: 특정 PG사에 국한된 API 기능을 제공합니다.
- id: reconciliation
  title: 대사 서비스 API
  description: 거래 대사 및 정산 대사 관련 API 기능을 제공합니다.
- id: b2b
  title: 세금계산서 API
  description: 세금계산서 API 기능을 제공합니다.
  children:
  - id: b2b.counterparty
    title: 거래처 관련 API
    description: 거래처 관련 API 기능을 제공합니다.
  - id: b2b.taxInvoice
    title: 세금계산서 발행 관련 API
    description: 세금계산서 발행 관련 API 기능을 제공합니다.
- id: platform
  title: 파트너 정산 관련 API
  description: 파트너 정산 서비스 API 기능을 제공합니다.
  children:
  - id: platform.policy
    title: 정책 관련 API
    description: 파트너 정산에 적용할 정책에 관한 API 입니다.
  - id: platform.partner
    title: 파트너 관련 API
    description: 파트너 정산에 적용할 파트너에 관한 API 입니다.
  - id: platform.transfer
    title: 정산 상세내역 관련 API
    description: 파트너 정산 서비스의 정산 상세내역과 관련된 API 입니다.
  - id: platform.account
    title: 계좌 관련 API
    description: 파트너 정산 서비스의 계좌와 관련된 API 입니다.
  - id: platform.partnerSettlement
    title: 정산 내역 관련 API
    description: 파트너 정산 서비스의 정산 내역과 관련된 API 입니다.
  - id: platform.payout
    title: 지급 내역 관련 API
    description: 파트너 정산 서비스의 지급 내역과 관련된 API 입니다.
  - id: platform.bulkPayout
    title: 일괄 지급 내역 관련 API
    description: 파트너 정산 서비스의 일괄 지급 내역과 관련된 API 입니다.
  - id: platform.accountTransfer
    title: 이체 내역 관련 API
    description: 파트너 정산 서비스의 이체 내역과 관련된 API 입니다.
  - id: platform.bulkAccountTransfer
    title: 일괄 이체 내역 관련 API
    description: 파트너 정산 서비스의 일괄 이체 내역과 관련된 API 입니다.
  - id: platform.company
    title: 사업자 관련 API
    description: 파트너 정산 서비스의 사업자와 관련된 API 입니다.
- id: auth
  title: 인증 관련 API
  description: '인증과 관련된 API 기능을 제공합니다.

    접근 토큰 방식으로 인증하기를 원하는 경우, API 시크릿을 통해 토큰을 발급받은 후 Authorization 헤더에 `Bearer ACCESS_TOKEN` 형식으로 전달합니다.'
- id: paymentSession
  title: 결제 세션 API
  description: 결제 세션 생성 및 관리 API. 호스티드 체크아웃에 사용됩니다.
- id: checkoutProfile
  title: 체크아웃 프로필 API
  description: 체크아웃 프로필에서 결제 수단 목록을 조회하기 위한 API.
- id: ap
  title: AP API
  description: AP 기능을 제공합니다.
- id: common
  title: 공통 API
  description: 공통 API 기능을 제공합니다.
