openapi: 3.0.3
info:
  title: PortOne B2b Cash Receipts API
  version: 1.16.0
servers:
- url: https://api.portone.io
  description: 운영환경 서버
tags:
- name: Cash Receipts
paths:
  /cash-receipts:
    get:
      summary: 현금영수증 다건 조회
      description: '현금영수증 다건 조회


        주어진 조건에 맞는 현금영수증들을 페이지 기반으로 조회합니다.'
      operationId: getCashReceipts
      parameters:
      - name: requestBody
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCashReceiptsBody'
      responses:
        '200':
          description: 성공 응답으로 조회된 현금영수증 리스트와 페이지 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsResponse'
          x-portone-title: 성공 응답으로 조회된 현금영수증 리스트와 페이지 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.cashReceipt
      x-portone-title: 현금영수증 다건 조회
      x-portone-description: 주어진 조건에 맞는 현금영수증들을 페이지 기반으로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetCashReceiptsError'
      tags:
      - Cash Receipts
    post:
      summary: 현금 영수증 수동 발급
      description: '현금 영수증 수동 발급


        현금 영수증 발급을 요청합니다.'
      operationId: issueCashReceipt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueCashReceiptBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '404':
          description: '* `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '409':
          description: '* `CashReceiptAlreadyIssuedError`: 현금영수증이 이미 발급된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
      security:
      - bearerJwt: []
      - portOne: []
      x-portone-category: payment.cashReceipt
      x-portone-title: 현금 영수증 수동 발급
      x-portone-description: 현금 영수증 발급을 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/IssueCashReceiptError'
      tags:
      - Cash Receipts
components:
  schemas:
    PaymentAmountInput:
      title: 금액 세부 입력 정보
      description: 금액 세부 입력 정보
      type: object
      required:
      - total
      properties:
        total:
          type: integer
          format: int64
          title: 총 금액
        taxFree:
          type: integer
          format: int64
          title: 면세액
        vat:
          type: integer
          format: int64
          title: 부가세액
          description: '고객사에서 직접 계산이 필요한 경우 입력합니다.

            입력하지 않으면 면세 금액을 제외한 금액의 1/11 로 자동 계산됩니다.'
      x-portone-title: 금액 세부 입력 정보
    PgProvider:
      title: PG사 결제 모듈
      description: PG사 결제 모듈
      type: string
      enum:
      - HTML5_INICIS
      - PAYPAL
      - PAYPAL_V2
      - INICIS
      - DANAL
      - NICE
      - DANAL_TPAY
      - JTNET
      - UPLUS
      - NAVERPAY
      - KAKAO
      - SETTLE
      - KCP
      - MOBILIANS
      - KAKAOPAY
      - NAVERCO
      - SYRUP
      - KICC
      - EXIMBAY
      - SMILEPAY
      - PAYCO
      - KCP_BILLING
      - ALIPAY
      - PAYPLE
      - CHAI
      - BLUEWALNUT
      - SMARTRO
      - SMARTRO_V2
      - PAYMENTWALL
      - TOSSPAYMENTS
      - KCP_QUICK
      - DAOU
      - GALAXIA
      - TOSSPAY
      - KCP_DIRECT
      - SETTLE_ACC
      - SETTLE_FIRM
      - INICIS_UNIFIED
      - KSNET
      - PINPAY
      - NICE_V2
      - TOSS_BRANDPAY
      - WELCOME
      - TOSSPAY_V2
      - INICIS_V2
      - KPN
      - KCP_V2
      - HYPHEN
      - EXIMBAY_V2
      - INICIS_JP
      - PAYLETTER_GLOBAL
      - MOBILIANS_V2
      - TRIPLE_A
      - KICC_V2
      - INNOPAY
      - HECTO_GLOBAL
      x-portone-title: PG사 결제 모듈
      x-portone-enum:
        KICC: {}
        SYRUP: {}
        KCP_BILLING: {}
        SMARTRO_V2: {}
        CHAI: {}
        NICE_V2: {}
        KAKAO: {}
        DANAL: {}
        KAKAOPAY: {}
        EXIMBAY: {}
        ALIPAY: {}
        HTML5_INICIS: {}
        WELCOME: {}
        SMARTRO: {}
        PAYLETTER_GLOBAL: {}
        PAYCO: {}
        SMILEPAY: {}
        PAYMENTWALL: {}
        NAVERPAY: {}
        EXIMBAY_V2: {}
        INNOPAY: {}
        KCP_QUICK: {}
        NAVERCO: {}
        DAOU: {}
        GALAXIA: {}
        PINPAY: {}
        MOBILIANS_V2: {}
        INICIS_JP: {}
        SETTLE_ACC: {}
        TOSSPAY_V2: {}
        TOSSPAY: {}
        SETTLE_FIRM: {}
        INICIS: {}
        TOSS_BRANDPAY: {}
        JTNET: {}
        PAYPAL: {}
        DANAL_TPAY: {}
        KCP_DIRECT: {}
        SETTLE: {}
        MOBILIANS: {}
        UPLUS: {}
        HYPHEN: {}
        PAYPAL_V2: {}
        HECTO_GLOBAL: {}
        TRIPLE_A: {}
        KPN: {}
        KICC_V2: {}
        INICIS_V2: {}
        KCP_V2: {}
        INICIS_UNIFIED: {}
        BLUEWALNUT: {}
        NICE: {}
        TOSSPAYMENTS: {}
        PAYPLE: {}
        KSNET: {}
        KCP: {}
    IssueCashReceiptPaymentMethodType:
      title: 현금영수증 발급 가능 결제 수단
      description: 현금영수증 발급 가능 결제 수단
      type: string
      enum:
      - TRANSFER
      - VIRTUAL_ACCOUNT
      x-portone-title: 현금영수증 발급 가능 결제 수단
      x-portone-enum:
        TRANSFER:
          title: 계좌이체
        VIRTUAL_ACCOUNT:
          title: 가상계좌
    CashReceiptType:
      title: 발급 유형
      description: 발급 유형
      type: string
      enum:
      - PERSONAL
      - CORPORATE
      x-portone-title: 발급 유형
      x-portone-enum:
        PERSONAL:
          title: 소득공제용
        CORPORATE:
          title: 지출증빙용
    CashReceiptFilterInput:
      title: 현금영수증 다건 조회를 위한 입력 정보
      description: 현금영수증 다건 조회를 위한 입력 정보
      type: object
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: Merchant 사용자만 사용가능하며, 지정되지 않은 경우 고객사 전체 현금영수증을 조회합니다.
        timeRangeField:
          $ref: '#/components/schemas/CashReceiptTimeRangeField'
          title: 조회 기준 시점 유형
          description: 값을 입력하지 않으면 ISSUED_AT으로 설정됩니다.
        from:
          type: string
          format: date-time
          title: 조회 기준 시점 범위의 시작
          description: 값을 입력하지 않으면 end의 90일 전으로 설정됩니다.
        until:
          type: string
          format: date-time
          title: 조회 기준 시점 범위의 끝
          description: 값을 입력하지 않으면 현재 시점으로 설정됩니다.
        paymentId:
          type: string
          title: 고객사 결제 아이디
        isTest:
          type: boolean
          title: 테스트 결제 필터링
        orderName:
          type: string
          title: 주문명
        statuses:
          title: 현금영수증 발급 상태 리스트
          type: array
          items:
            $ref: '#/components/schemas/CashReceiptStatus'
          description: 값을 입력하지 않으면 필터링이 적용되지 않습니다.
        isManual:
          type: boolean
          title: 수동 발급 여부
        pgReceiptId:
          type: string
          title: PG사 현금영수증 발급 번호
        pgMerchantId:
          type: string
          title: PG 상점아이디
        pgProviders:
          title: PG사 결제 모듈 리스트
          type: array
          items:
            $ref: '#/components/schemas/PgProvider'
          description: 값을 입력하지 않으면 PG사 결제 모듈 필터링이 적용되지 않습니다.
        pgCompanies:
          title: PG사 리스트
          type: array
          items:
            $ref: '#/components/schemas/PgCompany'
          description: 값을 입력하지 않으면 PG사 필터링이 적용되지 않습니다.
        version:
          $ref: '#/components/schemas/PortOneVersion'
          title: 포트원 버전
        types:
          title: 현금영수증 유형 리스트
          type: array
          items:
            $ref: '#/components/schemas/CashReceiptType'
          description: 값을 입력하지 않으면 필터링이 적용되지 않습니다.
      x-portone-title: 현금영수증 다건 조회를 위한 입력 정보
    IssueCashReceiptError:
      title: IssueCashReceiptError
      oneOf:
      - $ref: '#/components/schemas/CashReceiptAlreadyIssuedError'
      - $ref: '#/components/schemas/ChannelNotFoundError'
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/PgProviderError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          CASH_RECEIPT_ALREADY_ISSUED: '#/components/schemas/CashReceiptAlreadyIssuedError'
          CHANNEL_NOT_FOUND: '#/components/schemas/ChannelNotFoundError'
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PG_PROVIDER: '#/components/schemas/PgProviderError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    GetCashReceiptsResponse:
      title: 현금영수증 다건 조회 성공 응답 정보
      description: 현금영수증 다건 조회 성공 응답 정보
      type: object
      required:
      - items
      - page
      properties:
        items:
          title: 조회된 현금영수증 리스트
          type: array
          items:
            $ref: '#/components/schemas/CashReceipt'
        page:
          $ref: '#/components/schemas/PageInfo'
          title: 조회된 페이지 정보
      x-portone-title: 현금영수증 다건 조회 성공 응답 정보
    GetCashReceiptsBody:
      title: GetCashReceiptsBody
      description: 현금영수증 다건 조회를 위한 입력 정보
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageInput'
          title: 요청할 페이지 정보
          description: '미 입력 시 number: 0, size: 10 으로 기본값이 적용됩니다.'
        sort:
          $ref: '#/components/schemas/CashReceiptSortInput'
          title: 정렬 조건
          description: '미 입력 시 sortBy: ISSUED_AT, sortOrder: DESC 으로 기본값이 적용됩니다.'
        filter:
          $ref: '#/components/schemas/CashReceiptFilterInput'
          title: 조회할 현금영수증 조건 필터
      x-portone-description: 현금영수증 다건 조회를 위한 입력 정보
    IssueCashReceiptResponse:
      title: 현금 영수증 발급 성공 응답
      description: 현금 영수증 발급 성공 응답
      type: object
      required:
      - cashReceipt
      properties:
        cashReceipt:
          $ref: '#/components/schemas/CashReceiptSummary'
      x-portone-title: 현금 영수증 발급 성공 응답
    IssueCashReceiptCustomerInputIdentityNumberType:
      title: 현금영수증 발급 시 고객 식별 정보 유형
      description: 현금영수증 발급 시 고객 식별 정보 유형
      type: string
      enum:
      - PHONE
      - CARD
      - BUSINESS
      x-portone-title: 현금영수증 발급 시 고객 식별 정보 유형
      x-portone-enum:
        PHONE:
          title: 휴대전화번호
        CARD:
          title: 카드번호
        BUSINESS:
          title: 사업자등록번호
    IssueFailedCashReceipt:
      title: 발급 실패
      description: 발급 실패
      type: object
      required:
      - status
      - merchantId
      - storeId
      - paymentId
      - orderName
      - isManual
      properties:
        status:
          type: string
          title: 현금영수증 상태
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        paymentId:
          type: string
          title: 결제 건 아이디
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 현금영수증 발급에 사용된 채널
        orderName:
          type: string
          title: 주문명
        isManual:
          type: boolean
          title: 수동 발급 여부
        statusUpdatedAt:
          type: string
          format: date-time
          title: 상태 업데이트 시점
      x-portone-title: 발급 실패
    CancelledCashReceipt:
      title: 발급 취소
      description: 발급 취소
      type: object
      required:
      - status
      - merchantId
      - storeId
      - paymentId
      - channel
      - amount
      - currency
      - orderName
      - isManual
      - issueNumber
      - issuedAt
      - cancelledAt
      properties:
        status:
          type: string
          title: 현금영수증 상태
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        paymentId:
          type: string
          title: 결제 건 아이디
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 현금영수증 발급에 사용된 채널
        amount:
          type: integer
          format: int64
          title: 결제 금액
        taxFreeAmount:
          type: integer
          format: int64
          title: 면세액
        vatAmount:
          type: integer
          format: int64
          title: 부가세액
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
        orderName:
          type: string
          title: 주문명
        isManual:
          type: boolean
          title: 수동 발급 여부
        type:
          $ref: '#/components/schemas/CashReceiptType'
          title: 현금영수증 유형
        pgReceiptId:
          type: string
          title: PG사 현금영수증 아이디
        issueNumber:
          type: string
          title: 승인번호
        url:
          type: string
          title: 현금영수증 URL
        issuedAt:
          type: string
          format: date-time
          title: 발급 시점
        cancelledAt:
          type: string
          format: date-time
          title: 취소 시점
        statusUpdatedAt:
          type: string
          format: date-time
          title: 상태 업데이트 시점
      x-portone-title: 발급 취소
    PageInput:
      title: 다건 조회 API 에 사용되는 페이지 입력 정보
      description: 다건 조회 API 에 사용되는 페이지 입력 정보
      type: object
      properties:
        number:
          type: integer
          format: int32
          title: 0부터 시작하는 페이지 번호
        size:
          type: integer
          format: int32
          title: 각 페이지 당 포함할 객체 수
      x-portone-title: 다건 조회 API 에 사용되는 페이지 입력 정보
    CashReceiptStatus:
      title: 현금영수증 발급 건 상태
      description: 현금영수증 발급 건 상태
      type: string
      enum:
      - ISSUED
      - CANCELLED
      - FAILED
      x-portone-title: 현금영수증 발급 건 상태
      x-portone-enum:
        ISSUED: {}
        CANCELLED: {}
        FAILED: {}
    PgCompany:
      title: PG사
      description: PG사
      type: string
      enum:
      - INICIS
      - NICE
      - KCP
      - DANAL
      - TOSSPAYMENTS
      - MOBILIANS
      - KICC
      - SMARTRO
      - DAOU
      - BLUEWALNUT
      - PAYPAL
      - ALIPAY
      - EXIMBAY
      - PAYMENTWALL
      - SETTLE
      - GALAXIA
      - NAVERPAY
      - KAKAOPAY
      - SMILEPAY
      - KAKAO
      - TOSSPAY
      - CHAI
      - PAYCO
      - PAYPLE
      - SYRUP
      - KSNET
      - WELCOME
      - JTNET
      - KPN
      - HYPHEN
      - PAYLETTER
      - TRIPLE_A
      - INNOPAY
      x-portone-title: PG사
      x-portone-enum:
        KICC: {}
        ALIPAY: {}
        SYRUP: {}
        PAYCO: {}
        PAYLETTER: {}
        CHAI: {}
        TOSSPAY: {}
        INICIS: {}
        SETTLE: {}
        KAKAO: {}
        DANAL: {}
        BLUEWALNUT: {}
        KAKAOPAY: {}
        EXIMBAY: {}
        WELCOME: {}
        SMARTRO: {}
        SMILEPAY: {}
        PAYMENTWALL: {}
        NAVERPAY: {}
        INNOPAY: {}
        GALAXIA: {}
        DAOU: {}
        JTNET: {}
        PAYPAL: {}
        MOBILIANS: {}
        HYPHEN: {}
        TRIPLE_A: {}
        KPN: {}
        NICE: {}
        TOSSPAYMENTS: {}
        PAYPLE: {}
        KSNET: {}
        KCP: {}
    IssueCashReceiptCustomerInput:
      title: 현금영수증 발급 시 고객 관련 입력 정보
      description: 현금영수증 발급 시 고객 관련 입력 정보
      type: object
      required:
      - identityNumber
      properties:
        identityNumber:
          type: string
          title: 고객 식별값
        identityNumberType:
          $ref: '#/components/schemas/IssueCashReceiptCustomerInputIdentityNumberType'
          title: 고객 식별값 유형
          description: 갤럭시아머니트리의 경우 필요합니다
        name:
          type: string
          title: 이름
        email:
          type: string
          title: 이메일
        phoneNumber:
          type: string
          title: 전화번호
      x-portone-title: 현금영수증 발급 시 고객 관련 입력 정보
    CashReceiptAlreadyIssuedError:
      title: 현금영수증이 이미 발급된 경우
      description: 현금영수증이 이미 발급된 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 현금영수증이 이미 발급된 경우
      x-portone-status-code: 409
    CashReceiptTimeRangeField:
      title: 현금영수증 다건 조회 시, 시각 범위를 적용할 필드
      description: 현금영수증 다건 조회 시, 시각 범위를 적용할 필드
      type: string
      enum:
      - ISSUED_AT
      - CANCELLED_AT
      - STATUS_UPDATED_AT
      x-portone-title: 현금영수증 다건 조회 시, 시각 범위를 적용할 필드
      x-portone-enum:
        ISSUED_AT:
          title: 발급 시각
        CANCELLED_AT:
          title: 취소 시각
        STATUS_UPDATED_AT:
          title: 상태 변경 시각
          description: 발급 상태의 경우 ISSUED_AT, 취소 상태의 경우 CANCELLED_AT
    PaymentProductType:
      title: 상품 유형
      description: 상품 유형
      type: string
      enum:
      - PHYSICAL
      - DIGITAL
      x-portone-title: 상품 유형
      x-portone-enum:
        PHYSICAL:
          title: 실물 상품
        DIGITAL:
          title: 디지털 상품
          description: 서비스, 온라인 상품 등 실물이 존재하지 않는 무형의 상품을 의미합니다.
    PageInfo:
      title: 반환된 페이지 결과 정보
      description: 반환된 페이지 결과 정보
      type: object
      required:
      - number
      - size
      - totalCount
      properties:
        number:
          type: integer
          format: int32
          title: 요청된 페이지 번호
        size:
          type: integer
          format: int32
          title: 요청된 페이지 당 객체 수
        totalCount:
          type: integer
          format: int32
          title: 실제 반환된 객체 수
      x-portone-title: 반환된 페이지 결과 정보
    PortOneVersion:
      title: 포트원 버전
      description: 포트원 버전
      type: string
      enum:
      - V1
      - V2
      x-portone-title: 포트원 버전
      x-portone-enum:
        V1: {}
        V2: {}
    GetCashReceiptsError:
      title: GetCashReceiptsError
      oneOf:
      - $ref: '#/components/schemas/ForbiddenError'
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/UnauthorizedError'
      discriminator:
        propertyName: type
        mapping:
          FORBIDDEN: '#/components/schemas/ForbiddenError'
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          UNAUTHORIZED: '#/components/schemas/UnauthorizedError'
    ForbiddenError:
      title: 요청이 거절된 경우
      description: 요청이 거절된 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 요청이 거절된 경우
      x-portone-status-code: 403
    CashReceiptSortInput:
      title: 현금영수증 다건 조회 시 정렬 조건
      description: 현금영수증 다건 조회 시 정렬 조건
      type: object
      properties:
        by:
          $ref: '#/components/schemas/CashReceiptSortBy'
          title: 정렬 기준 필드
          description: 어떤 필드를 기준으로 정렬할 지 결정합니다. 비워서 보낼 경우, ISSUED_AT이 기본값으로 설정됩니다.
        order:
          $ref: '#/components/schemas/SortOrder'
          title: 정렬 순서
          description: 어떤 순서로 정렬할 지 결정합니다. 비워서 보낼 경우, DESC(내림차순)가 기본값으로 설정됩니다.
      x-portone-title: 현금영수증 다건 조회 시 정렬 조건
    SelectedChannel:
      title: (결제, 본인인증 등에) 선택된 채널 정보
      description: (결제, 본인인증 등에) 선택된 채널 정보
      type: object
      required:
      - type
      - pgProvider
      - pgMerchantId
      properties:
        type:
          $ref: '#/components/schemas/SelectedChannelType'
          title: 채널 타입
        id:
          type: string
          title: 채널 아이디
        key:
          type: string
          title: 채널 키
        name:
          type: string
          title: 채널 명
        pgProvider:
          $ref: '#/components/schemas/PgProvider'
          title: PG사 결제 모듈
        pgMerchantId:
          type: string
          title: PG사 고객사 식별 아이디
      x-portone-title: (결제, 본인인증 등에) 선택된 채널 정보
    Currency:
      title: 통화
      description: 통화
      type: string
      enum:
      - KRW
      - USD
      - JPY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
      x-portone-title: 통화
      x-portone-enum:
        OMR:
          title: Rial Omani
        CUC:
          title: Peso Convertible
        BBD:
          title: Barbados Dollar
        PLN:
          title: Zloty
        SVC:
          title: El Salvador Colon
        BMD:
          title: Bermudian Dollar
        TJS:
          title: Somoni
        TND:
          title: Tunisian Dinar
        GNF:
          title: Guinean Franc
        SDG:
          title: Sudanese Pound
        MRU:
          title: Ouguiya
        XBB:
          title: Bond Markets Unit European Monetary Unit (E.M.U.-6)
        PKR:
          title: Pakistan Rupee
        FKP:
          title: Falkland Islands Pound
        MUR:
          title: Mauritius Rupee
        XAF:
          title: CFA Franc BEAC
        SAR:
          title: Saudi Riyal
        CAD:
          title: Canadian Dollar
        HKD:
          title: Hong Kong Dollar
        PYG:
          title: Guarani
        MGA:
          title: Malagasy Ariary
        UYI:
          title: Uruguay Peso en Unidades Indexadas (UI)
        AUD:
          title: Australian Dollar
        AMD:
          title: Armenian Dram
        YER:
          title: Yemeni Rial
        CHE:
          title: WIR Euro
        MMK:
          title: Kyat
        SEK:
          title: Swedish Krona
        TRY:
          title: Turkish Lira
        XBC:
          title: Bond Markets Unit European Unit of Account 9 (E.U.A.-9)
        KES:
          title: Kenyan Shilling
        GEL:
          title: Lari
        GTQ:
          title: Quetzal
        TZS:
          title: Tanzanian Shilling
        CUP:
          title: Cuban Peso
        ALL:
          title: Lek
        ERN:
          title: Nakfa
        BRL:
          title: Brazilian Real
        UGX:
          title: Uganda Shilling
        XUA:
          title: ADB Unit of Account
        GIP:
          title: Gibraltar Pound
        MZN:
          title: Mozambique Metical
        KRW:
          title: 대한민국 원화
        JOD:
          title: Jordanian Dinar
        IQD:
          title: Iraqi Dinar
        VUV:
          title: Vatu
        XXX:
          title: The codes assigned for transactions where no currency is involved
        UZS:
          title: Uzbekistan Sum
        BOV:
          title: Mvdol
        UAH:
          title: Hryvnia
        PEN:
          title: Sol
        KMF:
          title: 'Comorian Franc '
        DOP:
          title: Dominican Peso
        BDT:
          title: Taka
        LKR:
          title: Sri Lanka Rupee
        FJD:
          title: Fiji Dollar
        LSL:
          title: Loti
        BSD:
          title: Bahamian Dollar
        SRD:
          title: Surinam Dollar
        XTS:
          title: Codes specifically reserved for testing purposes
        SHP:
          title: Saint Helena Pound
        LRD:
          title: Liberian Dollar
        QAR:
          title: Qatari Rial
        BND:
          title: Brunei Dollar
        CDF:
          title: Congolese Franc
        SLE:
          title: Leone
        USN:
          title: US Dollar (Next day)
        VES:
          title: Bolívar Soberano
        TMT:
          title: Turkmenistan New Manat
        CHW:
          title: WIR Franc
        BGN:
          title: Bulgarian Lev
        JMD:
          title: Jamaican Dollar
        SZL:
          title: Lilangeni
        CZK:
          title: Czech Koruna
        ZMW:
          title: Zambian Kwacha
        UYU:
          title: Peso Uruguayo
        NPR:
          title: Nepalese Rupee
        EGP:
          title: Egyptian Pound
        AZN:
          title: Azerbaijan Manat
        CLP:
          title: Chilean Peso
        MOP:
          title: Pataca
        SCR:
          title: Seychelles Rupee
        HTG:
          title: Gourde
        VND:
          title: Dong
        LAK:
          title: Lao Kip
        BTN:
          title: Ngultrum
        GBP:
          title: Pound Sterling
        SSP:
          title: South Sudanese Pound
        XPD:
          title: Palladium
        TWD:
          title: New Taiwan Dollar
        DZD:
          title: Algerian Dinar
        MXN:
          title: Mexican Peso
        XDR:
          title: SDR (Special Drawing Right)
        ZWL:
          title: Zimbabwe Dollar
        AWG:
          title: Aruban Florin
        THB:
          title: Baht
        ISK:
          title: Iceland Krona
        LBP:
          title: Lebanese Pound
        SGD:
          title: Singapore Dollar
        MWK:
          title: Malawi Kwacha
        KZT:
          title: Tenge
        CRC:
          title: Costa Rican Colon
        WST:
          title: Tala
        DJF:
          title: Djibouti Franc
        LYD:
          title: Libyan Dinar
        NGN:
          title: Naira
        BIF:
          title: Burundi Franc
        AED:
          title: UAE Dirham
        CHF:
          title: Swiss Franc
        RWF:
          title: Rwanda Franc
        XBD:
          title: Bond Markets Unit European Unit of Account 17 (E.U.A.-17)
        INR:
          title: Indian Rupee
        CLF:
          title: Unidad de Fomento
        XOF:
          title: CFA Franc BCEAO
        COU:
          title: Unidad de Valor Real
        MXV:
          title: Mexican Unidad de Inversion (UDI)
        PGK:
          title: Kina
        CNY:
          title: Yuan Renminbi
        SYP:
          title: Syrian Pound
        VED:
          title: Bolívar Soberano
        RON:
          title: Romanian Leu
        AFN:
          title: Afghani
        PHP:
          title: Philippine Peso
        MDL:
          title: Moldovan Leu
        KHR:
          title: Riel
        XPT:
          title: Platinum
        COP:
          title: Colombian Peso
        DKK:
          title: Danish Krone
        KYD:
          title: Cayman Islands Dollar
        XPF:
          title: CFP Franc
        GMD:
          title: Dalasi
        MVR:
          title: Rufiyaa
        STN:
          title: Dobra
        TTD:
          title: Trinidad and Tobago Dollar
        PAB:
          title: Balboa
        XAU:
          title: Gold
        XAG:
          title: Silver
        JPY:
          title: 일본 엔화
        TOP:
          title: Pa’anga
        BWP:
          title: Pula
        MKD:
          title: Denar
        ARS:
          title: Argentine Peso
        HUF:
          title: Forint
        MYR:
          title: Malaysian Ringgit
        USD:
          title: 미국 달러
        SLL:
          title: Leone
        MAD:
          title: Moroccan Dirham
        RUB:
          title: Russian Ruble
        MNT:
          title: Tugrik
        BOB:
          title: Boliviano
        GYD:
          title: Guyana Dollar
        SBD:
          title: Solomon Islands Dollar
        XBA:
          title: Bond Markets Unit European Composite Unit (EURCO)
        BHD:
          title: Bahraini Dinar
        HNL:
          title: Lempira
        UYW:
          title: Unidad Previsional
        NZD:
          title: New Zealand Dollar
        XCD:
          title: East Caribbean Dollar
        XSU:
          title: Sucre
        KGS:
          title: Som
        AOA:
          title: Kwanza
        BZD:
          title: Belize Dollar
        IDR:
          title: Rupiah
        SOS:
          title: Somali Shilling
        NIO:
          title: Cordoba Oro
        GHS:
          title: Ghana Cedi
        ANG:
          title: Netherlands Antillean Guilder
        RSD:
          title: Serbian Dinar
        ILS:
          title: New Israeli Sheqel
        NOK:
          title: Norwegian Krone
        KWD:
          title: Kuwaiti Dinar
        NAD:
          title: Namibia Dollar
        ETB:
          title: Ethiopian Birr
        BYN:
          title: Belarusian Ruble
        KPW:
          title: North Korean Won
        EUR:
          title: Euro
        CVE:
          title: Cabo Verde Escudo
        ZAR:
          title: Rand
        IRR:
          title: Iranian Rial
        HRK:
          title: Kuna (Replaced by EUR)
        BAM:
          title: Convertible Mark
    SelectedChannelType:
      title: 채널 타입
      description: 채널 타입
      type: string
      enum:
      - LIVE
      - TEST
      x-portone-title: 채널 타입
      x-portone-enum:
        LIVE:
          title: 실 연동 채널
        TEST:
          title: 테스트 연동 채널
    PgProviderError:
      title: PG사에서 오류를 전달한 경우
      description: PG사에서 오류를 전달한 경우
      type: object
      required:
      - type
      - pgCode
      - pgMessage
      properties:
        type:
          type: string
        message:
          type: string
        pgCode:
          type: string
        pgMessage:
          type: string
      x-portone-title: PG사에서 오류를 전달한 경우
      x-portone-status-code: 502
    CashReceipt:
      title: 현금영수증 내역
      description: 현금영수증 내역
      oneOf:
      - $ref: '#/components/schemas/CancelledCashReceipt'
      - $ref: '#/components/schemas/IssueFailedCashReceipt'
      - $ref: '#/components/schemas/IssuedCashReceipt'
      discriminator:
        propertyName: status
        mapping:
          CANCELLED: '#/components/schemas/CancelledCashReceipt'
          ISSUED: '#/components/schemas/IssuedCashReceipt'
          ISSUE_FAILED: '#/components/schemas/IssueFailedCashReceipt'
      x-portone-title: 현금영수증 내역
      x-portone-discriminator:
        ISSUE_FAILED:
          title: 발급 실패
        ISSUED:
          title: 발급 완료
        CANCELLED:
          title: 발급 취소
    CashReceiptSortBy:
      title: 현금영수증 정렬 기준
      description: 현금영수증 정렬 기준
      type: string
      enum:
      - ISSUED_AT
      - CANCELLED_AT
      - STATUS_UPDATED_AT
      x-portone-title: 현금영수증 정렬 기준
      x-portone-enum:
        ISSUED_AT:
          title: 발급 시각
        CANCELLED_AT:
          title: 취소 시각
        STATUS_UPDATED_AT:
          title: 상태 변경 시각
          description: 발급 상태의 경우 ISSUED_AT, 취소 상태의 경우 CANCELLED_AT
    IssuedCashReceipt:
      title: 발급 완료
      description: 발급 완료
      type: object
      required:
      - status
      - merchantId
      - storeId
      - paymentId
      - channel
      - amount
      - currency
      - orderName
      - isManual
      - issueNumber
      - issuedAt
      properties:
        status:
          type: string
          title: 현금영수증 상태
        merchantId:
          type: string
          title: 고객사 아이디
        storeId:
          type: string
          title: 상점 아이디
        paymentId:
          type: string
          title: 결제 건 아이디
        channel:
          $ref: '#/components/schemas/SelectedChannel'
          title: 현금영수증 발급에 사용된 채널
        amount:
          type: integer
          format: int64
          title: 결제 금액
        taxFreeAmount:
          type: integer
          format: int64
          title: 면세액
        vatAmount:
          type: integer
          format: int64
          title: 부가세액
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
        orderName:
          type: string
          title: 주문명
        isManual:
          type: boolean
          title: 수동 발급 여부
        type:
          $ref: '#/components/schemas/CashReceiptType'
          title: 현금영수증 유형
        pgReceiptId:
          type: string
          title: PG사 현금영수증 아이디
        issueNumber:
          type: string
          title: 승인 번호
        url:
          type: string
          title: 현금영수증 URL
        issuedAt:
          type: string
          format: date-time
          title: 발급 시점
        statusUpdatedAt:
          type: string
          format: date-time
          title: 상태 업데이트 시점
      x-portone-title: 발급 완료
    InvalidRequestError:
      title: 요청된 입력 정보가 유효하지 않은 경우
      description: '요청된 입력 정보가 유효하지 않은 경우


        허가되지 않은 값, 올바르지 않은 형식의 요청 등이 모두 해당됩니다.'
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 요청된 입력 정보가 유효하지 않은 경우
      x-portone-description: 허가되지 않은 값, 올바르지 않은 형식의 요청 등이 모두 해당됩니다.
      x-portone-status-code: 400
    CashReceiptSummary:
      title: 현금영수증 내역
      description: 현금영수증 내역
      type: object
      required:
      - issueNumber
      - url
      - pgReceiptId
      properties:
        issueNumber:
          type: string
          title: 발행 번호
        url:
          type: string
          title: 현금 영수증 URL
        pgReceiptId:
          type: string
          title: PG사 현금영수증 아이디
      x-portone-title: 현금영수증 내역
    ChannelNotFoundError:
      title: 요청된 채널이 존재하지 않는 경우
      description: 요청된 채널이 존재하지 않는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 요청된 채널이 존재하지 않는 경우
      x-portone-status-code: 404
    IssueCashReceiptBody:
      title: 현금영수증 발급 요청 양식
      description: 현금영수증 발급 요청 양식
      type: object
      required:
      - paymentId
      - channelKey
      - type
      - orderName
      - currency
      - amount
      - customer
      properties:
        storeId:
          type: string
          title: 상점 아이디
          description: 접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 인증 정보의 상점 아이디를 사용합니다.
        paymentId:
          type: string
          title: 결제 건 아이디
          description: 외부 결제 건에 대한 수동 발급의 경우, 아이디를 직접 채번하여 입력합니다.
        channelKey:
          type: string
          title: 채널 키
        type:
          $ref: '#/components/schemas/CashReceiptType'
          title: 현금 영수증 유형
        orderName:
          type: string
          title: 주문명
        currency:
          $ref: '#/components/schemas/Currency'
          title: 통화
        amount:
          $ref: '#/components/schemas/PaymentAmountInput'
          title: 금액 세부 입력 정보
        productType:
          $ref: '#/components/schemas/PaymentProductType'
          title: 상품 유형
        customer:
          $ref: '#/components/schemas/IssueCashReceiptCustomerInput'
          title: 고객 정보
        paidAt:
          type: string
          format: date-time
          title: 결제 일자
        businessRegistrationNumber:
          type: string
          title: 사업자등록번호
          description: 웰컴페이먼츠의 경우에만 입력합니다.
        paymentMethod:
          $ref: '#/components/schemas/IssueCashReceiptPaymentMethodType'
          title: 결제 수단
          description: 웰컴페이먼츠의 경우에만 입력합니다.
      x-portone-title: 현금영수증 발급 요청 양식
    UnauthorizedError:
      title: 인증 정보가 올바르지 않은 경우
      description: 인증 정보가 올바르지 않은 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 인증 정보가 올바르지 않은 경우
      x-portone-status-code: 401
    SortOrder:
      title: 정렬 방식
      description: 정렬 방식
      type: string
      enum:
      - DESC
      - ASC
      x-portone-title: 정렬 방식
      x-portone-enum:
        DESC:
          title: 내림차순
        ASC:
          title: 오름차순
  securitySchemes:
    bearerJwt:
      type: http
      description: 'Authorization: Bearer `엑세스 토큰`'
      scheme: bearer
    portOne:
      type: http
      description: 'Authorization: PortOne `발급된 API 시크릿`'
      scheme: portone
x-portone-categories:
- id: payment
  title: 결제 관련 API
  description: 결제와 관련된 API 기능을 제공합니다.
  children:
  - id: payment.paymentSchedule
    title: 결제 예약 관련 API
    description: 결제 예약과 관련된 API 기능을 제공합니다.
  - id: payment.billingKey
    title: 빌링키 관련 API
    description: 빌링키와 관련된 API 기능을 제공합니다.
  - id: payment.cashReceipt
    title: 현금 영수증 관련 API
    description: 현금 영수증과 관련된 API 기능을 제공합니다.
  - id: payment.promotion
    title: 프로모션 관련 API
    description: 프로모션과 관련된 API 기능을 제공합니다.
  - id: payment.additionalFeature
    title: 결제 부가기능 관련 API
    description: 결제 부가기능과 관련된 API 기능을 제공합니다.
- id: identityVerification
  title: 본인인증 관련 API
  description: 본인인증과 관련된 API 기능을 제공합니다.
- id: pgSpecific
  title: 특정 PG사 관련 API
  description: 특정 PG사에 국한된 API 기능을 제공합니다.
- id: reconciliation
  title: 대사 서비스 API
  description: 거래 대사 및 정산 대사 관련 API 기능을 제공합니다.
- id: b2b
  title: 세금계산서 API
  description: 세금계산서 API 기능을 제공합니다.
  children:
  - id: b2b.counterparty
    title: 거래처 관련 API
    description: 거래처 관련 API 기능을 제공합니다.
  - id: b2b.taxInvoice
    title: 세금계산서 발행 관련 API
    description: 세금계산서 발행 관련 API 기능을 제공합니다.
- id: platform
  title: 파트너 정산 관련 API
  description: 파트너 정산 서비스 API 기능을 제공합니다.
  children:
  - id: platform.policy
    title: 정책 관련 API
    description: 파트너 정산에 적용할 정책에 관한 API 입니다.
  - id: platform.partner
    title: 파트너 관련 API
    description: 파트너 정산에 적용할 파트너에 관한 API 입니다.
  - id: platform.transfer
    title: 정산 상세내역 관련 API
    description: 파트너 정산 서비스의 정산 상세내역과 관련된 API 입니다.
  - id: platform.account
    title: 계좌 관련 API
    description: 파트너 정산 서비스의 계좌와 관련된 API 입니다.
  - id: platform.partnerSettlement
    title: 정산 내역 관련 API
    description: 파트너 정산 서비스의 정산 내역과 관련된 API 입니다.
  - id: platform.payout
    title: 지급 내역 관련 API
    description: 파트너 정산 서비스의 지급 내역과 관련된 API 입니다.
  - id: platform.bulkPayout
    title: 일괄 지급 내역 관련 API
    description: 파트너 정산 서비스의 일괄 지급 내역과 관련된 API 입니다.
  - id: platform.accountTransfer
    title: 이체 내역 관련 API
    description: 파트너 정산 서비스의 이체 내역과 관련된 API 입니다.
  - id: platform.bulkAccountTransfer
    title: 일괄 이체 내역 관련 API
    description: 파트너 정산 서비스의 일괄 이체 내역과 관련된 API 입니다.
  - id: platform.company
    title: 사업자 관련 API
    description: 파트너 정산 서비스의 사업자와 관련된 API 입니다.
- id: auth
  title: 인증 관련 API
  description: '인증과 관련된 API 기능을 제공합니다.

    접근 토큰 방식으로 인증하기를 원하는 경우, API 시크릿을 통해 토큰을 발급받은 후 Authorization 헤더에 `Bearer ACCESS_TOKEN` 형식으로 전달합니다.'
- id: paymentSession
  title: 결제 세션 API
  description: 결제 세션 생성 및 관리 API. 호스티드 체크아웃에 사용됩니다.
- id: checkoutProfile
  title: 체크아웃 프로필 API
  description: 체크아웃 프로필에서 결제 수단 목록을 조회하기 위한 API.
- id: ap
  title: AP API
  description: AP 기능을 제공합니다.
- id: common
  title: 공통 API
  description: 공통 API 기능을 제공합니다.
