openapi: 3.0.3
info:
  title: PortOne B2b Checkout Profiles API
  version: 1.16.0
servers:
- url: https://api.portone.io
  description: 운영환경 서버
tags:
- name: Checkout Profiles
paths:
  /checkout-profiles/evaluate:
    get:
      summary: 체크아웃 프로필에서 결제 수단 목록 조회
      description: '체크아웃 프로필에서 결제 수단 목록 조회


        주어진 금액 및 국가에서 사용 가능한 결제 수단 목록을 반환'
      operationId: evaluateCheckoutProfile
      parameters:
      - name: profileKey
        in: query
        description: 프로필 키
        required: true
        schema:
          type: string
        x-portone-title: 프로필 키
      - name: country
        in: query
        description: 국가
        required: true
        schema:
          $ref: '#/components/schemas/Country'
        x-portone-title: 국가
      - name: currency
        in: query
        description: 통화
        required: true
        schema:
          $ref: '#/components/schemas/Currency'
        x-portone-title: 통화
      - name: amount
        in: query
        description: 결제 금액
        required: true
        schema:
          type: integer
          format: int64
        x-portone-title: 결제 금액
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateCheckoutProfileResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateCheckoutProfileError'
        '404':
          description: '* `ProfileSettingsNotFoundError`: 프로필 설정이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateCheckoutProfileError'
      x-portone-category: checkoutProfile
      x-portone-title: 체크아웃 프로필에서 결제 수단 목록 조회
      x-portone-description: 주어진 금액 및 국가에서 사용 가능한 결제 수단 목록을 반환
      x-portone-error:
        $ref: '#/components/schemas/EvaluateCheckoutProfileError'
      tags:
      - Checkout Profiles
components:
  schemas:
    EvaluateCheckoutProfileError:
      title: EvaluateCheckoutProfileError
      oneOf:
      - $ref: '#/components/schemas/InvalidRequestError'
      - $ref: '#/components/schemas/ProfileSettingsNotFoundError'
      discriminator:
        propertyName: type
        mapping:
          INVALID_REQUEST: '#/components/schemas/InvalidRequestError'
          PROFILE_SETTINGS_NOT_FOUND: '#/components/schemas/ProfileSettingsNotFoundError'
    InvalidRequestError:
      title: 요청된 입력 정보가 유효하지 않은 경우
      description: '요청된 입력 정보가 유효하지 않은 경우


        허가되지 않은 값, 올바르지 않은 형식의 요청 등이 모두 해당됩니다.'
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 요청된 입력 정보가 유효하지 않은 경우
      x-portone-description: 허가되지 않은 값, 올바르지 않은 형식의 요청 등이 모두 해당됩니다.
      x-portone-status-code: 400
    Country:
      title: 국가
      description: 국가
      type: string
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
      x-portone-title: 국가
      x-portone-enum:
        CV:
          title: Cabo Verde
        MA:
          title: Morocco
        AO:
          title: Angola
        VN:
          title: Viet Nam
        IN:
          title: India
        KW:
          title: Kuwait
        ML:
          title: Mali
        ID:
          title: Indonesia
        JE:
          title: Jersey
        HM:
          title: Heard Island and McDonald Islands
        EG:
          title: Egypt
        BG:
          title: Bulgaria
        SG:
          title: Singapore
        SV:
          title: El Salvador
        BD:
          title: Bangladesh
        TC:
          title: Turks and Caicos Islands (the)
        TH:
          title: Thailand
        AT:
          title: Austria
        GQ:
          title: Equatorial Guinea
        TR:
          title: Türkiye
        HT:
          title: Haiti
        UM:
          title: United States Minor Outlying Islands (the)
        MH:
          title: Marshall Islands (the)
        MY:
          title: Malaysia
        RU:
          title: Russian Federation (the)
        NI:
          title: Nicaragua
        BZ:
          title: Belize
        KP:
          title: Korea (the Democratic People's Republic of)
        VE:
          title: Venezuela (Bolivarian Republic of)
        IL:
          title: Israel
        GD:
          title: Grenada
        GI:
          title: Gibraltar
        TN:
          title: Tunisia
        DM:
          title: Dominica
        MO:
          title: Macao
        PR:
          title: Puerto Rico
        NF:
          title: Norfolk Island
        TW:
          title: Taiwan (Province of China)
        KN:
          title: Saint Kitts and Nevis
        PH:
          title: Philippines (the)
        WF:
          title: Wallis and Futuna
        JO:
          title: Jordan
        ME:
          title: Montenegro
        ES:
          title: Spain
        AZ:
          title: Azerbaijan
        MR:
          title: Mauritania
        SM:
          title: San Marino
        BL:
          title: Saint Barthélemy
        PK:
          title: Pakistan
        NZ:
          title: New Zealand
        GP:
          title: Guadeloupe
        NA:
          title: Namibia
        JM:
          title: Jamaica
        AX:
          title: Åland Islands
        CM:
          title: Cameroon
        US:
          title: United States of America (the)
        GU:
          title: Guam
        SB:
          title: Solomon Islands
        MV:
          title: Maldives
        SI:
          title: Slovenia
        CW:
          title: Curaçao
        BH:
          title: Bahrain
        VG:
          title: Virgin Islands (British)
        HK:
          title: Hong Kong
        SD:
          title: Sudan (the)
        AD:
          title: Andorra
        RO:
          title: Romania
        LU:
          title: Luxembourg
        VC:
          title: Saint Vincent and the Grenadines
        FO:
          title: Faroe Islands (the)
        GL:
          title: Greenland
        BW:
          title: Botswana
        CF:
          title: Central African Republic (the)
        CI:
          title: Côte d'Ivoire
        KG:
          title: Kyrgyzstan
        BV:
          title: Bouvet Island
        KY:
          title: Cayman Islands (the)
        LY:
          title: Libya
        MM:
          title: Myanmar
        MZ:
          title: Mozambique
        IR:
          title: Iran (Islamic Republic of)
        EH:
          title: Western Sahara
        IQ:
          title: Iraq
        BB:
          title: Barbados
        SZ:
          title: Eswatini
        IE:
          title: Ireland
        FK:
          title: Falkland Islands (the) [Malvinas]
        NP:
          title: Nepal
        BE:
          title: Belgium
        AU:
          title: Australia
        TZ:
          title: Tanzania, the United Republic of
        UY:
          title: Uruguay
        SA:
          title: Saudi Arabia
        ZW:
          title: Zimbabwe
        MD:
          title: Moldova (the Republic of)
        HU:
          title: Hungary
        PG:
          title: Papua New Guinea
        AF:
          title: Afghanistan
        MU:
          title: Mauritius
        SL:
          title: Sierra Leone
        GT:
          title: Guatemala
        BO:
          title: Bolivia (Plurinational State of)
        TM:
          title: Turkmenistan
        NE:
          title: Niger (the)
        CL:
          title: Chile
        FI:
          title: Finland
        MN:
          title: Mongolia
        'NO':
          title: Norway
        GG:
          title: Guernsey
        EE:
          title: Estonia
        KM:
          title: Comoros (the)
        LT:
          title: Lithuania
        ER:
          title: Eritrea
        SH:
          title: Saint Helena, Ascension and Tristan da Cunha
        SY:
          title: Syrian Arab Republic (the)
        LC:
          title: Saint Lucia
        CC:
          title: Cocos (Keeling) Islands (the)
        PL:
          title: Poland
        CH:
          title: Switzerland
        ST:
          title: Sao Tome and Principe
        NG:
          title: Nigeria
        TF:
          title: French Southern Territories (the)
        KI:
          title: Kiribati
        LV:
          title: Latvia
        UG:
          title: Uganda
        CY:
          title: Cyprus
        MW:
          title: Malawi
        CG:
          title: Congo (the)
        MF:
          title: Saint Martin (French part)
        PM:
          title: Saint Pierre and Miquelon
        IS:
          title: Iceland
        BI:
          title: Burundi
        TK:
          title: Tokelau
        SE:
          title: Sweden
        AE:
          title: United Arab Emirates (the)
        KZ:
          title: Kazakhstan
        LB:
          title: Lebanon
        AR:
          title: Argentina
        GS:
          title: South Georgia and the South Sandwich Islands
        BF:
          title: Burkina Faso
        DJ:
          title: Djibouti
        BA:
          title: Bosnia and Herzegovina
        SJ:
          title: Svalbard and Jan Mayen
        FR:
          title: France
        GM:
          title: Gambia (the)
        HR:
          title: Croatia
        BS:
          title: Bahamas (the)
        RS:
          title: Serbia
        WS:
          title: Samoa
        GB:
          title: United Kingdom of Great Britain and Northern Ireland (the)
        LS:
          title: Lesotho
        UZ:
          title: Uzbekistan
        PF:
          title: French Polynesia
        AG:
          title: Antigua and Barbuda
        GW:
          title: Guinea-Bissau
        FJ:
          title: Fiji
        CO:
          title: Colombia
        ZM:
          title: Zambia
        AQ:
          title: Antarctica
        GF:
          title: French Guiana
        NU:
          title: Niue
        BN:
          title: Brunei Darussalam
        RW:
          title: Rwanda
        PT:
          title: Portugal
        SO:
          title: Somalia
        MT:
          title: Malta
        PW:
          title: Palau
        KH:
          title: Cambodia
        SX:
          title: Sint Maarten (Dutch part)
        TJ:
          title: Tajikistan
        KR:
          title: Korea (the Republic of)
        SS:
          title: South Sudan
        PY:
          title: Paraguay
        AM:
          title: Armenia
        MC:
          title: Monaco
        CX:
          title: Christmas Island
        TT:
          title: Trinidad and Tobago
        UA:
          title: Ukraine
        LI:
          title: Liechtenstein
        BR:
          title: Brazil
        PA:
          title: Panama
        MQ:
          title: Martinique
        NR:
          title: Nauru
        PN:
          title: Pitcairn
        GA:
          title: Gabon
        TG:
          title: Togo
        FM:
          title: Micronesia (Federated States of)
        GN:
          title: Guinea
        YT:
          title: Mayotte
        CD:
          title: Congo (the Democratic Republic of the)
        MG:
          title: Madagascar
        AI:
          title: Anguilla
        YE:
          title: Yemen
        HN:
          title: Honduras
        IT:
          title: Italy
        RE:
          title: Réunion
        DO:
          title: Dominican Republic (the)
        IO:
          title: British Indian Ocean Territory (the)
        GR:
          title: Greece
        AS:
          title: American Samoa
        ZA:
          title: South Africa
        GY:
          title: Guyana
        BY:
          title: Belarus
        LK:
          title: Sri Lanka
        BT:
          title: Bhutan
        OM:
          title: Oman
        CK:
          title: Cook Islands (the)
        KE:
          title: Kenya
        CZ:
          title: Czechia
        GH:
          title: Ghana
        MX:
          title: Mexico
        SK:
          title: Slovakia
        MK:
          title: North Macedonia
        DZ:
          title: Algeria
        QA:
          title: Qatar
        CU:
          title: Cuba
        BJ:
          title: Benin
        LA:
          title: Lao People's Democratic Republic (the)
        TL:
          title: Timor-Leste
        DK:
          title: Denmark
        VI:
          title: Virgin Islands (U.S.)
        NL:
          title: Netherlands (Kingdom of the)
        CA:
          title: Canada
        BM:
          title: Bermuda
        JP:
          title: Japan
        AW:
          title: Aruba
        TO:
          title: Tonga
        CN:
          title: China
        VU:
          title: Vanuatu
        AL:
          title: Albania
        ET:
          title: Ethiopia
        IM:
          title: Isle of Man
        SN:
          title: Senegal
        PE:
          title: Peru
        BQ:
          title: Bonaire, Sint Eustatius and Saba
        NC:
          title: New Caledonia
        MP:
          title: Northern Mariana Islands (the)
        GE:
          title: Georgia
        CR:
          title: Costa Rica
        VA:
          title: Holy See (the)
        PS:
          title: Palestine, State of
        EC:
          title: Ecuador
        TV:
          title: Tuvalu
        LR:
          title: Liberia
        MS:
          title: Montserrat
        TD:
          title: Chad
        SC:
          title: Seychelles
        DE:
          title: Germany
        SR:
          title: Suriname
    EvaluateCheckoutProfileResponse:
      title: 체크아웃 프로필 평가 성공 응답
      description: 체크아웃 프로필 평가 성공 응답
      type: object
      properties:
        methods:
          title: 사용 가능한 결제수단 목록
          type: array
          items:
            $ref: '#/components/schemas/EvaluatedCheckoutMethod'
          x-portone-title: 결제 수단
          properties:
            paymentMethod:
              title: 결제수단
            channelKey:
              title: 채널 키
      x-portone-title: 체크아웃 프로필 평가 성공 응답
    CheckoutPaymentMethod:
      title: 결제 수단
      description: 결제 수단
      type: string
      enum:
      - CARD_KR
      - N_PAY
      - KAKAO_PAY
      - TOSS_PAY
      - CARD_INTERNATIONAL
      - PAY_PAL
      - UNION_PAY
      - ALIPAY_CN
      - ALIPAY_HK
      - TRUE_MONEY
      - DANA
      - TOUCH_N_GO
      - G_CASH
      - WE_CHAT_PAY
      - KLARNA
      - E_CONTEXT
      - GRAB_PAY_MY
      - GRAB_PAY_SG
      - SHOPEE_PAY_TH
      - PAY_PAY
      - BPI
      - RABBIT_LINE_PAY
      - CONVENIENCE_STORE_JP
      - AMAZON_PAY
      - RAKUTEN_PAY
      - D_BARAI
      - AU_PAY
      - MERPAY
      x-portone-title: 결제 수단
      x-portone-enum:
        PAY_PAY: {}
        ALIPAY_HK: {}
        PAY_PAL: {}
        WE_CHAT_PAY: {}
        UNION_PAY: {}
        MERPAY: {}
        E_CONTEXT: {}
        G_CASH: {}
        CARD_KR: {}
        AU_PAY: {}
        SHOPEE_PAY_TH: {}
        N_PAY: {}
        AMAZON_PAY: {}
        CARD_INTERNATIONAL: {}
        GRAB_PAY_SG: {}
        GRAB_PAY_MY: {}
        KLARNA: {}
        RABBIT_LINE_PAY: {}
        KAKAO_PAY: {}
        RAKUTEN_PAY: {}
        TOSS_PAY: {}
        CONVENIENCE_STORE_JP: {}
        D_BARAI: {}
        DANA: {}
        TOUCH_N_GO: {}
        BPI: {}
        ALIPAY_CN: {}
        TRUE_MONEY: {}
    EvaluatedCheckoutMethod:
      title: 결제 수단
      description: 결제 수단
      type: object
      required:
      - paymentMethod
      - channelKey
      properties:
        paymentMethod:
          $ref: '#/components/schemas/CheckoutPaymentMethod'
          title: 결제수단
        channelKey:
          type: string
          title: 채널 키
      x-portone-title: 결제 수단
    Currency:
      title: 통화
      description: 통화
      type: string
      enum:
      - KRW
      - USD
      - JPY
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
      x-portone-title: 통화
      x-portone-enum:
        OMR:
          title: Rial Omani
        CUC:
          title: Peso Convertible
        BBD:
          title: Barbados Dollar
        PLN:
          title: Zloty
        SVC:
          title: El Salvador Colon
        BMD:
          title: Bermudian Dollar
        TJS:
          title: Somoni
        TND:
          title: Tunisian Dinar
        GNF:
          title: Guinean Franc
        SDG:
          title: Sudanese Pound
        MRU:
          title: Ouguiya
        XBB:
          title: Bond Markets Unit European Monetary Unit (E.M.U.-6)
        PKR:
          title: Pakistan Rupee
        FKP:
          title: Falkland Islands Pound
        MUR:
          title: Mauritius Rupee
        XAF:
          title: CFA Franc BEAC
        SAR:
          title: Saudi Riyal
        CAD:
          title: Canadian Dollar
        HKD:
          title: Hong Kong Dollar
        PYG:
          title: Guarani
        MGA:
          title: Malagasy Ariary
        UYI:
          title: Uruguay Peso en Unidades Indexadas (UI)
        AUD:
          title: Australian Dollar
        AMD:
          title: Armenian Dram
        YER:
          title: Yemeni Rial
        CHE:
          title: WIR Euro
        MMK:
          title: Kyat
        SEK:
          title: Swedish Krona
        TRY:
          title: Turkish Lira
        XBC:
          title: Bond Markets Unit European Unit of Account 9 (E.U.A.-9)
        KES:
          title: Kenyan Shilling
        GEL:
          title: Lari
        GTQ:
          title: Quetzal
        TZS:
          title: Tanzanian Shilling
        CUP:
          title: Cuban Peso
        ALL:
          title: Lek
        ERN:
          title: Nakfa
        BRL:
          title: Brazilian Real
        UGX:
          title: Uganda Shilling
        XUA:
          title: ADB Unit of Account
        GIP:
          title: Gibraltar Pound
        MZN:
          title: Mozambique Metical
        KRW:
          title: 대한민국 원화
        JOD:
          title: Jordanian Dinar
        IQD:
          title: Iraqi Dinar
        VUV:
          title: Vatu
        XXX:
          title: The codes assigned for transactions where no currency is involved
        UZS:
          title: Uzbekistan Sum
        BOV:
          title: Mvdol
        UAH:
          title: Hryvnia
        PEN:
          title: Sol
        KMF:
          title: 'Comorian Franc '
        DOP:
          title: Dominican Peso
        BDT:
          title: Taka
        LKR:
          title: Sri Lanka Rupee
        FJD:
          title: Fiji Dollar
        LSL:
          title: Loti
        BSD:
          title: Bahamian Dollar
        SRD:
          title: Surinam Dollar
        XTS:
          title: Codes specifically reserved for testing purposes
        SHP:
          title: Saint Helena Pound
        LRD:
          title: Liberian Dollar
        QAR:
          title: Qatari Rial
        BND:
          title: Brunei Dollar
        CDF:
          title: Congolese Franc
        SLE:
          title: Leone
        USN:
          title: US Dollar (Next day)
        VES:
          title: Bolívar Soberano
        TMT:
          title: Turkmenistan New Manat
        CHW:
          title: WIR Franc
        BGN:
          title: Bulgarian Lev
        JMD:
          title: Jamaican Dollar
        SZL:
          title: Lilangeni
        CZK:
          title: Czech Koruna
        ZMW:
          title: Zambian Kwacha
        UYU:
          title: Peso Uruguayo
        NPR:
          title: Nepalese Rupee
        EGP:
          title: Egyptian Pound
        AZN:
          title: Azerbaijan Manat
        CLP:
          title: Chilean Peso
        MOP:
          title: Pataca
        SCR:
          title: Seychelles Rupee
        HTG:
          title: Gourde
        VND:
          title: Dong
        LAK:
          title: Lao Kip
        BTN:
          title: Ngultrum
        GBP:
          title: Pound Sterling
        SSP:
          title: South Sudanese Pound
        XPD:
          title: Palladium
        TWD:
          title: New Taiwan Dollar
        DZD:
          title: Algerian Dinar
        MXN:
          title: Mexican Peso
        XDR:
          title: SDR (Special Drawing Right)
        ZWL:
          title: Zimbabwe Dollar
        AWG:
          title: Aruban Florin
        THB:
          title: Baht
        ISK:
          title: Iceland Krona
        LBP:
          title: Lebanese Pound
        SGD:
          title: Singapore Dollar
        MWK:
          title: Malawi Kwacha
        KZT:
          title: Tenge
        CRC:
          title: Costa Rican Colon
        WST:
          title: Tala
        DJF:
          title: Djibouti Franc
        LYD:
          title: Libyan Dinar
        NGN:
          title: Naira
        BIF:
          title: Burundi Franc
        AED:
          title: UAE Dirham
        CHF:
          title: Swiss Franc
        RWF:
          title: Rwanda Franc
        XBD:
          title: Bond Markets Unit European Unit of Account 17 (E.U.A.-17)
        INR:
          title: Indian Rupee
        CLF:
          title: Unidad de Fomento
        XOF:
          title: CFA Franc BCEAO
        COU:
          title: Unidad de Valor Real
        MXV:
          title: Mexican Unidad de Inversion (UDI)
        PGK:
          title: Kina
        CNY:
          title: Yuan Renminbi
        SYP:
          title: Syrian Pound
        VED:
          title: Bolívar Soberano
        RON:
          title: Romanian Leu
        AFN:
          title: Afghani
        PHP:
          title: Philippine Peso
        MDL:
          title: Moldovan Leu
        KHR:
          title: Riel
        XPT:
          title: Platinum
        COP:
          title: Colombian Peso
        DKK:
          title: Danish Krone
        KYD:
          title: Cayman Islands Dollar
        XPF:
          title: CFP Franc
        GMD:
          title: Dalasi
        MVR:
          title: Rufiyaa
        STN:
          title: Dobra
        TTD:
          title: Trinidad and Tobago Dollar
        PAB:
          title: Balboa
        XAU:
          title: Gold
        XAG:
          title: Silver
        JPY:
          title: 일본 엔화
        TOP:
          title: Pa’anga
        BWP:
          title: Pula
        MKD:
          title: Denar
        ARS:
          title: Argentine Peso
        HUF:
          title: Forint
        MYR:
          title: Malaysian Ringgit
        USD:
          title: 미국 달러
        SLL:
          title: Leone
        MAD:
          title: Moroccan Dirham
        RUB:
          title: Russian Ruble
        MNT:
          title: Tugrik
        BOB:
          title: Boliviano
        GYD:
          title: Guyana Dollar
        SBD:
          title: Solomon Islands Dollar
        XBA:
          title: Bond Markets Unit European Composite Unit (EURCO)
        BHD:
          title: Bahraini Dinar
        HNL:
          title: Lempira
        UYW:
          title: Unidad Previsional
        NZD:
          title: New Zealand Dollar
        XCD:
          title: East Caribbean Dollar
        XSU:
          title: Sucre
        KGS:
          title: Som
        AOA:
          title: Kwanza
        BZD:
          title: Belize Dollar
        IDR:
          title: Rupiah
        SOS:
          title: Somali Shilling
        NIO:
          title: Cordoba Oro
        GHS:
          title: Ghana Cedi
        ANG:
          title: Netherlands Antillean Guilder
        RSD:
          title: Serbian Dinar
        ILS:
          title: New Israeli Sheqel
        NOK:
          title: Norwegian Krone
        KWD:
          title: Kuwaiti Dinar
        NAD:
          title: Namibia Dollar
        ETB:
          title: Ethiopian Birr
        BYN:
          title: Belarusian Ruble
        KPW:
          title: North Korean Won
        EUR:
          title: Euro
        CVE:
          title: Cabo Verde Escudo
        ZAR:
          title: Rand
        IRR:
          title: Iranian Rial
        HRK:
          title: Kuna (Replaced by EUR)
        BAM:
          title: Convertible Mark
    ProfileSettingsNotFoundError:
      title: 프로필 설정이 존재하지 않는 경우
      description: 프로필 설정이 존재하지 않는 경우
      type: object
      required:
      - type
      properties:
        type:
          type: string
        message:
          type: string
      x-portone-title: 프로필 설정이 존재하지 않는 경우
      x-portone-status-code: 404
  securitySchemes:
    bearerJwt:
      type: http
      description: 'Authorization: Bearer `엑세스 토큰`'
      scheme: bearer
    portOne:
      type: http
      description: 'Authorization: PortOne `발급된 API 시크릿`'
      scheme: portone
x-portone-categories:
- id: payment
  title: 결제 관련 API
  description: 결제와 관련된 API 기능을 제공합니다.
  children:
  - id: payment.paymentSchedule
    title: 결제 예약 관련 API
    description: 결제 예약과 관련된 API 기능을 제공합니다.
  - id: payment.billingKey
    title: 빌링키 관련 API
    description: 빌링키와 관련된 API 기능을 제공합니다.
  - id: payment.cashReceipt
    title: 현금 영수증 관련 API
    description: 현금 영수증과 관련된 API 기능을 제공합니다.
  - id: payment.promotion
    title: 프로모션 관련 API
    description: 프로모션과 관련된 API 기능을 제공합니다.
  - id: payment.additionalFeature
    title: 결제 부가기능 관련 API
    description: 결제 부가기능과 관련된 API 기능을 제공합니다.
- id: identityVerification
  title: 본인인증 관련 API
  description: 본인인증과 관련된 API 기능을 제공합니다.
- id: pgSpecific
  title: 특정 PG사 관련 API
  description: 특정 PG사에 국한된 API 기능을 제공합니다.
- id: reconciliation
  title: 대사 서비스 API
  description: 거래 대사 및 정산 대사 관련 API 기능을 제공합니다.
- id: b2b
  title: 세금계산서 API
  description: 세금계산서 API 기능을 제공합니다.
  children:
  - id: b2b.counterparty
    title: 거래처 관련 API
    description: 거래처 관련 API 기능을 제공합니다.
  - id: b2b.taxInvoice
    title: 세금계산서 발행 관련 API
    description: 세금계산서 발행 관련 API 기능을 제공합니다.
- id: platform
  title: 파트너 정산 관련 API
  description: 파트너 정산 서비스 API 기능을 제공합니다.
  children:
  - id: platform.policy
    title: 정책 관련 API
    description: 파트너 정산에 적용할 정책에 관한 API 입니다.
  - id: platform.partner
    title: 파트너 관련 API
    description: 파트너 정산에 적용할 파트너에 관한 API 입니다.
  - id: platform.transfer
    title: 정산 상세내역 관련 API
    description: 파트너 정산 서비스의 정산 상세내역과 관련된 API 입니다.
  - id: platform.account
    title: 계좌 관련 API
    description: 파트너 정산 서비스의 계좌와 관련된 API 입니다.
  - id: platform.partnerSettlement
    title: 정산 내역 관련 API
    description: 파트너 정산 서비스의 정산 내역과 관련된 API 입니다.
  - id: platform.payout
    title: 지급 내역 관련 API
    description: 파트너 정산 서비스의 지급 내역과 관련된 API 입니다.
  - id: platform.bulkPayout
    title: 일괄 지급 내역 관련 API
    description: 파트너 정산 서비스의 일괄 지급 내역과 관련된 API 입니다.
  - id: platform.accountTransfer
    title: 이체 내역 관련 API
    description: 파트너 정산 서비스의 이체 내역과 관련된 API 입니다.
  - id: platform.bulkAccountTransfer
    title: 일괄 이체 내역 관련 API
    description: 파트너 정산 서비스의 일괄 이체 내역과 관련된 API 입니다.
  - id: platform.company
    title: 사업자 관련 API
    description: 파트너 정산 서비스의 사업자와 관련된 API 입니다.
- id: auth
  title: 인증 관련 API
  description: '인증과 관련된 API 기능을 제공합니다.

    접근 토큰 방식으로 인증하기를 원하는 경우, API 시크릿을 통해 토큰을 발급받은 후 Authorization 헤더에 `Bearer ACCESS_TOKEN` 형식으로 전달합니다.'
- id: paymentSession
  title: 결제 세션 API
  description: 결제 세션 생성 및 관리 API. 호스티드 체크아웃에 사용됩니다.
- id: checkoutProfile
  title: 체크아웃 프로필 API
  description: 체크아웃 프로필에서 결제 수단 목록을 조회하기 위한 API.
- id: ap
  title: AP API
  description: AP 기능을 제공합니다.
- id: common
  title: 공통 API
  description: 공통 API 기능을 제공합니다.
